---
# multilingual page pair id, this must pair with translations of this page. (This name must be unique)
lng_pair: the-deleted-scene
title: Regresso Ao Futuro - Os Dez Dias Que Faltam (A Cena Excluída)

# post specific
# if not specified, .name will be used from _data/owner/[language].yml
#author:"
# multiple category is not supported
category: Tecnologia e ciências aplicadas
# multiple tag entries are possible
tags: [filmes, Computação em tempo real, astronomia, histórias]
# thumbnail image for post
img: "https://miro.medium.com/v2/resize:fit:1400/1*83tWvmBM9pcRtwO0ftMuvQ@2x.jpeg"
# disable comments on this page
# comments_disable: true

# publish date
date: 2024-11-21 05:56:00 +0100
# seo
# if not specified, date will be used.
#meta_modify_date: 2021-08-10 11:32:53 +0900
# check the meta_common_description in _data/owner/[language].yml
#meta_description: ""

# optional
# please use the "image_viewer_on" below to enable image viewer for individual pages or posts (_posts/ or [language]/_posts folders).
# image viewer can be enabled or disabled for all posts using the "image_viewer_posts: true" setting in _data/conf/main.yml.
#image_viewer_on: true
# please use the "image_lazy_loader_on" below to enable image lazy loader for individual pages or posts (_posts/ or [language]/_posts folders).
# image lazy loader can be enabled or disabled for all posts using the "image_lazy_loader_posts: true" setting in _data/conf/main.yml.
#image_lazy_loader_on: true
# exclude from on site search
#on_site_search_exclude: true
# exclude from search engines
#search_engine_exclude: true
# to disable this page, simply set published: false or delete this file
# published: false
---

<!DOCTYPE html>
<html>
  <head>    
    <style>
        {% include_relative include_me/my_page.css %}
        {% include_relative include_me/video-container2.css %}
    </style>
    <title>Regresso Ao Futuro - A Cena Excluída</title>
  </head>
  <body>
    <blockquote>
      <h2>Na escola</h2>
      Eu e o Chris acabámos de chegar a casa dele. <br />
      Chris -&quot;Segue-me, está na garagem do meu pai&quot;<br />
      <hr>
      Durante toda a aula desta manhã, ele continuou a dizer que eu devia ir para casa com
      ele, pois tinha algo realmente incrível para me mostrar. <br />      
      Durante o nosso segundo intervalo, dirijo-me à cabine telefónica da secretaria da nossa escola.<br>
      <div class="image-container">
        <img src="https://img.bobshop.co.za/image/upload/f_auto,q_auto:eco,c_fit,w_800,h_800,d_notfound.png/user_images/567/2499567/170606143325_DSC_0959.jpg"
        alt="Stunning Old Telkom Coin Operated Public Phone">
      </div>
      Introduzo a minha moeda e marco o número, 0..5..7..3..5..2..9..<br>
      brr, brr, .. brr. <br>
      Olho para o brasão pendurado na parede do corredor.<br>
      <div class="image-container">
        <img src="https://heraldry-wiki.com/heraldrywiki/images/9/9f/Welkom_High_School.jpg" alt="crest">
      </div>
      br, ..studium, ..br, ingenio, ..br, ..br, favet <br>
      Mãe - &quot;esta&quot;<br>
      Eu - &quot;Olá, mãe,.. sou eu&quot;<br>
      Mãe - &quot;Manelito, meu filho, o que foi”, responde ela. <br>
      Consigo perceber pelo seu tom que está um pouco preocupada, nervosa por receber uma chamada minha. <br>
      Eu - &quot;Está tudo bem mãe, só te queria perguntar se..&quot;
    </blockquote>
    <blockquote>
      <h2>O DeLorean</h2>
      Chris - &quot;João, pára de sonhar acordado, segue-me até à garagem&quot;, repete, todo entusiasmado.. <br>
      Deixo cair a minha bicicleta no relvado da frente e sigo-o. <br />
      Eu - &quot;Não, não pode ser.&quot;<br />
      &quot;Como é possível?&quot;<br />
      Chris - &quot;Não, é real.&quot;<br />
      Ainda não conseguia acreditar no que via. <br />
      À minha frente estava o DeLorean prateado e preto.<br />
      <div class="image-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY1RjzQBfPFeRU3KcyVt8pYKbbmIl1tC1C2g&s" alt="DeLorean time machine">
        <p>Máquina do tempo DeLorean</p>
      </div>
      Me - &quot;Não, não pode ser, não pode ser real.&quot;<br />
      &quot;É apenas um filme.&quot;<br />
      Chris - &quot;Acredita, é mesmo, o meu avô é o
      <strong>Doc Brown</strong> e veio dos Estados Unidos para
      visite-nos.&quot;<br />
      Eu- &quot;não, não acredito nisso.&quot;<br />
      &quot;Podemos entrar?&quot;<br />
      Antes que Chris possa dizer alguma coisa, abro a porta e entro no
     DeLorean. <br />
      Eu - &quot;Ena, tantos botões, para que servem?&quot;<br />
      <div class="image-container">
        <img src="https://img.favpng.com/7/10/20/back-to-the-future-delorean-time-machine-display-device-software-widget-android-png-favpng-KQp3NGxb2tnXX07Rhs5D7vPfG.jpg" alt="">
      </div>
         <hr>
      Doc Brown - &quot;Chris, Chris&quot;, ... ele grita &quot;o que é que vocês fizeram?&quot;<br />
      Há um flash brilhante... <br />
      <div class="image-container">
        <img src="https://images.squarespace-cdn.com/content/v1/545f5b33e4b0719cb5aee3a5/1611864022269-X7BP4298Z6SD88ITW8K5/Screenshot+2021-01-28+at+08.32.56.png">
      </div>
      Chris - &quot;Não o consegui impedir, simplesmente entrou!!!&quot;<br />
      Doc Brown olha para o relógio - &quot;Meu Deus, ele marcou para 9 de outubro 1582&quot;<br />
      </blockquote>
      <blockquote>
        <h2>O pesadelo</h2>
        Ouço uma voz.. está muito distante. <br>
        Parece que estou preso,... está muito escuro à minha volta. <br>
        Ouço o meu nome..<br>
        É a minha mãe? <br>
        João, .. João. <br>
        Não, a minha mãe nunca tratou-me pelo primeiro nome, mas sim pelo um apelido. <br>
        Um nome que me foi dado pelo meu irmão mais velho...<br>
        João, volto a ouvir e sinto alguém a puxar-me para fora do túnel escuro. <br>
        Esposa - &quot;João, João, .. acorda, acorda, estás a ter um pesadelo.&quot;<br />
        <div class="image-container" >
            <img src="https://www.headachesurgery.com/wp-content/uploads/2017/11/bigstock-waking-up-from-nightmare-107801798.jpg" alt="Bad Dreams and Waking to a Migraine">
        </div>
        Eu - &quot;hu,.. o quê, uau&quot;<br>
        ... ainda estou a tremer. <br />
        Esposa - &quot;Estás bem?&quot;<br />
        Eu - &quot;O que é hoje?&quot;
        Esposa - &quot;Como assim?&quot;<br />
        Eu - &quot;Qual é a data de hoje?&quot;<br />
        Esposa - &quot;Quinta-feira.&quot;<br />
        I - &quot;Não, a data real?&quot;<br />
        Esposa - &quot;21 de Novembro de 2024&quot;, diz, um pouco irritada com uma pergunta tão idiota. <br />
        Eu - &quot;Shuu, graças a Deus, pensei que era 9 de Outubro de 1582&quot;<br />
        Esposa - &quot;Isso é um disparate, porque é que aquela data te iria dar um pesadelo, .. tão tonto&quot;, enquanto ela se ri. <br />
        &quot;...o meu marido tonto. <br />
        ... mas eu amo-te...&quot;<br />
        Ouvindo estas palavras, sei que está tudo bem...<br />
        ¯\_(ツ)_/¯<br />
      </blockquote>
    <blockquote>
        <h2>A história dos dez dias que não existiram.</h2>        
        Mais tarde, nesse dia, enquanto eu e a minha mulher almoçávamos. <br>
        Esposa - &quot;O que foi aquilo?&quot;
        I - &quot;Há&quot;<br>
        Esposa - &quot;O teu pesadel, bobo.&quot;
        Eu - &quot;Bem, deixei de existir.&quot;<br>
        Esposa - &quot;Ha&quot;<br>
        Eu - &quot;São uns dez dias que nunca existiram.&quot;<br>
        <div class="image-container">
          <img src="https://miro.medium.com/v2/resize:fit:1400/1*83tWvmBM9pcRtwO0ftMuvQ@2x.jpeg" alt ="The Curious Case of October 1582: A Month Unlike Any Other">
          <p><a href="https://medium.com/@uwmthedata/the-curious-case-of-october-1582-a-month-unlike-any-other-2a98a33d5609">The Curious Case of October 1582: A Month Unlike Any Other</a></p>
     </div>
     Eu - &quot;Os dias entre 5 e 14 de Outubro de 1582 simplesmente não existiram. <br> 
     As pessoas foram dormir na quinta-feira, dia 4 de outubro, e acordaram na sexta-feira, dia 15. <br>
     Imagine a confusão.&quot;<br>
     Esposa - &quot;Imaginem a quantidade de pessoas que perderam o aniversário nesse ano!<br>
     ..as senhoras, ficariam satisfeitas, .. um ano mais novas, .. de repente, .. ha, ..ha,ha.&quot;<br>
     Eu - &quot;10 dias completos foram excluídos do mês de Outubro desse ano. <br>
     ...mês com apenas 21 dias e muita confusão. <br>
      ..e todo este problema foi gerado pelas estrelas.&quot;</br>
      ...<br> ....<br> Faço uma pausa para organizar os meus pensamentos. <br>
      &quot;....então no meu sonho fui a casa do Chris, e...&quot;<br>
     Esposa - &quot;E tinhas de configurar o DeLorean para voltar a essa data no tempo. <br>
     &quot;Só tu meu marido, .. só tu&quot;<br>
     ... e rimos os dois muito...<br>      
        ¯\_(ツ)_/¯<br />
    </blockquote>
    <h2>A Astronomia e o Calendário</h2>
    <p>
      Quando dizemos que a astronomia é a primeira da ciência, os calendários são a prova disso. <br>
      Em diversos locais do globo, os calendários surgiram há milhares de anos, 
      todos eles baseados em ciclos astronómicos do Sol, da Lua ou de ambos ao mesmo tempo. <br>
    </p>
    <details>
      <summary>
        <div class="image-container">
          <img src="https://s3-us-west-2.amazonaws.com/courses-images/wp-content/uploads/sites/1095/2016/11/03154924/OSC_Astro_04_04_Stonehenge.jpg" alt="Stonehenge">
          <p class="my-p">Stonehenge</p>
        </div>
      </summary>
      <framed-text>
        <h3>Stonehenge</h3>
        <p>
          O antigo monumento conhecido como Stonehenge foi utilizado para monitorizar os movimentos do Sol e da Lua.<br>
          <a href="https://courses.lumenlearning.com/suny-astronomy/chapter/the-calendar/">O calendário</a>
        </p>
      </framed-text>
    </details> 
<p>
  Assim, a observação dos astros foi de fundamental importância para a definição dos calendários. <br>
Em Roma, considerada o berço da civilização ocidental, foi adotado um calendário lunisolar, ou seja, 
com base nos ciclos solares e lunares. <br>
Os meses começavam na Lua Nova e os anos no equinócio da primavera. <br>
Cada semana tinha 7 dias e era dominada por uma fase lunar. <br>
</p> 
 <p>
    Mas este calendário era muito problemático principalmente porque nos períodos lunar e solar
     os ciclos não se encaixavam. <br>
      Isto exigiu a adição de meses extra, com quantidades variáveis ​​de dias, para completar o ano. <br>
      Uma confusão que só foi resolvida no ano 46 a.C., com a adopção do Calendário Juliano.<br>
  </p>
  <p>
    <h3>Salve César</h3>
    <div class="image-container">
      <img src="https://c.tadst.com/gfx/600x337/julius-caesar-bust.jpg?1" alt="The Julian Calendar">
      <p><a href="https://www.timeanddate.com/calendar/julian-calendar.html">O Calendário Juliano</a></p>
    </div>
<details>
    <summary>
      O <span class="my-p">calendário juliano</span> adotou um ano de 365 dias e 6 horas, dividido em 12 
      meses de 30 ou 31 dias, para além de fevereiro, com 28, mas que ganhou 
      um dia extra de 4 em 4 anos. <br>
       Isto resolveu a questão do calendário, mas havia ainda um problema: o ano 
       não tem exactamente 365 dias e 6 horas. <br>
      Na verdade, são 365 dias, 5 horas, 48 ​​minutos e 46 segundos, o que faz com que o 
      duração do ano no calendário juliano, mais 11 minutos e 14 segundos 
      do que o ano tropical, ou seja, o tempo que a Terra demora a completar um 
      revolução. em redor do Sol. <br>
     Esta diferença acumulada ao longo dos séculos fez com que o calendário juliano 
     chegar ao ano de 1582 com um erro <strong>de mais de 10 dias.</strong> <br>
    </summary>
    <framed-text>
        <h4>Júlio César - O Calendário Juliano</h4>
        <p>            
          Em 45 a.C., Júlio César ordenou um calendário composto por doze meses baseado num ano solar. <br>
          Este calendário empregava um ciclo de três anos de 365 dias, seguido de um ano de 366 dias (ano bissexto). <br>
          Quando foi implementado pela primeira vez, o "Calendário Juliano" também alterou o início do ano de 1 de março para 
          1 de janeiro. <br>
          Contudo, após a queda do Império Romano no século V, o ano novo foi gradualmente 
          realinhado para coincidir com os festivais cristãos até que, no século VII, o dia de Natal marcou o 
          início do novo ano em muitos países.<br>
          No século IX, partes do sul da Europa começaram a observar o primeiro dia do novo ano, 25 de março, para 
          coincidir com o Dia da Anunciação (o feriado religioso nove meses antes do Natal que celebra o 
          A revelação do Anjo Gabriel à Virgem Maria de que seria a mãe do Messias). <br>
          O último dia do ano foi a 24 de março. 
          o ano novo até ao final do século XII. <br>            
          Como o ano começou em março, os registos referentes ao “primeiro mês” referem-se a março; para o segundo 
          mês pertencem a abril, etc., pelo que "o 19º do 12º mês" seria 19 de fevereiro. <br>
          De facto, em latim, setembro significa sétimo mês, outubro significa oitavo mês, novembro significa nono mês, 
          e dezembro significa décimo mês.  O uso de números, em vez de nomes, de meses foi especialmente prevalente em 
          Registos quacres.<br>
 <a href="https://libguides.ctstatelibrary.org/hg/colonialresearch/calendar">O Calendário Juliano</a>
        </p>
    </framed-text>
</details>
<h3>Sua Santidade, o Papa</h3>
<details>
    <summary>
        <p>    
        <span class="my-p">Gregory</span> reuniu um grupo de astrónomos e cientistas para corrigir o Juliano 
          calendário. <br>
           O objetivo era fazer com que o equinócio da primavera voltasse a ocorrer no dia 21 de março e corrigir 
           o erro de 10 dias que existia na altura. <br>
            A comissão elaborou uma proposta que foi avaliada por príncipes e 
            matemáticos e após 5 anos de estudos, a bula papal Inter Gravissimas 
            foi promulgado em 1582, instituindo o calendário gregoriano.<br>
        </p>
    </summary>
    <framed-text>
        <h4>Papa Gregório XIII</h4>
        <div class="image-container">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Ritratto_di_Gregorio_XIII_-_Passarotti.jpg/800px-Ritratto_di_Gregorio_XIII_-_Passarotti.jpg" alt="Gregory XIII">
          <p><a href="https://en.wikipedia.org/wiki/Pope_Gregory_XIII">Papa Gregório XIII</a></p>
        </div>
        <p>
          O calendário gregoriano foi instituído pelo Papa Gregório XIII em 1582 
          e rapidamente adotado por grande parte da Europa católica, mas não protestante. <br>
           A reforma alterou o sistema juliano, ou estilo antigo, dos anos bissextos e, por 
           retirando dez dias a outubro de 1582, ajustou o calendário da Páscoa 
           observância para que coincida melhor com a primavera. <br>
            Muitos dos países que adotaram o calendário gregoriano já reconheceram 
            1 de janeiro como o início do novo ano.<br> Até adotar a reforma
             calendário em 1752, no entanto, a Inglaterra datou o seu ano novo a 25 de março, ou 
             a observância do Lady Day (Festa da Anunciação). <br>
              Como resultado, muitos correspondentes e publicações em inglês, incluindo alguns 
              na Virgínia, assinalou estas datas entre 1 de janeiro e 25 de março, durante o 
              anos de 1582–1752, com dois anos: Estilo Antigo e Novo Estilo.<br>
<a href="https://encyclopediavirginia.org/entries/the-gregorian-calendar/">O Calendário Gregoriano</a>

        </p>
    </framed-text>
</details>
<div class="video-container2">
    <iframe src="https://www.youtube.com/embed/VV1lAJWFZqU?si=iwX4bfIJyuXNijdL"></iframe>
    <p>Quando perdemos 10 dias? Como funciona o calendário gregoriano? Neste dia - 4 de outubro </p>
</div>

<blockquote>
    <h2>De volta ao presente</h2>
    Agora nada disso aconteceu. (As cenas eliminadas)<br>
    Não houve tais cenas excluídas na série épica de filmes chamada 
    <a href="https://www.imdb.com/title/tt0088763/">Regresso ao futuro</a><br>
    Mas que bom teria sido se Marty McFly, um estudante de 17 anos, 
    enviou acidentalmente o DeLorean para 9 de outubro de 1582?<br>
    ¯\_(ツ)_/¯<br />
    <div class="video-container2">
        <iframe src="https://youtube.com/embed/48OkjEfr8wc?si=-CUaAoBu7EkJkHZg"></iframe>
        <p>Regresso ao futuro</p>
    </div>    
</blockquote>

{% include_relative include_me/comment_prt.html %}
<p>
 References:<br />
 <a href="https://olhardigital.com.br/2022/10/12/colunistas/a-historia-dos-dez-dias-que-nao-existiram/">A história dos dez dias que não existiram</a>
<br>
<a href="https://heraldry-wiki.com/wiki/Welkom_High_School">Welkom High School</a>
  </body>
</html>
