---
# multilingual page pair id, this must pair with translations of this page. (This name must be unique)
lng_pair: islamic_conquest_part3
title: A Conquista Islâmica - Parte 3 (A Sociedade e a Economia de al-Andalus)
# post specific
# if not specified, .name will be used from \_data/owner/[language].yml
# author: ""
# multiple category is not supported
category: História e eventos
# multiple tag entries are possible
tags: [história, história portuguesa, pessoas, conquista islâmica]
# thumbnail image for post
img: "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Arcos_de_herradura_moz%C3%A1rabe_de_Santiago_de_Pe%C3%B1alba.jpg/260px-Arcos_de_herradura_moz%C3%A1rabe_de_Santiago_de_Pe%C3%B1alba.jpg"
# disable comments on this page
# comments_disable: true
# publish date
date: 2023-12-25 08:00:00
# seo
# if not specified, date will be used.
# cmeta_modify_date: 2021-08-10 11:32:53 +0900
# check the meta_common_description in \_data/owner/[language].yml
#meta_description: ""
# optional
# please use the "image_viewer_on" below to enable image viewer for individual pages or posts (\_posts/ or [language]/\_posts folders).
# image viewer can be enabled or disabled for all posts using the "image_viewer_posts: true" setting in \_data/conf/main.yml.
# image_viewer_on: true
# please use the "image_lazy_loader_on" below to enable image lazy loader for individual pages or posts (\_posts/ or [language]/\_posts folders).
# image lazy loader can be enabled or disabled for all posts using the "image_lazy_loader_posts: true" setting in \_data/conf/main.yml.
# image_lazy_loader_on: true
# exclude from on site search
# on_site_search_exclude: true
# exclude from search engines
#search_engine_exclude: true
# to disable this page, simply set published: false or delete this file
# published: false
---

<!DOCTYPE html>
<html>
  <head>
    <style>
      {% include_relative include_me/my_page.css %}
      {% include_relative include_me/video-container2.css %}
      {% include_relative include_me/alert_box.css %}
      {% include_relative include_me/coffee.css %}
      {% include_relative include_me/sprite.css %}
    </style>
    <title>A Conquista Islâmica - Parte 3</title>
  </head>
  <body>
    {% include_relative include_me/notification_prt.html %}
    <button onclick="document.location.href='../prehistory/2023-09-7-prehistory-part1'"><< Início do artigo</button>
<button onclick="document.location.href='./2024-09-17-part2'">< artigo anterior</button>
    <blockquote>
      Acordei esta manhã (1 de outubro) e a minha agenda no meu portátil apareceu a minha frente, lembrando-me que era o nosso aniversário de noivado (eu e a minha mulher). <br />
      Esposa - “Desta vez apanhaste-me de surpresa, pois ela tinha-se esquecido”, e eu
      sorri. ❤️<br />
      <br />
      Um pouco mais tarde, estou sentado atrás do meu portátil, a trabalhar neste post, que
      é tudo sobre os muçulmanos na Península Ibérica. <br />
      Lembro-me de um momento especial no passado, - sabem, a minha mulher adora provocar-me. <br />
      Esposa - "Os vossos descendentes devem ser mais do lado árabe", diz ela e
      ri-se. <br />
      Agora ela está a referir-se à minha pele um pouco mais escura do que a dela. <br />
      Esposa - "Sabia que o
      <a href="../germanic-invasion/2024-04-09-part1">Os Vikings</a> também invadiram
      Portugal?"<br />
      <div id="tease">
        "... eu, sendo branco como o leite, os meus antepassados devem ter sido vikings",
        disse ela, riu-se e fugiu de mim.❤️<br />
        Eu - "Adoro o <strong>Top Deck 💭</strong> pensei para mim", e
        começo a persegui-la...😂🤣<br />         
       <iframe class = "sprite" id = "wife" src="https://giphy.com/embed/EbgayhB2fh02qLtMyz"></iframe>      
      <iframe class = "sprite" id= "husband" src="https://giphy.com/embed/Fj40wZT96MPfQiQjUa"></iframe> 
      </div>

      </blockquote>
    </blockquote>
       </blockquote>            
      <div class="image-container" style="width: 30%">
        <img
          src="https://m.media-amazon.com/images/I/51ipVys1wFL._SX679_.jpg"
          alt="Top Deck Chocolate"
        />
        <p>
          <a
            href="https://www.amazon.com/Cadbury-Dairy-Milk-Deck-Chocolate/dp/B01LTIQ7E4"
            >Cadbury Dairy Milk Top Deck Chocolate 180g</a
          >
        </p>
      </div>
    </blockquote>
    <blockquote>
      {% include_relative include_me/portugal_history/summary_prt.html %}
    </blockquote>
  
    <blockquote>
      <details>
        <summary>
          Sabia que os cristãos brancos da Península Ibérica foram escravizados pelos mouros durante cerca de 700 anos.<br>
          Antes de entrarmos nisso, pode
          <span class="my-p">clique/toque aqui</span> para obter uma chávena de café fresco
          antes de começar a ler este blogue.
        </summary>
        {% include_relative include_me/coffee.html %} 
        {% include_relative include_me/help_prt.html %}
      </details>
    </blockquote>
    <h2>A Sociedade e a Economia de al-Andalus</h2>
    <div class="image-container">
      <img
        src="https://cdn.britannica.com/23/243123-050-B44104E3/Locator-map-Maghreb.jpg"
        alt="https://images.app.goo.gl/Landpnd8b58tTwM18"
      />
      <p>Magrebe | História, localização, línguas, mapa e factos | Britânica</p>
    </div>
    <p>
      Os árabes iemenitas e os berberes estabeleceram-se na península. <br />
      A maioria dos muçulmanos eram berberes. <br />
      Havia uma pequena minoria de elite árabe. <br />
      Vieram da região do Magrebe, em África. <br />
      Os muçulmanos migradores chegaram à península em várias vagas ao longo de dois
      séculos e instalou-se sobretudo no Algarve e noutras regiões do sul. <br />
      Muito poucos trouxeram as suas famílias, eram na sua maioria jovens solteiros que
      pretendia casar com mulheres locais.<br />
    </p>
    <p>
      A sociedade muçulmana do al-Andalus estava socialmente dividida na aristocracia
      (hassa) e as pessoas comuns (amma).<br />
    </p>

    <h3>O Sistema Escravo</h3>
    <div class="image-container">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Targ_niewolnikow_w_Kordowie.jpg"
        alt="https://en.wikipedia.org/wiki/Slavery_in_al-Andalus"
      />
      <p>
        <a href="https://en.wikipedia.org/wiki/Slavery_in_al-Andalus"></a>Eslavo
        e escravos negros em Córdova; ilustração das Cantigas de Santa
        Maria
      </p>
    </div>
    <p>
      <details>
        <summary>
          <span class="my-p">O sistema escravista</span> estava enraizado em
          al-Andalus tanto quanto o tinha sido no período romano e visigótico. <br />
          Eles (muçulmanos) atacavam frequentemente o norte cristão da península e
          levavam escravos.<br />
        </summary>
        <framed-text>
          <h3>Slavery in al-Andalus</h3>
          <div class = "image-container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Califato_de_C%C3%B3rdoba_-_1000-en.svg/220px-Califato_de_C%C3%B3rdoba_-_1000-en.svg.png" alt="Califato de Córdoba - 1000-en">
            <p>Califado de Córdoba</p>
          </div>
          A escravatura existia tanto no al-Andalus muçulmano como no cristão
          reinos, e ambos os lados da fronteira religiosa seguiram o costume
          de não escravizar as pessoas da sua própria religião. <br />
          Consequentemente, os muçulmanos foram escravizados em terras cristãs, enquanto
          Cristãos e outros não muçulmanos foram escravizados no al-Andalus. <br />
          <br />
          Os mouros importaram escravos cristãos brancos desde o século VIII até
          o fim da Reconquista no final do século XV. <br />
          Os escravos europeus foram exportados da região cristã de Espanha como
          bem como na Europa de Leste e referido como Saqaliba. Escravatura Saqaliba
          em al-Andalus foi especialmente proeminente no Califado de Córdoba,
          onde as escravas brancas constituíam uma grande parte da escravatura
          concubinas do harém real, e os escravos brancos constituíam a maioria
          do pessoal administrativo nos tribunais e palácios.<br />
          <a href="https://en.wikipedia.org/wiki/Slavery_in_al-Andalus">Slavery in al-Andalus</a>
        </framed-text>        
      </details>
      <details><summary>Chegaram mesmo a trazer <span class ="my-p">escravos de outros reinos cristãos e da África Subsariana.</span><br />
      O termo Saqaliba era frequentemente utilizado no árabe medieval para se referir especificamente aos eslavos comercializados pelos árabes.<br> 
      </summary>
      <framed-text>
        <h3>Escravatura branca</h3>
        <div class="image-container">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Meccan_merchant_and_his_Circassian_slave.jpg/250px-Meccan_merchant_and_his_Circassian_slave.jpg" alt="An Arab merchant from Mecca (right) and his Circassian slave.">
          <p>Um comerciante árabe de Meca (à direita) e o seu escravo circassiano.</p>
        </div>
        A escravatura branca (também comércio de escravos brancos ou tráfico de escravos brancos) refere-se à escravização de qualquer um dos grupos étnicos europeus do mundo ao longo da história da humanidade, quer seja perpetrada por não-europeus ou por outros europeus. A escravatura na Roma antiga dependia frequentemente do estatuto socioeconómico e da filiação nacional de uma pessoa e, por isso, incluía os escravos europeus. Era também comum os europeus serem escravizados e comercializados no mundo muçulmano; As mulheres europeias, em particular, eram muito procuradas para serem concubinas nos haréns de muitos governantes muçulmanos. Exemplos de tal escravatura conduzida nos impérios islâmicos incluem o comércio de escravos árabe, o comércio de escravos na Barbária, o comércio de escravos otomano e o comércio de escravos no Mar Negro, entre outros.
        Muitos tipos diferentes de brancos foram escravizados.<br>
        No continente europeu, sob o feudalismo, existiam várias formas de estatuto aplicadas às pessoas (como servos, bordares, vilãos, vagabundos e escravos) que eram contratadas ou forçadas a trabalhar sem remuneração. <br><br>
        Durante o comércio árabe de escravos, os europeus estavam entre os negociados pelos árabes. <br>
        O termo Saqaliba era frequentemente utilizado nas fontes árabes medievais para se referir especificamente aos eslavos comercializados pelos árabes, mas também podia referir-se de forma mais ampla aos europeus centrais, meridionais e orientais que também eram comercializados pelos árabes, bem como a todos os escravos europeus .<br>
        Durante a era do Califado Fatímida (909-1171), a maioria dos escravos eram europeus retirados das costas europeias e durante os conflitos. <br>
        Da mesma forma, o comércio de escravos otomanos, que incluía cativos europeus, era frequentemente alimentado por ataques a territórios europeus ou eram levados quando crianças, sob a forma de um imposto de sangue, das famílias dos cidadãos dos territórios conquistados, para servirem o império numa variedade de funções. <br >
        Em meados do século XIX, o termo “escravatura branca” foi utilizado para descrever os escravos cristãos que eram vendidos para o comércio de escravos da Barbária, no Norte de África.<br>
        <a href="https://en.wikipedia.org/wiki/White_slavery">Escravatura branca</a>
      </framed-text>
      </details>
    </p>
    <p>
      A sociedade do al-Andalus era patriarcal e as mulheres tinham
      funções. <br />
      As mulheres das famílias reais e aristocráticas recebiam educação,
      e estudaram direito e religião e escreveram poesia requintada. <br />
      A maioria das outras mulheres eram escravas que serviam de prazer
      fornecedores ou que serviram a família real. <br />
      Os governantes da Andaluzia casavam muitas vezes com as suas concubinas escravas, aumentando assim
      o seu estatuto social.<br />
    </p>
    <h3>Influência arquitetónica árabe em Portugal</h3>
    <div class="image-container">
      <img
        src="https://www.countryhotelsportugal.com/wp-content/uploads/2015/07/aberturaSilves-castelo-1400-x-934-1400x600.jpg"
        alt="https://www.countryhotelsportugal.com/influencia-da-arquitetura-arabe-em-portugal/"
      />
      <p>
        <a
          href="https://www.countryhotelsportugal.com/influencia-da-arquitetura-arabe-em-portugal/"
          >Influência arquitetónica árabe em Portugal</a
        >
      </p>
    </div>
    <p>
      O domínio muçulmano do al-Andalus centrou-se fortemente no desenvolvimento de
      as cidades, pois eram uma sociedade de orientação urbana. <br />
      Durante o período omíada, grandes cidades, como Córdoba, Sevilha, Lisboa,
      Coimbra e Beja transformaram-se em grandes centros urbanos. <br />
    </p>

    <h3>Os cristãos e os judeus</h3>
    <div class="video-container2">
      <iframe
        src="https://www.youtube.com/embed/QVlDMpGNLyc?si=_xETX53A-xuDOUkp"
      ></iframe>
    </div>
    <p style="align-text: center">Lourosa viajou no tempo com Feira Moçárabe</p>
    <p>
      O número de cristãos foi significativamente reduzido. <br />
      Muitos dos que permaneceram converteram-se à fé dos seus conquistadores, mas muitos decidiram
      emigrar para outros países cristãos da Europa.<br />
      <details>
        <summary>
          Aqueles que permaneceram e permaneceram fiéis ao Cristianismo, mas aceitaram
          o governo dos muçulmanos foram chamados de
          <span class="my-p">Moçárabes.</span>
        </summary>
        <framed-text>
          <h3>Moçárabes</h3>
          <div class="image-container">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Arcos_de_herradura_moz%C3%A1rabe_de_Santiago_de_Pe%C3%B1alba.jpg/260px-Arcos_de_herradura_moz%C3%A1rabe_de_Santiago_de_Pe%C3%B1alba.jpg"
              alt="https://en.wikipedia.org/wiki/Mozarabs"
            />
            <p><a href="https://en.wikipedia.org/wiki/Mozarabs">Moçárabes</a></p>
          </div>
          Moçárabe era qualquer um dos cristãos espanhóis que viviam sob o domínio muçulmano
          (século VIII-XI), que, embora não convertido ao Islão, adotou o árabe
          língua e cultura. <br />
          Enclaves moçárabes separados estavam localizados nas grandes cidades muçulmanas,
          especialmente Toledo, Córdoba e Sevilha (Sevilha), onde formaram
          comunidades prósperas governadas pelos seus próprios funcionários e estavam sujeitas
          a um código jurídico visigótico. <br />
          Também mantiveram os seus próprios bispados, igrejas e mosteiros
          e traduziu a Bíblia para árabe. <br />
          Os moçárabes acabaram por se deslocar para o norte da Península Ibérica.
          Península, trazendo consigo o estilo arquitetónico do Islão
          Córdoba, caracterizada pelo arco em ferradura e pela cúpula nervurada.<br />
          <a href="https://www.britannica.com/topic/Selkup">Moçárabe</a>
        </framed-text>
      </details>
      <br />
    </p>
    <p>
      Os moçárabes tornaram-se uma minoria no al-Andalus no século XI. <br />
      Os judeus também estiveram presentes, embora em número muito reduzido.
    </p>
</p>
{% include_relative include_me/comment_prt.html %}
<p>
    <p>
      References:<br />
      <a
        href="https://www.amazon.com/History-Portugal-Captivating-Portuguese-Countries/dp/1637165579"
        >History of Portugal</a
      ><br />
    </p>
    <button onclick="document.location.href='../prehistory/2023-09-7-prehistory-part1'"><< Start of article</button>
<button onclick="document.location.href='./2024-09-17-part2'">< previous article</button>
   <script>
   {% include_relative include_me/js/timeout.js %}
   {% include_relative include_me/js/husband_chases_wife.js %}
   </script> 
  </body>
</html>
