---
# multilingual page pair id, this must pair with translations of this page. (This name must be unique)
lng_pair: islamic_conquest_part4
title: A Conquista Islâmica - Parte 4 (Cristianismo e Judaísmo sob o Domínio Muçulmano)
# post specific
# if not specified, .name will be used from \_data/owner/[language].yml
# author: ""
# multiple category is not supported
category: História e eventos
# multiple tag entries are possible
tags: [história, história portuguesa, pessoas, conquista islâmica]
# thumbnail image for post
img: "https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Inspecting_New_Arrivals_by_Giulio_Rosati_2.jpg/250px-Inspecting_New_Arrivals_by_Giulio_Rosati_2.jpg"
# disable comments on this page
# comments_disable: true
# publish date
date: 2023-12-31 08:00:00
# seo
# if not specified, date will be used.
# meta_modify_date: 2021-08-10 11:32:53 +0900
# check the meta_common_description in \_data/owner/[language].yml
#meta_description: ""
# optional
# please use the "image_viewer_on" below to enable image viewer for individual pages or posts (\_posts/ or [language]/\_posts folders).
# image viewer can be enabled or disabled for all posts using the "image_viewer_posts: true" setting in \_data/conf/main.yml.
# image_viewer_on: true
# please use the "image_lazy_loader_on" below to enable image lazy loader for individual pages or posts (\_posts/ or [language]/\_posts folders).
# image lazy loader can be enabled or disabled for all posts using the "image_lazy_loader_posts: true" setting in \_data/conf/main.yml.
# image_lazy_loader_on: true
# exclude from on site search
# on_site_search_exclude: true
# exclude from search engines
#search_engine_exclude: true
# to disable this page, simply set published: false or delete this file
# published: false
---

<!DOCTYPE html>
<html>
  <head>
    <style>
        {% include_relative include_me/my_page.css %}
        {% include_relative include_me/video-container2.css %}
        {% include_relative include_me/alert_box.css %}
        {% include_relative include_me/coffee.css %}
      </style>
    <title>A Conquista Islâmica - Parte 4</title>
  </head>
  <body>
    {% include_relative include_me/notification_prt.html %}
    <button onclick="document.location.href='../prehistory/2023-09-7-prehistory-part1'"><< Início do artigo</button>
<button onclick="document.location.href='./2024-10-01-part3'">< artigo anterior</button>
    <blockquote>
      Os raios de sol brilham pelas frinchas das persianas do meu quarto. <br />
      Ouço o sino da igreja a tocar, é bem alto, está a ver, já que eu moro
      pela estrada da principal igreja católica. <br />
      Espreito por uma das frinchas da persiana e vejo duas senhoras idosas
      caminhando rapidamente em direção à igreja. <br />
      A minha mente viaja para outra época, uma época em que isso não era permitido.<br />
      ¯\_(ツ)_/¯<br>
    </blockquote>
    <h1>O Cristianismo e o Judaísmo sob o domínio muçulmano</h1>
    <p>
       <div class="image-container">
        <img src="https://cdn.britannica.com/43/172843-050-289462A4/Market-Warsaw-Ghetto-1941.jpg?w=300" alt="Ghetto">
        <p>Gueto</p>
       </div>
       <details>
        <summary>
          Na maioria das grandes cidades, as mesquitas substituíram as igrejas. <br />
          Os cristãos foram confinados em <span class="my-p">guetos.</span><br />
          Os cristãos e os judeus foram proibidos de se estabelecerem em qualquer outro lugar, tal como um rebanho de animais,
          guardado numa caneta. <br />
          Os sacerdotes foram libertados dos seus
          deveres <strong>e as igrejas eram muitas vezes proibidas de tocar os sinos dentro das
            cidades.</strong
            ><br />           
        </summary>
        <framed-text>
            <h2>gueto</h2>
            Gueto, antigamente uma rua ou um bairro de uma cidade separada legalmente 
            área de residência forçada. <br>
            Em alguns países muçulmanos, foram aplicados sistemas rígidos de gueto com 
            restrições quanto ao tamanho das casas e portas. <br>
             O nome gueto, provavelmente derivado de uma fundição de ferro e  
             foi utilizado pela primeira vez em Veneza em 1516.<br>
             <a href="https://www.britannica.com/topic/ghetto">gueto</a>
        </framed-text>
       </details>   
    </p>
    <p>
      <div class="image-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Inspecting_New_Arrivals_by_Giulio_Rosati_2.jpg/250px-Inspecting_New_Arrivals_by_Giulio_Rosati_2.jpg" alt="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Inspecting_New_Arrivals_by_Giulio_Rosati_2.jpg/250px-Inspecting_New_Arrivals_by_Giulio_Rosati_2.jpg">
        <p>Giulio Rosati, Inspecção dos recém-chegados, 1858–1917, belezas circassianas</p>
      </div>
      Os homens muçulmanos eram autorizados a casar com mulheres cristãs ou a tomá-las como concubinas,
      mas os homens cristãos não podiam fazer o mesmo com as mulheres muçulmanas.<br>
    </p>
    <blockquote>
      <details>
        <summary>
          Já ouviu falar da <span class="my-p">lei das cem donzelas?</span><br>
          Conta-se que entre os séculos VIII e IX um monarca árabe de Córdova instituiu uma 
          lei que 100 donzelas deveriam ser entregues anualmente ao seu reino, para servirem de escravas, 
          para seu prazer ou até mesmo esposas.<br>
          ¯\_(ツ)_/¯<br>
        </summary>
        <iframe style="height:400px" src="./2024-01-13-guesto-ansures">
        </iframe>
      </details>
    </blockquote>    
     <p>
      O latim foi substituído pela língua árabe. <br>
      Todos os cristãos tiveram de se adaptar à língua, cultura e educação árabes.<br> 
     </p>
     <blockquote>
      <details>
        <summary>
          No dia 31 de Dezembro de 2023 publiquei um blogue sobre a <span class="my-p">influência árabe na 
          língua portuguesa.</span><br>
          ¯\_(ツ)_/¯<br>
        </summary>
        <iframe style="height:400px" src="./2023-12-31-arabic-language">
        </iframe>
      </details>      
     </blockquote>         
     <details>
      <summary>
        <div style="width:50%" class="image-container">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Mosque.svg/100px-Mosque.svg.png" alt="">
          <p>The Spread Of Islam</p>
        </div>
        Os cristãos pagavam impostos mais elevados do que os residentes muçulmanos. <br> 
        Houve um incentivo sempre presente para abandonar o Cristianismo e converter-se ao Islão, o que
        a maioria da população acabou por fazê-lo. <br> 
        A <span class="my-p">islamização </span>da península levou ao enfraquecimento da Igreja cristã e, em breve,
        lutou para sobreviver. <br>
        Os mosteiros continuaram a funcionar, sobretudo nos territórios a norte do Mondego, mas nada 
        é conhecido sobre os mosteiros do sul.<br>
      </summary>
      <framed-text>
        <h2>Islamização</h2>
        A propagação do Islão estende-se por quase 1.400 anos. <br>
        As primeiras conquistas muçulmanas que ocorreram após a morte de Maomé em 632 d.C. 
        a criação dos califados, expandindo-se por uma vasta área geográfica; conversão para 
        O Islão foi impulsionado pelas forças árabes muçulmanas que se expandiram por vastos territórios e construíram 
        estruturas imperiais ao longo do tempo. <br>
        A maior parte da expansão significativa ocorreu durante o reinado do Rāshidūn 
        califas de 632 a 661 d.C., que foram os primeiros quatro sucessores de Maomé. <br>
        Estes primeiros califados, juntamente com a economia e o comércio muçulmanos, a Idade de Ouro Islâmica,
        e a era dos impérios islâmicos da pólvora, resultou na expansão do Islão para fora do 
        Meca em direção aos oceanos Índico, Atlântico e Pacífico e à criação do mundo muçulmano.<br>
        <a href="https://en.wikipedia.org/wiki/Spread_of_Islam">Propagação do Islão</a> 
      </framed-text>
    </details>
    <p>
      <ul>
        O sul do que é hoje Portugal teve dois grandes locais de peregrinação cristã:
        <li> O túmulo de São Vicente
          <div class="video-container2">
            <iframe src="https://www.youtube.com/embed/eE14RzB3o1E?si=JjTp-2YEBj7TGHmJ"></iframe>
          </div>
          <p style="text-align: center">Portugal - Cabo de São Vicente</p>
        </li>
        <li>O santuário da Virgem Maria em Faro.
          <div class="video-container2">
            <iframe src="https://www.youtube.com/embed/XwurZJVNs9Y?si=UXItd0tH_QnZFTKc"></iframe>
          </div>
          <p style="text-align: center">Sé Catedral de Santa Maria de Faro</p>
        </li>
      </ul>
      As autoridades muçulmanas respeitaram imenso estes locais de peregrinação e nunca os perturbaram. <br>
      Vários cristãos resistiram ao domínio muçulmano e foram executados e tornaram-se mártires. <br>
      Um deles foi São Sisnando, executado em Évora em 851.
     </p>
     <blockquote>
      Fiquem atentos ao meu post sobre <strong>SESNANDO DAVIDES O HERÓI IMPROVÁVEL</strong> que irei postar 
      num futuro próximo.<br>
      ¯\_(ツ)_/¯<br>
     </blockquote>
     {% include_relative include_me/comment_prt.html %}
     <p>
      Referências:<br />
      <a
        href="https://www.amazon.com/History-Portugal-Captivating-Portuguese-Countries/dp/1637165579"
        >History of Portugal</a
      ><br />
      <a href="https://thealgarvefamily.com/cabo-sao-vicente-algarve/">Cape St.Vincent, Portugal – a visitors’ guide</a><br>
      <a href="https://en.wikipedia.org/wiki/History_of_concubinage_in_the_Muslim_world">History of concubinage in the Muslim world</a><br>
    </p>
    <button onclick="document.location.href='../prehistory/2023-09-7-prehistory-part1'"><< Início do artigo</button>
<button onclick="document.location.href='./2024-10-01-part3'">< artigo anterior</button>
<script>{% include_relative include_me/js/timeout.js %}</script>
  </body>
</html>
