---
# multilingual page pair id, this must pair with translations of this page. (This name must be unique)
lng_pair: the-deleted-scene
title: Back To The Future - The Ten Missing Days (The Deleted Scene)

# post specific
# if not specified, .name will be used from _data/owner/[language].yml
#author:"
# multiple category is not supported
category: Technology and applied sciences
# multiple tag entries are possible
tags: [computing, real-time computing, astronomy]
# thumbnail image for post
img: "https://miro.medium.com/v2/resize:fit:1400/1*83tWvmBM9pcRtwO0ftMuvQ@2x.jpeg"
# disable comments on this page
# comments_disable: true

# publish date
date: 2024-11-21 05:56:00 +0100
# seo
# if not specified, date will be used.
#meta_modify_date: 2021-08-10 11:32:53 +0900
# check the meta_common_description in _data/owner/[language].yml
#meta_description: ""

# optional
# please use the "image_viewer_on" below to enable image viewer for individual pages or posts (_posts/ or [language]/_posts folders).
# image viewer can be enabled or disabled for all posts using the "image_viewer_posts: true" setting in _data/conf/main.yml.
#image_viewer_on: true
# please use the "image_lazy_loader_on" below to enable image lazy loader for individual pages or posts (_posts/ or [language]/_posts folders).
# image lazy loader can be enabled or disabled for all posts using the "image_lazy_loader_posts: true" setting in _data/conf/main.yml.
#image_lazy_loader_on: true
# exclude from on site search
#on_site_search_exclude: true
# exclude from search engines
#search_engine_exclude: true
# to disable this page, simply set published: false or delete this file
# published: false
---

<!DOCTYPE html>
<html>
  <head>    
    <style>
        {% include_relative include_me/my_page.css %}
        {% include_relative include_me/video-container2.css %}
    </style>
    <title>Back To The Future - The Deleted Scene</title>
  </head>
  <body>
    <blockquote>
        <h2>At School</h2>
      Chris and I have just arrived at his house.<br />
      Chris -&quot;Follow me, its in my dad's garage&quot;<br />
      <hr>
      Throughout school this morning, he kept on saying that I must go home with
      him as he had something really awesome to show me.<br />      
      During our second break, I go to the phone booth at the offices of our school.<br>
      <div class="image-container">
        <img src="https://img.bobshop.co.za/image/upload/f_auto,q_auto:eco,c_fit,w_800,h_800,d_notfound.png/user_images/567/2499567/170606143325_DSC_0959.jpg"
        alt="Stunning Old Telkom Coin Operated Public Phone">
      </div>
      I insert my coin and dial the number, 0..5..7..3..5..2..9..<br>
      brr, brr, .. brr.<br>
      I stare at the crest hanging on the wall in the hallway.<br>
      <div class="image-container">
        <img src="https://heraldry-wiki.com/heraldrywiki/images/9/9f/Welkom_High_School.jpg" alt="crest">
      </div>
      br, ..studium, ..br, ingenio, ..br, ..br, favet <br>
      Mom - &quot;esta&quot;<br>
      Me - &quot;Olá, mae,.. sou eu&quot;<br>
      Mom - &quot;Manelito, meu filho, o que foi", she replies.<br>
      I can hear from her tone that she is slightly worried, unnerved to get a call from me.<br>
      Me - &quot;Está tudo bem mãe, eu só queria te perguntar se..&quot;
    </blockquote>
    <blockquote>
      <h2>The DeLorean</h2>
      Chris - &quot;João, stop day dreaming, follow me to the garage&quot;, he repeats, all excited.. <br>
      I drop my bicycle on the front lawn and follow him.<br />
      Me - &quot;No, it can't be.&quot;<br />
      &quot;How is it even possible?&quot;<br />
      Chris - &quot;No, it's real.&quot;<br />
      I still could not believe my eyes.<br />
      In the front of me was the silver and black DeLorean.<br />
      <div class="image-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY1RjzQBfPFeRU3KcyVt8pYKbbmIl1tC1C2g&s" alt="DeLorean time machine">
        <p>DeLorean time machine</p>
      </div>
      Me - &quot;No it can't be, it can't be real.&quot;<br />
      &quot;It's just a movie.&quot;<br />
      Chris - &quot;Believe me, it's really, my grandpa is
      <strong>Doc Brown</strong> and has come all the way from the States to
      visit us.&quot;<br />
      Me- &quot;noo, I can't believe this.&quot;<br />
      &quot;Can we climb in?&quot;<br />
      Before Chris can say anything I open the door and climb into the
     DeLorean.<br />
      Me - &quot;Wow, so many buttons, what are they for?&quot;<br />
      <div class="image-container">
        <img src="https://img.favpng.com/7/10/20/back-to-the-future-delorean-time-machine-display-device-software-widget-android-png-favpng-KQp3NGxb2tnXX07Rhs5D7vPfG.jpg" alt="">
      </div>
         <hr>
      Doc Brown - &quot;Chris, Chris&quot;, ... he shouts &quot;what have you guys done?&quot;<br />
      There is a bright flash ... <br />
      <div class="image-container">
        <img src="https://images.squarespace-cdn.com/content/v1/545f5b33e4b0719cb5aee3a5/1611864022269-X7BP4298Z6SD88ITW8K5/Screenshot+2021-01-28+at+08.32.56.png">
      </div>
      Chris - &quot;I could't stop him, he just climbed in!!!&quot;<br />
      Doc Brown looks at his watch - &quot;My god, he set it to 9th October
      1582&quot;<br />
      </blockquote>
      <blockquote>
        <h2>The nightmare</h2>
        I hear a voice,.. it's very distant.<br>
        It feels like I'm trapped, ... its very dark around me.<br>
        I hear my name..<br>
        Is it my mom.<br>
        João, .. João.<br>
        No, my mom never called me by my first name, but by my nickname. <br>
        A name given to me by my older brother...<br>
        João, I hear it again, and feel someone pulling me out of the dark tunnel.<br>
        Wife - &quot;João, João, .. wake up, wake up, you're having a nightmare.&quot;<br />
        <div class="image-container" >
            <img src="https://www.headachesurgery.com/wp-content/uploads/2017/11/bigstock-waking-up-from-nightmare-107801798.jpg" alt="Bad Dreams and Waking to a Migraine">
        </div>
        Me - &quot;hu,.. what, wow&quot;<br>
        ... I'm still shaking.<br />
        Wife - &quot;Are you ok?&quot;<br />
        Me - &quot;Whats today?&quot;<br>
        Wife - &quot;What do you mean?&quot;<br />
        Me - &quot;Whats the date today?&quot;<br />
        Wife - &quot;Thursday.&quot;<br />
        Me - &quot;No the actual date?&quot;<br />
        Wife - &quot;21 November 2024&quot;, she says, slightly irritated with such a dumb question.<br />
        Me - &quot;Shoe, thank goodness, I thought it was the 9th October 1582&quot;<br />
        Wife - &quot;That's silly, why would that date even give you a nightmare, ..so silly&quot;, as she chuckles.<br />
        &quot;... my silly husband.<br />
        ... but I love you ...&quot;<br />
        Hearing those words, I know all is ok...<br />
        ¯\_(ツ)_/¯<br />
      </blockquote>
    <blockquote>
        <h2>The story of the ten days that didn't exist.</h2>        
        Later that day, while my wife and I were having lunch.<br>
        Wife - &quot;What was that all about?&quot;<br>
        Me - &quot;Ha&quot;<br>
        Wife - &quot;You nightmare, silly.&quot;<br>
        Me - &quot;Well, I seized to exist.&quot;<br>
        Wife - &quot;Ha&quot;<br>
        Me - &quot;It's all about ten days that never existed.&quot;<br>
        <div class="image-container">
          <img src="https://miro.medium.com/v2/resize:fit:1400/1*83tWvmBM9pcRtwO0ftMuvQ@2x.jpeg" alt ="The Curious Case of October 1582: A Month Unlike Any Other">
          <p><a href="https://medium.com/@uwmthedata/the-curious-case-of-october-1582-a-month-unlike-any-other-2a98a33d5609">The Curious Case of October 1582: A Month Unlike Any Other</a></p>
     </div>
        me - &quot;The days between October 5th and 14th, 1582 simply didn't exist.<br> 
        People went to sleep on Thursday, October 4th and woke up on Friday, the 15th.<br>
        Imagine the confusion.&quot;<br>
        Wife - &quot;Imagine the amount of people that missed their birthday that year!<br>
        ..the ladies, would be pleased, .. a year younger, .. all of a sudden,.. ha, ..ha,ha.&quot;<br>
        Me - &quot;10 full days were deleted from the month of October of that year.<br>
        ... month with only 21 days and a lot of confusion.<br>
         ..and all this trouble was generated by the stars.&quot;</br>
         ...<br> ....<br> I pause gathering my thoughts.<br>
         &quot;....so in my dream I went to Chris' house, and ...&quot;<br>
        Wife - &quot;And you had to set the DeLorean to go back to that date in time.<br>
        &quot;Only you my husband, .. only you&quot;<br>
        ... and we both had a good laugh...<br>      
        ¯\_(ツ)_/¯<br />
    </blockquote>
    <h2>Astronomy and the Calendar</h2>
    <p>
      When we say that astronomy is the first of science, calendars are proof of that.<br>
      In several different places on the globe, calendars appeared thousands of years ago, 
      all of them based on astronomical cycles of the Sun, Moon or both at the same time. <br>
    </p>
    <details>
      <summary>
        <div class="image-container">
          <img src="https://s3-us-west-2.amazonaws.com/courses-images/wp-content/uploads/sites/1095/2016/11/03154924/OSC_Astro_04_04_Stonehenge.jpg" alt="Stonehenge">
          <p class="my-p">Stonehenge</p>
        </div>
      </summary>
      <framed-text>
        <h3>Stonehenge</h3>
        <p>
          The ancient monument known as Stonehenge was used to keep track of the motions of the Sun and Moon.<br>
          <a href="https://courses.lumenlearning.com/suny-astronomy/chapter/the-calendar/">The Calendar</a>
        </p>
      </framed-text>
    </details> 
<p>
  Thus, the observation of the stars was of fundamental importance for the definition of calendars.<br>
In Rome, considered the cradle of Western civilization, a lunisolar calendar was adopted, that is, 
based on the solar and lunar cycles.<br>
The months began at the New Moon and the years at the spring equinox.<br>
Each week had 7 days and was dominated by a lunar phase.<br>
</p> 
 <p>
    But this calendar was very problematic mainly because the lunar and solar
     cycles didn't fit together.<br>
      This required adding extra months, with varying amounts of days, to complete the year. <br>
      A confusion that was only resolved in the year 46 BC, with the adoption of the Julian Calendar.<br>
  </p>
  <p>
    <h3>Hail Caesar</h3>
    <div class="image-container">
      <img src="https://c.tadst.com/gfx/600x337/julius-caesar-bust.jpg?1" alt="The Julian Calendar">
      <p><a href="https://www.timeanddate.com/calendar/julian-calendar.html">The Julian Calendar</a></p>
    </div>
<details>
    <summary>
        The <span class="my-p">Julian calendar</span> adopted a year of 365 days and 6 hours, divided into 12 
 months of 30 or 31 days, in addition to February, with 28, but which gained 
 an extra day every 4 years.<br>
  This solved the calendar issue, but there was still one problem: the year 
  doesn't have exactly 365 days and 6 hours.<br>
 In fact, it is 365 days, 5 hours, 48 ​​minutes and 46 seconds, which makes the 
 length of the year in the Julian calendar, 11 minutes and 14 seconds longer 
 than the tropical year, that is, the time it takes the Earth to complete one 
 revolution. around the Sun. <br>
This difference accumulated over the centuries caused the Julian calendar to 
reach the year 1582 with an <strong>error of more than 10 days.</strong> <br>
    </summary>
    <framed-text>
        <h4>Julius Caesar - The Julian Calendar</h4>
        <p>            
            In 45 B.C., Julius Caesar ordered a calendar consisting of twelve months based on a solar year.<br>
             This calendar employed a cycle of three years of 365 days, followed by a year of 366 days (leap year).<br>
             When first implemented, the "Julian Calendar" also moved the beginning of the year from March 1 to 
             January 1.<br>
             However, following the fall of the Roman Empire in the fifth century, the new year was gradually 
             realigned to coincide with Christian festivals until by the seventh century, Christmas Day marked the 
             beginning of the new year in many countries.<br>
            By the ninth century, parts of southern Europe began observing first day of the new year on March 25 to 
            coincide with Annunciation Day (the church holiday nine months prior to Christmas celebrating the 
            Angel Gabriel's revelation to the Virgin Mary that she was to be the mother of the Messiah).<br>
            The last day of the year was March 24. However, England did not adopt this change in the beginning of 
            the new year until late in the twelfth century.<br>            
            Because the year began in March, records referring to the "first month" pertain to March; to the second 
            month pertain to April, etc., so that "the 19th of the 12th month" would be February 19.<br>
            In fact, in Latin, September means seventh month, October means eighth month, November means ninth month, 
            and December means tenth month.  Use of numbers, rather than names, of months was especially prevalent in 
            Quaker records.<br>
 <a href="https://libguides.ctstatelibrary.org/hg/colonialresearch/calendar">The Julian Calendar</a>
        </p>
    </framed-text>
</details>
<h3>Your Holiness, The Pope</h3>
<details>
    <summary>
        <p>    
        <span class="my-p">Gregory </span>assembled a group of astronomers and scientists to correct the Julian 
        calendar.<br>
         The goal was to make the spring equinox occur again on March 21st and correct 
         the 10-day error that existed at the time.<br>
          The commission prepared a proposal that was evaluated by princes and 
          mathematicians and after 5 years of studies, the papal bull Inter Gravissimas 
          was promulgated in 1582, instituting the Gregorian calendar.<br>
        </p>
    </summary>
    <framed-text>
        <h4>Pope Gregory XIII</h4>
        <div class="image-container">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Ritratto_di_Gregorio_XIII_-_Passarotti.jpg/800px-Ritratto_di_Gregorio_XIII_-_Passarotti.jpg" alt="Gregory XIII">
          <p><a href="https://en.wikipedia.org/wiki/Pope_Gregory_XIII">Gregory XIII</a></p>
        </div>
        <p>
            The Gregorian calendar was instituted by Pope Gregory XIII in 1582 
            and quickly adopted by much of Catholic, but not Protestant, Europe.<br>
             The reform altered the Julian, or Old Style, system of leap years and, by 
             removing ten days from October 1582, adjusted the timing of the Easter 
             observance so that it better coincided with the spring season.<br>
              Many of the countries that adopted the Gregorian calendar already recognized 
              January 1 as the beginning of the new year. Until it adopted the reformed
               calendar in 1752, however, England dated its new year at March 25, or 
               the observance of Lady Day (the Feast of the Annunciation).<br>
                As a result, many English correspondents and publications, including some 
                in Virginia, marked those dates between January 1 and March 25, during the 
                years 1582–1752, with two years: Old Style and New Style.<br>
<a href="https://encyclopediavirginia.org/entries/the-gregorian-calendar/">The Gregorian Calendar</a>

        </p>
    </framed-text>
</details>
<div class="video-container2">
    <iframe src="https://www.youtube.com/embed/VV1lAJWFZqU?si=iwX4bfIJyuXNijdL"></iframe>
    <p>When have we LOST 10 Days? How does the Gregorian calendar work? On This Day - 4th October </p>
</div>

<blockquote>
    <h2>Back To The Present</h2>
    Now none of this happened. (The deleted scenes)<br>
    There were no such scenes deleted in the epic series of movies called 
    <a href="https://www.imdb.com/title/tt0088763/">Back to the Future</a><br>
    But how cool would it have been if Marty McFly, a 17-year-old high school student, 
    accidentally sent the DeLorean to the 9th Ocober, 1582?<br>
    ¯\_(ツ)_/¯<br />
    <div class="video-container2">
        <iframe src="https://youtube.com/embed/48OkjEfr8wc?si=-CUaAoBu7EkJkHZg"></iframe>
        <p>Back to the Future</p>
    </div>    
</blockquote>

{% include_relative include_me/comment_eng.html %}
<p>
 References:<br />
 <a href="https://olhardigital.com.br/2022/10/12/colunistas/a-historia-dos-dez-dias-que-nao-existiram/">A história dos dez dias que não existiram</a>
<br>
<a href="https://heraldry-wiki.com/wiki/Welkom_High_School">Welkom High School</a>
  </body>
</html>
