---
# multilingual page pair id, this must pair with translations of this page. (This name must be unique)
lng_pair: islamic_conquest_part3
title: The Islamic Conquest - Part 3 (The Society and Economy of al-Andalus)
# post specific
# if not specified, .name will be used from \_data/owner/[language].yml
# author: ""
# multiple category is not supported
category: History and events
# multiple tag entries are possible
tags: [history, portuguese history, people, islamic conquest]
# thumbnail image for post
img: "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Arcos_de_herradura_moz%C3%A1rabe_de_Santiago_de_Pe%C3%B1alba.jpg/260px-Arcos_de_herradura_moz%C3%A1rabe_de_Santiago_de_Pe%C3%B1alba.jpg"
# disable comments on this page
# comments_disable: true
# publish date
date: 2023-12-25 08:00:00
# seo
# if not specified, date will be used.
# cmeta_modify_date: 2021-08-10 11:32:53 +0900
# check the meta_common_description in \_data/owner/[language].yml
#meta_description: ""
# optional
# please use the "image_viewer_on" below to enable image viewer for individual pages or posts (\_posts/ or [language]/\_posts folders).
# image viewer can be enabled or disabled for all posts using the "image_viewer_posts: true" setting in \_data/conf/main.yml.
# image_viewer_on: true
# please use the "image_lazy_loader_on" below to enable image lazy loader for individual pages or posts (\_posts/ or [language]/\_posts folders).
# image lazy loader can be enabled or disabled for all posts using the "image_lazy_loader_posts: true" setting in \_data/conf/main.yml.
# image_lazy_loader_on: true
# exclude from on site search
# on_site_search_exclude: true
# exclude from search engines
#search_engine_exclude: true
# to disable this page, simply set published: false or delete this file
# published: false
---

<!DOCTYPE html>
<html>
  <head>
    <style>
      {% include_relative include_me/my_page.css %}
      {% include_relative include_me/video-container2.css %}
      {% include_relative include_me/alert_box.css %}
      {% include_relative include_me/coffee.css %}
      {% include_relative include_me/sprite.css %}
    </style>
    <title>The Islamic Conquest - Part 3</title>
  </head>
  <body>
    {% include_relative include_me/notification_eng.html %}
    <button onclick="document.location.href='../prehistory/2023-09-7-prehistory-part1'"><< Start of article</button>
<button onclick="document.location.href='./2024-09-17-part2'">< previous article</button>
    <blockquote>
      I woke up this morning (1st October) and my calendar on my laptop popped
      up, reminding me that it was our (my wife and I) engagement anniversary.<br />
      Wife - "This time you got me by surprise, as she had forgotten", and I
      smile at her.❤️<br />
      <br />
      A little later, I'm sitting behind my laptop, working on this post, which
      is all about the muslims in the Iberian peninsula.<br />
      I recall a special moment in the past, my wife you see, loves to tease
      me.<br />
      Wife - "Your decedents must be more from the arabic side", she says and
      chuckles.<br />
      Now she is referring to my dark complexion.<br />
      Wife - "Did you know that the
      <a href="../germanic-invasion/2024-04-09-part1">Vikings</a> also invaded
      Portugal?"<br />
      <div id ="tease">
        "... me, being white like milk, my ancestors must have been vikings",
        she said, laughed and ran away from me.❤️<br />
        Me - "I love <strong>Top Deck 💭</strong> I thought to myself", as I
        proceeded to chase her...😂🤣<br />
        <iframe class = "sprite" id = "wife" src="https://giphy.com/embed/EbgayhB2fh02qLtMyz"></iframe>      
        <iframe class = "sprite" id= "husband" src="https://giphy.com/embed/Fj40wZT96MPfQiQjUa"></iframe>         
      </div>

      <div class="image-container" style="width: 30%">
        <img
          src="https://m.media-amazon.com/images/I/51ipVys1wFL._SX679_.jpg"
          alt="Top Deck Chocolate"
        />
        <p>
          <a
            href="https://www.amazon.com/Cadbury-Dairy-Milk-Deck-Chocolate/dp/B01LTIQ7E4"
            >Cadbury Dairy Milk Top Deck Chocolate 180g</a
          >
        </p>
      </div>
    </blockquote>
    <blockquote>
      {% include_relative include_me/portugal_history/summary_eng.html %}
    </blockquote>
  
    <blockquote>
      <details>
        <summary>
          Did you know that white Christians in the Iberian Peninsula had been enslaved by the Moors for around 700 years. <br>
          Before we get into that,
          <span class="my-p">click/tap here</span> to grab a fresh cup of coffee
          before you commence reading this blog.
        </summary>
        {% include_relative include_me/coffee.html %} 
        {% include_relative include_me/help_eng.html %}
      </details>
    </blockquote>
    <h2>The Society and Economy of al-Andalus</h2>
    <div class="image-container">
      <img
        src="https://cdn.britannica.com/23/243123-050-B44104E3/Locator-map-Maghreb.jpg"
        alt="https://images.app.goo.gl/Landpnd8b58tTwM18"
      />
      <p>Maghreb | History, Location, Languages, Map, & Facts | Britannica</p>
    </div>
    <p>
      Arabs Yemenis, and the Berbers settled in the peninsula.<br />
      The majority of the Muslims were Bersbers.<br />
      There were a small minority of elite Arabs.<br />
      They came from the Maghreb region in Africa.<br />
      The migratory Muslims came to the peninsula in several waves over two
      centuries and settled mainly in Algarve and other southern regions. <br />
      Very few brought their families, they were mostly young bachelors who
      intended to marry local women.<br />
    </p>
    <p>
      The Muslim society of al-Andalus was socially divided into the aristocracy
      (hassa) and the common people (amma).<br />
    </p>

    <h3>The Slave System</h3>
    <div class="image-container">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Targ_niewolnikow_w_Kordowie.jpg"
        alt="https://en.wikipedia.org/wiki/Slavery_in_al-Andalus"
      />
      <p>
        <a href="https://en.wikipedia.org/wiki/Slavery_in_al-Andalus"></a>Slavic
        and Black slaves in Córdoba; illustration from the Cantigas de Santa
        Maria
      </p>
    </div>
    <p>
      <details>
        <summary>
          <span class="my-p">The slave system</span> was entrenched in
          al-Andalus as much as it had been in the Roman and Visigothic
          times.<br />
          They (Muslims) often raided the Christian north of the peninsula and
          took slaves.<br />
        </summary>
        <framed-text>
          <h3>Slavery in al-Andalus</h3>
          <div class = "image-container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Califato_de_C%C3%B3rdoba_-_1000-en.svg/220px-Califato_de_C%C3%B3rdoba_-_1000-en.svg.png" alt="Califato de Córdoba - 1000-en">
            <p>Califato de Córdoba - 1000-en</p>
          </div>
          Slavery existed in Muslim al-Andalus as well as in the Christian
          kingdoms, and both sides of the religious border followed the custom
          of not enslaving people of their own religion.<br />
          Consequently, Muslims were enslaved in Christian lands, while
          Christians and other non-Muslims were enslaved in al-Andalus.<br />
          <br />
          The Moors imported white Christian slaves from the 8th century until
          the end of the Reconquista in the late 15th century.<br />
          European slaves were exported from the Christian section of Spain as
          well as Eastern Europe and referred to as Saqaliba. Saqaliba slavery
          in al-Andalus was especially prominent in the Caliphate of Córdoba,
          where white female slaves constituted a big part of the slave
          concubines of the royal harem, and white male slaves constituted most
          of the administrative personnel in the courts and palaces.<br />
          <a href="https://en.wikipedia.org/wiki/Slavery_in_al-Andalus">Slavery in al-Andalus</a>
        </framed-text>
      </details>
      <details><summary>They even brought <span class="my-p">slaves from other Christian kingdoms and sub-Saharan Africa</span>.<br /></summary>
      <framed-text>
        <h3>White slavery</h3>
        <div class="image-container">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Meccan_merchant_and_his_Circassian_slave.jpg/250px-Meccan_merchant_and_his_Circassian_slave.jpg" alt="An Arab merchant from Mecca (right) and his Circassian slave.">
          <p>An Arab merchant from Mecca (right) and his Circassian slave.</p>
        </div>
        White slavery (also white slave trade or white slave trafficking) refers to the enslavement of any of the world's European ethnic groups throughout human history, whether perpetrated by non-Europeans or by other Europeans. Slavery in ancient Rome was frequently dependent on a person's socio-economic status and national affiliation, and thus included European slaves. It was also common for European people to be enslaved and traded in the Muslim world; European women, in particular, were highly sought-after to be concubines in the harems of many Muslim rulers. Examples of such slavery conducted in Islamic empires include the Arab slave trade, the Barbary slave trade, the Ottoman slave trade, and the Black Sea slave trade, among others.
        Many different types of white people were enslaved.<br>
        On the European continent under feudalism, there were various forms of status applying to people (such as serf, bordar, villein, vagabond, and slave) who were indentured or forced to labour without pay.<br><br>
        During the Arab slave trade, Europeans were among those traded by the Arabs.<br>
        The term Saqaliba was often used in medieval Arabic sources to refer specifically to Slavs being traded by the Arabs, but it could also refer more broadly to Central, Southern, and Eastern Europeans who were also traded by the Arabs, as well as all European slaves in some Muslim-controlled regions like Spain, including those abducted from raids on Spanish Christian kingdoms.<br>
        During the era of the Fatimid Caliphate (909-1171), the majority of slaves were Europeans taken from European coasts and during conflicts.<br>
        Similarly, the Ottoman slave trade that included European captives was often fueled by raids into European territories or were taken as children in the form of a blood tax from the families of citizens of conquered territories to serve the empire for a variety of functions.<br>
        In the mid-19th century, the term 'white slavery' was used to describe the Christian slaves that were sold into the Barbary slave trade in North Africa.<br>
        <a href="https://en.wikipedia.org/wiki/White_slavery">White slavery</a>
      </framed-text>
      </details>
    </p>
    <p>
      The society of al-Andalus was patriarchal, and women had strictly family
      roles.<br />
      Women from the royal and aristocratic families were given an education,
      and they studied law and religion and wrote exquisite poetry.<br />
      The majority the other women were slaves who either served as pleasure
      providers or who served the royal family.<br />
      The Andalus rulers often married their slave concubines, thus raising
      their social status.<br />
    </p>
    <h3>Arabic architectural influence in Portugal</h3>
    <div class="image-container">
      <img
        src="https://www.countryhotelsportugal.com/wp-content/uploads/2015/07/aberturaSilves-castelo-1400-x-934-1400x600.jpg"
        alt="https://www.countryhotelsportugal.com/influencia-da-arquitetura-arabe-em-portugal/"
      />
      <p>
        <a
          href="https://www.countryhotelsportugal.com/influencia-da-arquitetura-arabe-em-portugal/"
          >Arabic architectural influence in Portugal</a
        >
      </p>
    </div>
    <p>
      The Muslim rule of al-Andalus was heavily focused on the development of
      the cities, as they were an urban-oriented society.<br />
      During the Umayyad period, great cities, such as Córdoba, Seville, Lisbon,
      Coimbra, and Beja, developed into grand urban centers. <br />
    </p>

    <h3>The Christians and Jews</h3>
    <div class="video-container2">
      <iframe
        src="https://www.youtube.com/embed/QVlDMpGNLyc?si=_xETX53A-xuDOUkp"
      ></iframe>
    </div>
    <p style="align-text: center">Lourosa viajou no tempo com Feira Moçárabe</p>
    <p>
      The Christians numbers were significantly reduced.<br />
      Many that remained, converted to their conquerors faith, but many decided
      to emigrate to other Christian countries in Europe.<br />
      <details>
        <summary>
          Those who stayed and remained faithful to Christianity but accepted
          the rule of the Muslims were called
          <span class="my-p">Mozarabs.</span>
        </summary>
        <framed-text>
          <h3>Mozarabs</h3>
          <div class="image-container">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Arcos_de_herradura_moz%C3%A1rabe_de_Santiago_de_Pe%C3%B1alba.jpg/260px-Arcos_de_herradura_moz%C3%A1rabe_de_Santiago_de_Pe%C3%B1alba.jpg"
              alt="https://en.wikipedia.org/wiki/Mozarabs"
            />
            <p><a href="https://en.wikipedia.org/wiki/Mozarabs">Mozarabs</a></p>
          </div>
          Mozarab were any of the Spanish Christians living under Muslim rule
          (8th–11th century), who, while unconverted to Islam, adopted Arabic
          language and culture.<br />
          Separate Mozarab enclaves were located in the large Muslim cities,
          especially Toledo, Córdoba, and Sevilla (Seville), where they formed
          prosperous communities ruled by their own officials and were subject
          to a Visigothic legal code.<br />
          They also maintained their own bishoprics, churches, and monasteries
          and translated the Bible into Arabic.<br />
          The Mozarabs eventually relocated in the north of the Iberian
          Peninsula, bringing with them the architectural style of Islamic
          Córdoba, characterized by the horseshoe arch and the ribbed dome.<br />
          <a href="https://www.britannica.com/topic/Selkup">Mozarab</a>
        </framed-text>
      </details>
      <br />
    </p>
    <p>
      The Mozarabs became a minority in al-Andalus by the 11th century.<br />
      Jews were also present, though in very small numbers.
    </p>
</p>
{% include_relative include_me/comment_eng.html %}
<p>
    <p>
      References:<br />
      <a
        href="https://www.amazon.com/History-Portugal-Captivating-Portuguese-Countries/dp/1637165579"
        >History of Portugal</a
      ><br />
    </p>
    <button onclick="document.location.href='../prehistory/2023-09-7-prehistory-part1'"><< Start of article</button>
<button onclick="document.location.href='./2024-09-17-part2'">< previous article</button>
   <script>{% include_relative include_me/js/timeout.js %}
{% include_relative include_me/js/husband_chases_wife.js %}
   </script> 
   
  </body>
</html>
