---
# multilingual page pair id, this must pair with translations of this page. (This name must be unique)
lng_pair: islamic_conquest_part4
title: The Islamic Conquest - Part 4 (Christianity and Judaism under the Muslim Rule)
# post specific
# if not specified, .name will be used from \_data/owner/[language].yml
# author: ""
# multiple category is not supported
category: History and events
# multiple tag entries are possible
tags: [history, portuguese history, people, islamic conquest]
# thumbnail image for post
img: "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Arcos_de_herradura_moz%C3%A1rabe_de_Santiago_de_Pe%C3%B1alba.jpg/260px-Arcos_de_herradura_moz%C3%A1rabe_de_Santiago_de_Pe%C3%B1alba.jpg"
# disable comments on this page
# comments_disable: true
# publish date
date: 2023-12-31 08:00:00
# seo
# if not specified, date will be used.
# meta_modify_date: 2021-08-10 11:32:53 +0900
# check the meta_common_description in \_data/owner/[language].yml
#meta_description: ""
# optional
# please use the "image_viewer_on" below to enable image viewer for individual pages or posts (\_posts/ or [language]/\_posts folders).
# image viewer can be enabled or disabled for all posts using the "image_viewer_posts: true" setting in \_data/conf/main.yml.
# image_viewer_on: true
# please use the "image_lazy_loader_on" below to enable image lazy loader for individual pages or posts (\_posts/ or [language]/\_posts folders).
# image lazy loader can be enabled or disabled for all posts using the "image_lazy_loader_posts: true" setting in \_data/conf/main.yml.
# image_lazy_loader_on: true
# exclude from on site search
# on_site_search_exclude: true
# exclude from search engines
#search_engine_exclude: true
# to disable this page, simply set published: false or delete this file
# published: false
---

<!DOCTYPE html>
<html>
  <head>
    <style>
        {% include_relative include_me/my_page.css %}
        {% include_relative include_me/video-container2.css %}
        {% include_relative include_me/alert_box.css %}
        {% include_relative include_me/coffee.css %}
      </style>
    <title>The Islamic Conquest - Part 4</title>
  </head>
  <body>
    {% include_relative include_me/notification_eng.html %}
    <button onclick="document.location.href='../prehistory/2023-09-7-prehistory-part1'"><< Start of article</button>
<button onclick="document.location.href='./2024-10-01-part3'">< previous article</button>
    <blockquote>
      The sun's rays are shining through the slits of the blinds of my room.<br />
      I hear the church bell going off, it's quite loud you see, as I live just
      down the road from the main Catholic church. <br />
      There is a hub of activity. <br />
      I peak through one of the slits of the blinds and see two elderly ladies
      briskly walking towards the church.<br />
      My mind travels to another time, a time when this was not allowed.<br />
      ¯\_(ツ)_/¯<br>
    </blockquote>
    <h1>Christianity and Judaism under the Muslim Rule</h1>
    <p>
       <div class="image-container">
        <img src="https://cdn.britannica.com/43/172843-050-289462A4/Market-Warsaw-Ghetto-1941.jpg?w=300" alt="Ghetto">
        <p>Ghetto</p>
       </div>
       <details>
        <summary>
            In most major cities, the mosques replaced the churches.<br />
            The Christians were confined in <span class="my-p">ghettos.</span><br />
            The Christians and Jews were forbidden to settle anywhere else, just like a herd of animals,
            kept in a pen.<br />
 The priests were released of their
            duties <strong>and the churches were often forbidden from ringing the bells within the
              cities.</strong
            ><br />           
        </summary>
        <framed-text>
            <h2>ghetto</h2>
            Ghetto, formerly a street, or quarter, of a city set apart as a legally 
            enforced residence area.<br>
            In some Muslim countries, rigid ghetto systems were enforced with 
            restrictions on the sizes of houses and doors.<br>
             The name ghetto, probably derived from an iron foundry and  
             was first used in Venice in 1516.<br>
             <a href="https://www.britannica.com/topic/ghetto">ghetto</a>
        </framed-text>
       </details>   
    </p>
    <p>
      Muslim men were allowed to marry Christian women or take them as concubines,
      but Christian men could not do the same with Muslim women.<br>
    </p>
    <blockquote>
      <details>
        <summary>
          Have you heard of <span class="my-p">the law of the hundred maidens?</span><br>
          It is told that in the 8th to 9th century an arab monarch from Córdoba instituted a 
          law that 100 maidens had to be handed over yearly to his kingdom, to serve as slaves, 
          for their pleasure or even wives.<br>
          ¯\_(ツ)_/¯<br>
        </summary>
        <iframe style="height:400px" src="./2024-01-13-guesto-ansures">
        </iframe>
      </details>
    </blockquote>    
     <p>
      Latin was replaced with the Arabic language.<br>
      All christians had to conform to the Arabic language, culture, and education .<br> 
     </p>
     <blockquote>
      <details>
        <summary>
          On the 31 December of 2023 I posted a blog on the <span class="my-p">Arabic influence on 
          the Portuguese language.</span><br>
          ¯\_(ツ)_/¯<br>
        </summary>
        <iframe style="height:400px" src="2023-12-31-arabic-influence-language">
        </iframe>
      </details>      
     </blockquote>         
     <details>
      <summary>
        <div style="width:50%" class="image-container">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Mosque.svg/100px-Mosque.svg.png" alt="">
          <p>The Spread Of Islam</p>
        </div>
        The Christians payed higher taxes than Muslim residents.<br> 
        There was an ever-present incentive to abandon Christianity and convert to Islam, which
        the majority of the population eventually did.<br> 
        The <span class="my-p">Islamization </span>of the peninsula led to the weakening of the Christian Church, and soon enough, it
        struggled to survive.<br>
        The monasteries continued operating, especially in the territories north of Mondego, but nothing 
        is known about the monasteries in the south.<br>
      </summary>
      <framed-text>
        <h2>Islamization</h2>
        The spread of Islam spans almost 1,400 years.<br>
        The early Muslim conquests that occurred following the death of Muhammad in 632 CE led to 
        the creation of the caliphates, expanding over a vast geographical area; conversion to 
        Islam was boosted by Arab Muslim forces expanding over vast territories and building 
        imperial structures over time.<br>
        Most of the significant expansion occurred during the reign of the rāshidūn 
        caliphs from 632 to 661 CE, which were the first four successors of Muhammad.<br>
        These early caliphates, coupled with Muslim economics and trading, the Islamic Golden Age,
        and the age of the Islamic gunpowder empires, resulted in Islam's spread outwards from 
        Mecca towards the Indian, Atlantic, and Pacific Oceans and the creation of the Muslim world.<br>
        <a href="https://en.wikipedia.org/wiki/Spread_of_Islam">Spread of Islam</a> 
      </framed-text>
    </details>
    <div class="video-container2">
      <iframe src="https://www.youtube.com/embed/eE14RzB3o1E?si=JjTp-2YEBj7TGHmJ"></iframe>
    </div>
    <p style="text-align: center">Portugal - Cape St. Vincent</p>
    <p>
      <ul>
        The south of what is today Portugal had two major Christian pilgrimage spots:
        <li> The tomb of St. Vincent </li>
        <li>the sanctuary of the Virgin Mary in Faro.</li>
      </ul>
    The Muslim authorities respected these pilgrimage sites  immensely and never disturbed them.<br>
    Several Christians resisted the Muslim  rule, and they were executed and became martyrs.<br>
    One such was St. Sisnando, who was executed at Évora in 851.
     </p>
     <blockquote>
      Be on a lookout for my post on SESNANDO DAVIDES THE UNLIKELY HERO that I'll be posting 
      in the near future.<br>
      ¯\_(ツ)_/¯<br>
     </blockquote>
     {% include_relative include_me/comment_eng.html %}
     <p>
      References:<br />
      <a
        href="https://www.amazon.com/History-Portugal-Captivating-Portuguese-Countries/dp/1637165579"
        >History of Portugal</a
      ><br />
    </p>
    <button onclick="document.location.href='../prehistory/2023-09-7-prehistory-part1'"><< Start of article</button>
<button onclick="document.location.href='./2024-10-01-part3'">< previous article</button>
<script>{% include_relative include_me/js/timeout.js %}</script>
  </body>
</html>
