---
# multilingual page pair id, this must pair with translations of this page. (This name must be unique)
lng_pair: are-egss-good-for-you
title: Are Eggs Good For You ?

# post specific
# if not specified, .name will be used from _data/owner/[language].yml
#author: ""
# multiple category is not supported
category: Health and fitness
# multiple tag entries are possible
tags: [psychology, mental health]
# thumbnail image for post
img: "https://www.australianeggs.org.au/assets/Uploads/AusEggsBasics_willowcreative_1006-1_4x3crop__ScaleWidthWzEyMDBd_ExtRewriteWyJqcGciLCJhdmlmIl0_QualityWzYwXQ.avif"
# disable comments on this page
# comments_disable: true

# publish date
date: 2024-11-24 05:00:00
# seo
# if not specified, date will be used.
#meta_modify_date: 2021-08-10 11:32:53 +0900
# check the meta_common_description in _data/owner/[language].yml
#meta_description: ""

# optional
# please use the "image_viewer_on" below to enable image viewer for individual pages or posts (_posts/ or [language]/_posts folders).
# image viewer can be enabled or disabled for all posts using the "image_viewer_posts: true" setting in _data/conf/main.yml.
#image_viewer_on: true
# please use the "image_lazy_loader_on" below to enable image lazy loader for individual pages or posts (_posts/ or [language]/_posts folders).
# image lazy loader can be enabled or disabled for all posts using the "image_lazy_loader_posts: true" setting in _data/conf/main.yml.
#image_lazy_loader_on: true
# exclude from on site search
#on_site_search_exclude: true
# exclude from search engines
#search_engine_exclude: true
# to disable this page, simply set published: false or delete this file
# published: false
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      {% include_relative include_me/my_page.css %}
      {% include_relative include_me/video-container2.css %}
      {% include_relative include_me/slider/slider.css %}
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Are Eggs Good For You</title>
  </head>
  <body>
    <blockquote>
      <h2>Foreword</h2>
      As you may have noticed, I like to add some of my personal experiences when I write my blogs.<br>
      In the years that have gone by, some of us, may relate <strong>Eggs</strong> with the dreaded inhibitor <strong>Fear.</strong><br>
      <hr>
      Now I've been working on my 'slide show' that you'll see further down when reading this blog.<br>
      Apart from sharing photos of characters that had a big influence in my 'childhood world',
      a world in which all children should live in, a world full of adventure.<br>
      &quot;At times ,I find myself in that world, even at 60 years old, still day dreaming for adventures..&quot;, I smile to myself...😄<br>
      While sorting the cats litter, a little 😈 sits on my shoulder, - &quot;should I or, should'nt I 
      add the photos of my childhood in the slides?&quot;<br>
      Then I recall the phrase, from a book I read a while back.<br>
      <div class="image-container" style="margin-top:0.5em">
        <img src="https://static.fnac-static.com/multimedia/Images/PT/NR/ca/7b/11/1145802/1540-1.jpg" alt="Feal the Fear and Do It Anywat">
        <p><a href="https://www.fnac.pt/Feel-The-Fear-And-Do-It-Anyway-Susan-Jeffers/a1162721?origin=google_pla_livro&gad_source=1&gclid=CjwKCAiA6aW6BhBqEiwA6KzDc1rnaTnzNnr1PT1IOomfEdbCiKglS1Ew5l-83mxW4CnxUVvlgSbpaRoCGPYQAvD_BwE">Feel The Fear And Do It Anyway - Susan Jeffers</a></p>
      </div>
      <strong>Feel the Fear and Do It Anyway ...</strong>
      <hr>
      My mind goes back to sometime in the past.<br>
      It does that often you know...😁<br>
      My two kids are visiting us on their holiday.<br>
      They've traveled all the way from South Africa and we're all sitting in our modest kitchen having a great chat when the topic 
      changes to <strong>Carbs versus Fats</strong>.<br>
      Carmen - &quot;Mr. Rolo, pick one, carbs or fats.&quot;"<br>
      Me - &quot;I cannot pick one, they're both ...&quot<br>
      Carmen - &quot; How can you say that?, surely it's carbs, they're ...&quot;<br>
      <hr>
      Now thinking of that conversation today and the debate (in my head) on the photos, it is not unlike  one's fear for the dreaded
      👾 under our bed as a child, Cholesterol, eggs, or in this case my photos.<br>
      <hr>
      Lastly, I'll have a <strong>bonus on Eggs</strong> for you at the end of this rather lengthy blog, so make sure to read it to the end.<br>
      If your have a little spare time after this, I'd love to read you comments.<br>
      enjoy...<br>
      ¯\_(ツ)_/¯<br>
    </blockquote>
    <blockquote>
      <details>
        <summary>
          In the seventies the <strong>Iconic Box Office movie</strong
          ><span class="my-p"> Rocky</span> written and starred by Sylvester
          Stallone was 
          probably the best movie of all times in that genre.🤔<br />
          I was a lad then, in my teens, and became an instant fan.<br />
        </summary>
        <framed-text>
          <h3>Rocky</h3>
          <div class="image-container">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/1/18/Rocky_poster.jpg"
              atl="Rocky"
            />
            <p>Rocky - Theatrical release poster</p>
          </div>
          <p>
            Rocky is a 1976 American independent sports drama film directed by
            John G. Avildsen and written by and starring Sylvester Stallone.<br />
            Rocky entered development in March 1975, after Stallone wrote the
            screenplay in three days.<br />
            It entered a complicated production process after Stallone refused
            to allow the film to be made without him in the lead role; United
            Artists eventually agreed to cast Stallone after he rejected a six
            figure deal for the film rights.<br />
            Principal photography began in January 1976, with filming primarily
            held in Philadelphia; several locations featured in the film, such
            as the Rocky Steps, are now considered cultural landmarks.<br />
            With an estimated production budget of under $1 million, Rocky
            popularized the rags to riches and American Dream themes of sports
            dramas which preceded the film.<br />
            <a href="https://en.wikipedia.org/wiki/Rocky">Rocky</a>
          </p>
        </framed-text>
      </details>
      <ul>
        Now when one eats eggs for breakfast there is always the rhetoric:
        <li>Eggs are not good for you</li>
        <li>They are good, but don't eat eggs every day.</li>
        <li>Watch out for that dreaded word, <strong>Cholesterol</strong></li>
        <li>They are good for you, but in moderation</li>
        <li>Only eat the egg whites</li>
        <li>etc,...etc .. etc</li>
      </ul>
      Well, I must be wired differently.<br />
      When I eat eggs, it reminds me of that awesome movie where an 'old school
      clock's' alarm goes off at 04:00 in the morning, and Rocky stands up, goes
      to his kitchen, breaks a couple of eggs (I think 5 in total giving you
      around 32 grams of protein) into a flask and downs them before going for
      his morning run.<br />
      &quot;Wow, what an awesome scene.&quot;<br />
      Like kids like to say today, thats the bomb, 👊🏻💣💥<br />
      <i
        >By the way, Philip, if you're reading my blog, you know we did
        something similar, if you recall.</i
      ><br />
      <div class="video-container2">
        <iframe
          src="https://www.youtube.com/embed/snqs566G_Zg?si=bRC2eEjt2TxOxDHT"
        ></iframe>
      </div>
      <p>Rocky (4/10) Movie CLIP - Breakfast of Champions (1976) HD</p>
      <hr />
      Wife &quot;" I can't believe what I'm seeing."<br />
      Me - "ha?"<br />
      <div class="image-container" style="width: 40%">
        <img
          src="https://i.ebayimg.com/thumbs/images/g/wlUAAOSwx6ZmI4dl/s-l1200.jpg"
          atl="wardrobe"
        />
      </div>
      It was early morning and I was standing in the front of wardrobe looking
      into the mirror while changing from my Pjs.<br />
      Wife - &quot; ... at sixty you still stand and admire your body.<br />
      You're like a teenager,... a sixty year old teenager.&quot; and laughs as
      she walks out of the room.<br />
      Me - &quot;A teenager with sixty years of experience.&quot; 🤔 I think to
      myself. 😊😚<br />
      <hr />
      Being a young lad, I looked up to guys like
      <a href="https://en.wikipedia.org/wiki/Steve_Reeves">Steve Reeves,</a>
      a body builder and actor, famous for his role in Hercules, as well as
      other male figures such as,
      <a href="https://pt.wikipedia.org/wiki/Bruce_Lee">Bruce Lee</a>, founder of Jeet Kune Do ,
      a hybrid martial arts philosophy derived from different combat disciplines that is often credited 
      with paving the way for mixed martial arts (MMA ) and
      <a href="https://pt.wikipedia.org/wiki/Arnold_Schwarzenegger">Arnold, </a>
      an Austrian - American bodybuilder , actor , businessman , and politician who served as the 38th Governor 
      of California from 2004 to 2011, among many others, made me an instant fan of Sylvester Stallone.<br />
      Growing up in the seventies, we did not have access to toys like XBox and PlayStation.<br />
      What we did have access to were adventure photo books, such as Tarzan,
      Arend, Tessa and Kit Colt, Son Of Samson,Die Wit Tier, DC and Marvel
      Comic, bicycles, marbles, tops, soccer balls and sun and rain...<br />
      <div class="image-container">
        <img src="https://i.ebayimg.com/images/g/18cAAOSwci9ig78~/s-l1600.webp" alt="98 marbles">
      </div>
      At school we even had seasons, - Marble season, Tops Season, Soccer season...<br>
      One of my early lessons in working as a team member was in of those seasons, 
      namely marble season.<br>
      A friend of mine, 'Rui' and I decided to team up.<br>
      At the end of that season we had a desk full of marbles.<br>
      &quot;You see, it's all about taking one's strengths, and using them for one's advantage..., just like an egg ...&quot;🤔
      <hr>
      I recall an epic moment in my childhood.<br />
      I was exercising at the local gym in Welkom, South Africa, where we lived,
      when in walked the <i>photo book actor</i> of the
      <strong>Die Wit Tier.</strong> <br>Now imagine, a young lad, meeting someone
      like that ...., it was awesome.<br />
      I recall my pals and I spending weekends, devouring those books and our
      parents telling us to stop reading them as we were reading second grade
      books.<br />
      Today as a Father of 60, I thank that world, as we spent hours devouring
      these books
      <strong>READING</strong> and
      <strong>DEVELOPING OUR IMAGINATION.</strong><br>
      <hr>
       Me - &quot;What a great period for a young lad to grow up in.<br />
      ... young lads of today have lost some of that,<br />
      ... being proud of being a male..<br />
      The power that comes with their testosterone, <br />
      ... their birthright,<br />
      ... the ability that one has to carve out ones own male body.<br />
      ... the ... &quot; 🤔 I think to myself.<br />
      <hr>
      <details>
        <summary>
          Below is a slide show of many of these characters which my <span class="my-p">Baby Boomers and many Generation X</span> friends,
          especially males that grew up in SouthAfrica in the 60s - 70s, will identify with.<br>
          ...enjoy 👍 
        </summary>
        <framed-text>
          <h3>Baby Boomers</h3>
          The generation is often defined as people born from 1946 to 1964 during the mid-20th century baby boom. <br>
          <a href="https://en.wikipedia.org/wiki/Baby_boomers">Baby boomers</a>
          <hr>
          <h3>Generation X</h3>
          Researchers and popular media often use the mid-1960s as its starting birth years and the late 1970s as its 
          ending birth years, with the generation being generally defined as people born from 1965 to 1980.<br>
          <a href="https://en.wikipedia.org/wiki/Generation_X">Generation X</a>
        </framed-text>
      </details>
      
      <!-- add slider here -->
      {% include_relative include_me/slider/slider.html %}
      <hr />
      I recall my cousin 'Emma' telling the story of when I was a little
      'peewee'.<br />
      Emma - &quot;Manelito, you use to stand on the chair, and say, look how
      big I am, while doing biceps pose.&quot;<br />
      <div class="image-container">
        <img
          src="https://i.etsystatic.com/34755726/r/il/68a3bd/3801719526/il_570xN.3801719526_g67q.jpg"
          alt="double biceps pose"
        />
        <p>Arnold Schwarzenegger - double biceps pose</p>
      </div>

      <hr />
      Well, what has this all got to do with eggs, you may be thinking, while
      indulging me and my blog.<br />
      Being interested in bodybuilding, the more one knows about nutrition, the
      better the results will be.<br />
      Now <strong>eggs</strong> has always ranked on the top of the food sources
      when it comes to feeding one's muscles with protein.<br />
      <hr />
      While I'm writing this blog, my thoughts go to a week or so ago, when I
      got a video call from an old pal of mine.<br />
      It was around 22:00 or later.<br />
      I look at the screen and I see it's Philip, my old gym partner.<br />
      <details>
        <summary>
          He always said that we were like
          <span class="my-p">Arnold and Franco Columbu.</span><br />
        </summary>
        <framed-text>
          <h3>Arnold and Franco Columbu</h3>
          <div class="image-container">
            <img
              src="https://image-cdn.essentiallysports.com/wp-content/uploads/WhatsApp-Image-2023-10-03-at-1.48.44-PM.jpeg?width=900"
              alt="Arnold and Franco"
            />
          </div>
          Franco Columbu, who was best friends with Arnold Schwarzenegger, left
          an incredible mark in the realm of bodybuilding.<br />
          A frequent visitor at Gold's Gym, he made the sport popular in the
          1970s.<br />
          <a
            href="https://www.essentiallysports.com/bodybuilding-news-arnold-schwarzeneggers-training-partner-franco-columbu-once-shared-the-logic-behind-intense-training-makes-a-guy-win-mr-olympia/"
            >Arnold Schwarzenegger’s Training Partner Franco Columbu Once Shared
            the Logic Behind Intense Training: “Makes a Guy Win Mr. Olympia”</a
          >
        </framed-text>
      </details>
      Me - "Hello Philip, hoe gan dit met jou?"<br />
      <i> Hello Philip, how are you doing</i><br />
      <details>
        <summary>
          Philip, being <span class="my-p">africans</span>, we tend to switch between english and africans, or
      even mix the two languages.<br />
        </summary>
        <framed-text>
          <h3>Afrikaans</h3>
          Afrikaans is a West Germanic language, spoken in South Africa, Namibia and (to a lesser extent) Botswana, 
          Zambia and Zimbabwe.<br>
          It evolved from the Dutch vernacular of South Holland spoken by the predominantly Dutch settlers and enslaved
          population of the Dutch Cape Colony, where it gradually began to develop distinguishing characteristics in the 
          17th and 18th centuries.<br>
          <a href="https://en.wikipedia.org/wiki/Afrikaans">Afrikaans</a>
        </framed-text>
      </details>
      <div class="image-container">
        <img
          src="https://scontent.fopo3-2.fna.fbcdn.net/v/t39.30808-6/374205690_826131989213786_6926393643546437144_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=DwNg0xNvAEgQ7kNvgEKVU8Y&_nc_zt=23&_nc_ht=scontent.fopo3-2.fna&_nc_gid=AwdqYT0377wkMXUlr_dksHH&oh=00_AYCMYjHwnLGzsvxTdErg5xXUpIoUxIEPoTcIDLxauepVsg&oe=6748E593"
          alt="https://www.facebook.com/p/Kiewiets-Health-Fitness-Club-100054509768813/"
        />
        <p>
          <a
            href="https://www.facebook.com/p/Kiewiets-Health-Fitness-Club-100054509768813/"
            >Kiewiet's Health & Fitness Club
          </a>
        </p>
      </div>
      We trained together, for many years, at Kiewiet's gym in Welkom, South
      Africa.<br />
      <details>
        <summary>
          Now unlike many people might think, <span class="my-p">a Gym </span>is
          not merely a place for exercising, but also a place where one develops
          one's intellect, as well as relationships<br />
          Look out for a future blog of mine where I'll delve further on
          this.<br />
          For now I'll just share this.<br />
          At times after finishing our gym session, we'd stand outside having a
          heated debate on some topic, just to find that and hour or two had
          passed and we were still standing next to our cars, deep in some
          intellectual discussion.<br />
        </summary>
        <framed-text>
          <h3>Gymnasium</h3>
          <div class="image-container">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQeI3etkvNNCbThnLF20EpKgCW-ANFoGxi4Q&s"
              alt="Kiewiet's Gym"
            />
            <p>Kiewiet's Health & Fitness Club</p>
          </div>
          A gym, short for gymnasium ( pl. : gymnasiums or gymnasia), is an
          indoor venue for exercise and sports. The word is derived from the
          ancient Greek term 'gymnasion'.<br />
          They are commonly found in athletic and fitness centres, and as
          activity and learning spaces in educational institutions.<br />
        </framed-text>
      </details>
      <hr />     
      Me - &quot;Weet jy wat Philip?&quot;<br />
      Philip - &quot;Wat&quot;
      <hr />
      I go to explain to him that one of my dreams was to own a gym.<br />
      Philip - "&quot;Nee, ek het dit nie geweet nie&quot;<br />
      <hr />
      I explained further that if I had to open a gym, beginners when starting
      at my place would first undergo some education on nutrition, before even
      delving into the actual physical training.<br />
      I honestly believe, that nutrition is of utmost importance, and neglected
      in todays gymnasia and if I had some training on that in my earlier years,
      I'd have achieved much more.<br />
      Ok, Ok, Let's get to the actual topic of this blog, namely
      <strong>EGGS.</strong><br />
      ¯\_(ツ)_/¯<br />
    </blockquote>
    <blockquote>
      <h2>The History Of Eggs</h2>
      <p>
        The word egg tracks it name back to a prehistoric Indo-European, which
        was the word for bird.<br />
        The Old English term was <strong>oeg</strong>, which survived in Middle
        English as ey (plural eyren).<br />
      </p>
      <div class="image-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Neolithic_Stone_Spades_%26_Axes.jpg/1280px-Neolithic_Stone_Spades_%26_Axes.jpg"
            alt="Neolithic artifacts from China">
            <p>Neolithic artifacts from China</p>
      </div>
      <p>
        Humans have been consuming eggs since the dawn of human time. <br />
        In actual fact, there is archaeoligical evidence for egg
        consumption dating back as far as 10 000 years before Christ (Neolithic or Stone
        Age).<br />
        You know that age when we made our tools from stone, we were eating
        eggs.<br />
        me- &quot;Most doctor today would have a fit...&quot😂🤣<br />
      </p>
      <p>
        Eggs have been known to, and enjoyed by, humans for many centuries.<br />
        Jungle fowl were domesticated in India by 3200 B.C.E.<br />
        Records from China and Egypt show that fowl were domesticated and laying
        eggs for human consumption around 1400 B.C.E., and The Romans found
        egg-laying hens in England, Gaul, and among the Germans.<br />
        The first domesticated fowl reached North America with the second voyage
        of Columbus in 1493.<br />
      </p>
      <p>
        Domesticated chickens and eating their eggs is believed to have started
        in China 6000 years before Christ.<br />
      </p>
      <p>
        Culinary evidence confirms breads and cakes using eggs were made by
        Ancient Egyptian and Roman peoples.<br> In the Roman period pastry cooks
        made much use of eggs for desserts as well as cakes.<br />
        Apicius (25 BC) invented baked custard: milk, honey and eggs beaten and
        cooked in an eartheware dish on gentle heat.<br />
      </p>
    </blockquote>
    <blockquote>
      <h2>Egg's Bad Rap</h2>
      About 60% of the calories in eggs are from fat—much of which is saturated fat.<br>
      Eggs are also loaded with cholesterol—about 200 milligrams for an average-sized egg.<br>
      That's more than double the amount in a Big Mac.<br>
      Now fat and cholesterol is believed to contribute to heart disease.<br>
      So it is natural to think that eggs are bad for you.<br>
      me - <strong>&quot;But is it really so?&quot;🤔</strong>
    </blockquote>
    <blockquote>
      <h2>Eggs and nutrition</h2>
      <p>
        &quot;The egg is a packed nutritional powerhouse,&quot; says Angel Planells,
        a registered dietitian in Seattle and spokesperson for the Academy of Nutrition 
        and Dietetics.<br>
        &quot;The nutrients in eggs include plenty of protein and vitamin D, he says.&quot;
        </p>
        <p>
          &quot;Egg yolks also are an especially rich source of the “brain nutrient” choline,&quot; 
          says Dawn Jackson Blatner, a Chicago registered dietitian and author of Superfood Swap.<br>
        </p>
        
        <p>
        A 2019 review suggests that most of the nutrients in an egg are in the yolk.<br>
        The distribution of the proteins, however, is even throughout the whole egg.<br>

<ul>
  The egg yolk provides-
  <li>A lower risk of gastrointestinal distress:</li>
  <li>A boosted immune system</li>
  <li>Lower blood pressure</li>
  <li>Reduced risk of vision problems</li>
</ul>
<ul>
  Egg yolks contain at least seven essential minerals, including:
  <li>calcium</li>
  <li>iron</li>
  <li>magnesium</li>
  <li>phosphorus</li>
  <li>potassium</li>
  <li>sodium</li>
  <li>zinc</li>
</ul>
me-&quot;And here many of us avoid eggs like the plage, and pop pills to get these nutrients.&quot;🤔😱<br>

        </p>
        <details>
          <summary>
            Did you know that if you want to <span class="my-p">build muscle,</span> one should get around 1.2 to 2 grams of
            protein per kilogram of your body weight?<br>
            It is recommended that no one drops below 0.8 grams per kilogram of body weight.<br>
            Now before the so called <strong>bad rap</strong> of fat, whole milk and eggs were the 
            goto foods for protein.<br>
            There are on average between 5.2 and 7.5 grams of protein in an egg, depending on its size.<br>
            Eggs are an excellent source of natural protein and are also relatively cheap when compared to other high-protein 
           foods such as meat.<br>
          </summary>
          <framed-text>
            <h3>How much protein do you need? </h3>
            Anywhere from 10% to 35% of your calories should 
            come from protein.
            <br> So if your needs are 2,000 calories, that's 200–700 calories from protein,
             or 50-175 grams.<br>
             The recommended dietary allowance to prevent deficiency for an average sedentary 
             adult is 0.8 grams per kilogram of body weight.<br>
             <a href="https://www.mayoclinichealthsystem.org/hometown-health/speaking-of-health/are-you-getting-too-much-protein">Are you getting too much protein?</a>
          </framed-text>
        </details>        
        <h3>Yolk vs. egg white</h3>
        Me-&quot;Did you note in the video clip above, that Rocky drank the whole egg?&quot;<br>
        <p>          
       The egg white gives one around 3.6 g of protein in the yolk of a single, large egg, 
       while the yolk provides around 2.7 grams.<br>
      While the white provides more protein, the yolk contains nearly all of the 
      fat- <strong>and water-soluble vitamins and minerals</strong> in eggs.<br>
      Research suggests that consuming whole eggs has more significant benefits 
      than eating egg whites alone.<br>
      <strong>In a 2017 study found that young men who ate whole eggs immediately after 
        performing resistance exercises had higher rates of muscle metabolism than 
        those who consumed only egg whites.</strong><br>          
        </p>
        Me-&quot;Rocky must have known this already in 1976.&quot;😂<br>       
    </blockquote>

    <blockquote>
      <h2>Why I say Eggs are healthy for you</h2>
      <framed-text>
      Me- &quot;Now , I'm not saying I'm an expert on the matter.<br>
      Please read my blog with a pinch of salt, and one should do one's own research.<br>
      As always I attach the references at the end on my blogs, which you are welcome to refer to.&quot;<br>
      </framed-text>
      <p>
        Although eggs are a breakfast staple for many people, they tend get a bad 
        rap for their cholesterol content.<br> But you may be surprised to learn that 
        eggs contain eight essential nutrients, protein, healthy fats and antioxidants.<br>
        Plus, they are affordable, easy to cook and versatile.<br>
        <strong>And believe it or not, the cholesterol in eggs isn't actually linked to raising
          blood cholesterol levels.</strong><br>
        Recent research has determined that eating cholesterol is not associated with an increase in 
        blood cholesterol.<br> 
        &quot;While past research confused the public regarding if it was truly safe to eat eggs on a 
        regular basis out of fear of cardiovascular disease, recent research has since disproved this 
        notion,&quot; said registered dietitian Elizabeth Shaw.<br>
        As a matter of fact, the American Heart Association recommends eggs as a source of protein in a 
        heart-healthy diet.<br>
        <strong>A study of more than 400,000 adults in Europe found no link 
          between egg consumption and cardiovascular disease risk.<br>
          Actually, the study found that higher egg intake was associated 
          with lower risk of having a heart attack. <br>
        </strong> <br>        
      </p>
      <p>
        Eggs are also one of the only natural food sources of vitamin D, a nutrient that <strong>promotes 
          calcium absorption for bone health.</strong><br>
        &quot;I feel sorry for the aged, being too frail to go outside, and eggs are a no no.&quot;🤔
        Vitamin D plays a role in many other bodily functions, such as combatting inflammation, 
        cell growth, immune function and glucose metabolism.<br>
      </p>
      <p>
        “Eggs are also <strong>one of the highest concentrated sources of choline, which plays an integral part 
          in liver, brain and muscle function, as well as metabolism and cell membrane composition.</strong><br>
        Most notably, choline is involved in fetal brain and spinal cord development, making it a <strong>crucial
          nutrient for pregnant people.</strong><br>
      </p>
      <p>
      Eggs contain lutein and zeaxanthin, two antioxidants that are known to improve or <strong>prevent 
        macular disease,</strong> the leading cause of blindness and vision impairment.<br>
      </p>
      <p>
        &quot;Contrary to what you may see on social media, you actually want to eat the whole egg 
        (yep, yolk included) to reap the full nutritional benefits,&quot;
         said Shaw.<br>
         <strong>The yolk houses most of the nutrients, </strong>including the fat-soluble vitamins A, D, E and K, 
         as well as all of the choline, lutein and zeaxanthin.<br>
      </p> 
      <h3>Note</h3>      
      <p> 
      <strong>It is worth noting that many of the studies did not test the effects of egg yolks in humans.<br>
        Instead, they performed the tests in a laboratory or on animals.</strong><br>
      <dov class="image-container">
        <img src="https://th-thumbnailer.cdn-si-edu.com/j1o5WIvl843z50ia3IIfVtdy_Tw=/fit-in/1072x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/c5/70/c5700276-c8c4-4e12-a610-c40b05cb0b9c/2527b7d7803fc51bcf225e6af6a67a13.jpg" 
        alt="Lab Rat">
        <p><a href="https://www.smithsonianmag.com/science-nature/history-lab-rat-scientific-triumphs-ethical-quandaries-180971533/">The Vacanti mouse with a human-ear-shaped piece of cartilage growing out of its back.</a></p>
      </dov>
       Therefore, the findings may not apply to humans.<br>
       Since 2015, the federal government's Dietary Guidelines for Americans have set <strong>no specific cholesterol limit.</strong><br>
       The guidelines say eggs can be part of a healthy diet.<br>
       More recently, in proposed new rules, the Food and Drug Administration said eggs can be labeled as <strong>heathy food.👍</strong> <br>
       The heart association now says that an egg a day is fine for most people and that older adults with normal blood cholesterol and a heart-healthy diet 
       can safely eat up to two.<br>
       People with high cholesterol should be more cautious about consuming cholesterol, the group says.
      </p>  
      <div class="video-container2" >
        <iframe src="https://www.youtube.com/embed/onQrMszTnzc?si=AlXRoVyjpbm71O3Y"></iframe>
      </div> 
      <p style ="text-align: center;">The Shocking Truth About Eggs | Dr. Mandell</p>
      <h3>Are eggs healthy?</h3>
      <p>
        <details>
          <summary>
            <div class="image-container">
                <img src="https://img.freepik.com/free-vector/adorable-yellow-alien-monster-cartoon-character-with-horn_1308-159957.jpg" alt=""   >
                <p>Cartoon Character of Cholesterol Monster</p>
            </div>
            <span class="my-p"><strong>Cholesterol,</strong></span> like many other things has had a bad reputation.<br>
            Unfortunately, like many things in life, it's based on rumour and not facts
            and as result, through association, eggs have had the same fate.<br>
            In fact, our body produces around 75% of out cholesterol.<br>
            Now if we eat to little cholesterol, our body is forced to produce more cholesterol.<br>
            Forget the <strong>FEAR</strong> of cholesterol.<br>
            Rather see its as, <strong>TOO MUCH AND TOO LITTLE</strong> of it as anythging in life. is bad for you.<br>
          </summary>
          <framed-text>
            <h3>Cholesterol is important</h3>
            To build the structure of cell membranes. make hormones like oestrogen,
             testosterone and adrenal hormones. help your metabolism work 
             efficiently, for example, cholesterol is essential for your body to 
             produce vitamin D.<br>
             <a href="https://www.betterhealth.vic.gov.au/health/conditionsandtreatments/cholesterol">Cholesterol</a>
          </framed-text>
        </details>
        
      </p>
      <p>
      <strong>As Doctor Mandell (in te video stated), there is no scientific evidence that shows that eggs are bad for you.</strong><br>
      </p>
      Me-&quot;Did you note in the video clip above, that Rocky drank the whole egg?, I ask you again.<br>
      This was in 1976.<br>
      Seems like the guys in those days, just knew what was good for them then... and did not necessary listen to <strong>lab rats.</strong>&quot;
      <hr>
      <p>
        <strong>Yes,<br> Two eggs per day,<br> ...especially in the winter months... (vitamin D)<br>
          ... don't skip the egg yoke to get the full benefit...</strong>        
      </p>
      <p>
        Lastly, watch the video... above!!!<br>
      </p>
    </blockquote>
    <blockquote>
      <h2>Like anything in life. Don't overdo it</h2>
      One large egg has 1.5 grams of saturated fat, which is a little more than 13% the daily value (in a 2,000 calorie diet).<br>
      Therefore, eating more than one egg per day can really add up, especially if you eat other animal foods.<br>
      While eggs have many health benefits, it’s best to limit your intake to one or two eggs per day.<br>
      <div class="video-container2">
        <iframe src="https://www.youtube.com/embed/dVvh9O2GbXQ?si=X_4BKF8TUXTWhf9e"></iframe>
      </div>
      <p style="text-align: center">Are eggs good for you?</p>
    </blockquote>
    <blockquote>
      <h2>The Bonus As Promised</h2>
      I was sitting in bed, eating my breakfast(Lupins, Peanuts and an espresso), giving me a whopping 25grams of protein
      , while watching the news on SIC TV.<br>
      An advert catches my attention...<br>
      The advert shows things rolling off some objects and a lady instinctively catching it.<br>
      Later on it shows her grabbing her throat and the advert ends with her catching a box of MebocaÍna pills.<br>
      I found this rather intriguing as the first object is an <strong>EGG</strong> and as I'm currently
      researching eggs for this blog I googled <strong> 'Eggs and a sore throat'.</strong> <br>
      ...Watch this short video below.<br>
      <div class="video-container2">
        <iframe src="https://www.mebocaina.pt/images/videos/mebocaina_hp.mp4"></iframe>
      </div>
      Did you watch the video?<br>
      What are they actually telling us here?<br>
      Well!!<br>
     &quot; You got a sore throat, go get a box of 'MebocaÍna'.&quot;<br>
      But subtly, they're saying, <strong>You got a sore throat, EAT EGGS </strong><br>
      <framed-text>
        <h3>Eggs and a Sore Throat</h3>
        Zinc, selenium, iron, vitamin B12, and vitamin D are some of the many nutrients in eggs that can combat and 
        relieve a sore throat.<br>
        Consider making scrambled eggs, which are warm, soft, and easy to chew and swallow.<br>
      </framed-text>
      <hr>
      You've got to love these guys.<br>
      They throw it in our faces, <strong>Eat Eggs</strong><span style="font-size:1.4em"></span> and all we 
      see is a box of pills.<br>
      ¯\_(ツ)_/¯<br>
    </blockquote>

   
    <!-- Comments -->
    {% include_relative include_me/comment_eng.html %}

    <!-- References-->
    <div>
      References:<br />
      <a
        href="https://www.australianeggs.org.au/recipes-and-cooking/easy-boiled-eggs"
        >How To Make Perfect Boiled Eggs Every Time</a
      ><br />
      <a href="https://www.ebay.co.uk/b/bn_7022660509"
        >Vintage Wardrobe Mirror in Wardrobes</a
      ><br />
      <a href="https://en.wikipedia.org/wiki/Neolithic"
      >Neolithic</a
    ><br />
    <a href="https://www.foodtimeline.org/foodeggs.html"
    >When and why did humans begin consuming eggs?</a
  ><br />
  <a href="https://www.pcrm.org/good-nutrition/nutrition-information/health-concerns-with-eggs"
  >Health Concerns With Eggs</a
><br />
<a href="https://www.aarp.org/health/healthy-living/info-2023/foods-that-get-an-unfair-bad-rap.html"
>Don’t Shun These 7 Foods: Their Bad Reputations Are out of Date
</a><br />
<a href=https://www.egginfo.co.uk/egg-nutrition-and-health/egg-nutrition-information/protein"
>Protein in eggs</a><br />
<a href="https://www.today.com/health/diet-fitness/how-many-calories-in-an-egg-rcna53691">Are eggs healthy? A dietitian weighs in</a><br>
<a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC6024517/">Dietary Cholesterol, Lipid Levels, and Cardiovascular Risk among Adults with Diabetes or Impaired Fasting Glucose in the Framingham Offspring Study</a><br>
<a href="https://www.ahajournals.org/doi/10.1161/CIRCULATIONAHA.118.038813">Consumption of Meat, Fish, Dairy Products, and Eggs and Risk of Ischemic Heart Disease</a><br>
<a href="https://jissn.biomedcentral.com/articles/10.1186/s12970-018-0215-1">How much protein can the body use in a single meal for muscle-building?</a><br>
<a href="https://healthcareassociates.com/10-foods-to-eat-with-a-sore-throat/">10 Foods To Eat With a Sore Throat</a><br>
<a href="https://www.mebocaina.pt/">MebocaÍna</a><br>
    </div>
    <!-- js for slider -->
    <script>
      {% include_relative include_me/slider/slider.js %}
    </script>
  </body>
</html>
