---
# multilingual page pair id, this must pair with translations of this page. (This name must be unique)
lng_pair: are-egss-good-for-you
title: Are Eggs Good For You ?

# post specific
# if not specified, .name will be used from _data/owner/[language].yml
#author: ""
# multiple category is not supported
category: Health and fitness
# multiple tag entries are possible
tags: [psychology, mental health]
# thumbnail image for post
img: "https://www.australianeggs.org.au/assets/Uploads/AusEggsBasics_willowcreative_1006-1_4x3crop__ScaleWidthWzEyMDBd_ExtRewriteWyJqcGciLCJhdmlmIl0_QualityWzYwXQ.avif"
# disable comments on this page
# comments_disable: true

# publish date
date: 2024-11-24 05:00:00
# seo
# if not specified, date will be used.
#meta_modify_date: 2021-08-10 11:32:53 +0900
# check the meta_common_description in _data/owner/[language].yml
#meta_description: ""

# optional
# please use the "image_viewer_on" below to enable image viewer for individual pages or posts (_posts/ or [language]/_posts folders).
# image viewer can be enabled or disabled for all posts using the "image_viewer_posts: true" setting in _data/conf/main.yml.
#image_viewer_on: true
# please use the "image_lazy_loader_on" below to enable image lazy loader for individual pages or posts (_posts/ or [language]/_posts folders).
# image lazy loader can be enabled or disabled for all posts using the "image_lazy_loader_posts: true" setting in _data/conf/main.yml.
#image_lazy_loader_on: true
# exclude from on site search
#on_site_search_exclude: true
# exclude from search engines
#search_engine_exclude: true
# to disable this page, simply set published: false or delete this file
# published: false
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      {% include_relative include_me/my_page.css %}
      {% include_relative include_me/video-container2.css %}
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Are Eggs Good For You</title>
  </head>
  <body>
    <blockquote>
      <details>
        <summary>
          In the seventies the <strong>Iconic Box Office movie</strong
          ><span class="my-p"> Rocky</span> written and starred by Sylvester
          Stallone was <br />
          Probably the best movie of all times in that genre.🤔<br />
          I was a lad then, in my teens, and became an instant fan.<br />
        </summary>
        <framed-text>
          <h3>Rocky</h3>
          <div class="image-container">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/1/18/Rocky_poster.jpg"
              atl="Rocky"
            />
            <p>Rocky - Theatrical release poster</p>
          </div>
          <p>
            Rocky is a 1976 American independent sports drama film directed by
            John G. Avildsen and written by and starring Sylvester Stallone.<br />
            Rocky entered development in March 1975, after Stallone wrote the
            screenplay in three days.<br />
            It entered a complicated production process after Stallone refused
            to allow the film to be made without him in the lead role; United
            Artists eventually agreed to cast Stallone after he rejected a six
            figure deal for the film rights.<br />
            Principal photography began in January 1976, with filming primarily
            held in Philadelphia; several locations featured in the film, such
            as the Rocky Steps, are now considered cultural landmarks.<br />
            With an estimated production budget of under $1 million, Rocky
            popularized the rags to riches and American Dream themes of sports
            dramas which preceded the film.<br />
            <a href="https://en.wikipedia.org/wiki/Rocky">Rocky</a>
          </p>
        </framed-text>
      </details>
      <ul>
        Now when one eats eggs for breakfast there is always the rhetoric:
        <li>Eggs are not good for you</li>
        <li>They are good, but don't eat eggs every day.</li>
        <li>Watch out for that dreaded word, <strong>Cholesterol</strong></li>
        <li>They are good for you, but in moderation</li>
        <li>Only eat the egg whites</li>
        <li>etc,...etc .. etc</li>
      </ul>  
      Well, I must be wired differently.<br>
      When I eat eggs, it reminds me of that awesome movie where an 'old school clock's' alarm goes off at
      04:00 in the morning, and Rocky stands up, goes to his kitchen, breaks a couple of eggs (I think 5 in total
      giving you around 32 grams of protein) into a flask and downs them before going for his morning run.<br>
      Wow, that an awesome scene.<br>
      Like kids like to say today, thats the bomb,  👊🏻💣💥<br>
      <i>By the way, Philip, if you're reading my blog, you know we did something similar, if you recall.</i><br>
      <div class="video-container2"   >
        <iframe src="https://www.youtube.com/embed/snqs566G_Zg?si=bRC2eEjt2TxOxDHT"></iframe>
      </div>
      <p>Rocky (4/10) Movie CLIP - Breakfast of Champions (1976) HD</p>     
      <hr />
      Wife &quot;" I can't believe what I'm seeing."<br />
      Me - "ha?"<br />
      <div class="image-container">
        <img
          src="https://i.ebayimg.com/thumbs/images/g/wlUAAOSwx6ZmI4dl/s-l1200.jpg"
          atl="wardrobe"
        />
      </div>
      It was early morning and I was standing in the front of wardrobe looking
      into the mirror while changing from my Pjs.<br />
      Wife - &quot; ... at sixty you still stand and admire your body.<br />
      You're like a teenager,... a sixty year old teenager.&quot; and laughs as
      she walks out of the room.<br />
      Me = &quot;A teenager with sixty years of experience.&quot; 🤔 I think to
      myself. 😊😚<br />
      <hr />
      Being a young lad, and looked up to guys like
      <a href="https://en.wikipedia.org/wiki/Steve_Reeves">Steve Reeves,</a>
      a body builder and actor, famous for his role in Hercules, as well as
      other male figures such as,
      <a href="https://pt.wikipedia.org/wiki/Bruce_Lee">Bruce Lee</a>, and 
      <a href="https://pt.wikipedia.org/wiki/Arnold_Schwarzenegger">Arnold,</a>
      among many others, made me an instant fan of Sylvester Stallone.<br />
      Me - &quot;What a great period for a young lad to grow up in.<br />
      ... young lads of today have lost some of that,<br />
      ... being proud of being a male..<br />
      The power that comes with their testosterone, <br />
      ... their birthright,<br />
      ... the ability that one has to carve out ones own male body.<br />
      ... the ... &quot; 🤔 I think to myself.<br />
      <hr />
      I recall my cousin 'Emma' telling the story of when I was a little
      'peewee'.<br />
      Emma - &quot;Manelito, you use to stand on the chair, and say, look how
      big I am, while doing biceps pose.&quot;<br />
      <div class="image-container">
        <img src="https://i.etsystatic.com/34755726/r/il/68a3bd/3801719526/il_570xN.3801719526_g67q.jpg" alt="double biceps pose">
        <p>Arnold Schwarzenegger - double biceps pose</p>
      </div>

      <hr />
      Well, what has this all got to do with eggs, you may be thinking, while indulging me and my blog.<br>
       Being interested in bodybuilding, the more one knows about nutrition, the better the results
      will be.<br />
      Now <strong>eggs</strong> has always ranked on the top of the food sources when it comes to
       feeding one's muscles with protein.<br>
      <hr />
      While I'm writing this blog, my thoughts go to a week or so ago, when I
      got a video call from an old pal of mine.<br />
      It was around 22:00 or later.<br>
      I look at the screen and I see it's Philip, my old gym partner.<br />
      <details>
        <summary>
          He always said that we were like
          <span class="my-p">Arnold and Franco Columbu.</span><br />
        </summary>
        <framed-text>
          <h3>Arnold and Franco Columbu</h3>
          <div class="image-container">
            <img src="https://image-cdn.essentiallysports.com/wp-content/uploads/WhatsApp-Image-2023-10-03-at-1.48.44-PM.jpeg?width=900" 
            alt="Arnold and Franco">
          </div>
          Franco Columbu, who was best friends with Arnold Schwarzenegger, left
          an incredible mark in the realm of bodybuilding.<br />
          A frequent visitor at Gold's Gym, he made the sport popular in the
          1970s.<br />
          <a
            href="https://www.essentiallysports.com/bodybuilding-news-arnold-schwarzeneggers-training-partner-franco-columbu-once-shared-the-logic-behind-intense-training-makes-a-guy-win-mr-olympia/"
            >Arnold Schwarzenegger’s Training Partner Franco Columbu Once Shared
            the Logic Behind Intense Training: “Makes a Guy Win Mr. Olympia”</a
          >
        </framed-text>
        Me - "Hello Philip, hoe gan dit met jou?"<br />
        <i> Hello Philip, how are you doing</i><br />
        Philip, being africans, we tend to switch between english and africans, or even
        mix the two languages.<br />
        <div class="image-container">
          <img src="https://scontent.fopo3-2.fna.fbcdn.net/v/t39.30808-6/374205690_826131989213786_6926393643546437144_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=DwNg0xNvAEgQ7kNvgEKVU8Y&_nc_zt=23&_nc_ht=scontent.fopo3-2.fna&_nc_gid=AwdqYT0377wkMXUlr_dksHH&oh=00_AYCMYjHwnLGzsvxTdErg5xXUpIoUxIEPoTcIDLxauepVsg&oe=6748E593"
          alt="https://www.facebook.com/p/Kiewiets-Health-Fitness-Club-100054509768813/">
          <p><a href="https://www.facebook.com/p/Kiewiets-Health-Fitness-Club-100054509768813/">Kiewiet's Health & Fitness Club </a></p>
                 </div> 
        We trained together, for many years, at Kiewiet's gym in Welkom, South
        Africa.<br />
        <details>
          <summary>
            Now unlike many people might think, <span class="my-p">a Gym </span>is not merely a place for exercising, but also a place 
            where one develops one's intellect, as well as relationships<br />
            Look out for a future blog of mine where I'll delve further on this.<br>
            For now I'll just share this.<br>
            At times after finishing our gym session, we'de stand outside having a
            heated debate on some topic, just to find that and hour or two had
            passed and we were still standing next to our cars, deep in some intellectual discussion.<br />
          </summary>
          <framed-text>
            <h3>Gymnasium</h3>
            <div class="image-container">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQeI3etkvNNCbThnLF20EpKgCW-ANFoGxi4Q&s"
               alt="Kiewiet's Gym">
               <p>Kiewiet's Health & Fitness Club</p>
            </div>
            A gym, short for gymnasium ( pl. : gymnasiums or gymnasia), is an indoor venue for 
            exercise and sports. The word is derived from the ancient Greek term "gymnasion".<br>
            They are commonly found in athletic and fitness centres, and as activity and learning spaces 
            in educational institutions.<br>
          </framed-text>
        </details>
      </details>
      <hr>
      We've (Philip and I) for well over an hour now, mainly on our gym days.<br>      
      Me - &quot;Weet jy wat Philip?&quot;<br>
      Philip - &quot;Wat&quot;
      <hr>
      I go to explain to him  that one of my dreams was to own a gym.<br>
      Philip - "&quot;Nee, ek het dit nie geweet nie&quot;<br>
      <hr>
      I explain further that if I had to open a gym, beginners when starting ayt my place would
      first undergo some education on nutrition, before even delving into the actual physical training.<br>
      I honestly believe, that nutrition is of utmost importance, and neglected in todays
      gymnasia and if I had some training on that in my earlier years, I'd have achieved much more.<br>

    </blockquote>

    <!-- References-->
    <div>
      References:<br />
      <a
        href="https://www.australianeggs.org.au/recipes-and-cooking/easy-boiled-eggs"
        >How To Make Perfect Boiled Eggs Every Time</a
      ><br />
      <a href="https://www.ebay.co.uk/b/bn_7022660509"
        >Vintage Wardrobe Mirror in Wardrobes</a
      ><br />
    </div>
    <!-- Comments -->
      {% include_relative include_me/comment_eng.html %}
  </body>
</html>
