---
# multilingual page pair id, this must pair with translations of this page. (This name must be unique)
lng_pair: weight-loss-fast
title: The Secret To (Fast) Weight Loss - HIIT

# post specific
# if not specified, .name will be used from _data/owner/[language].yml
#author: ""
# multiple category is not supported
category: Health and fitness
# multiple tag entries are possible
tags: [health, nutrition, muscle building, body building, fat loss]
# thumbnail image for post
img: "https://www.netmeds.com/images/cms/wysiwyg/blog/2019/01/Tips_weight_898.jpg"
# disable comments on this page
# comments_disable: true

# publish date
date: 2025-03-25 10:00
# seo
# if not specified, date will be used.
#meta_modify_date: 2021-08-10 11:32:53 +0900
# check the meta_common_description in _data/owner/[language].yml
#meta_description: ""

# optional
# please use the "image_viewer_on" below to enable image viewer for individual pages or posts (_posts/ or [language]/_posts folders).
# image viewer can be enabled or disabled for all posts using the "image_viewer_posts: true" setting in _data/conf/main.yml.
#image_viewer_on: true
# please use the "image_lazy_loader_on" below to enable image lazy loader for individual pages or posts (_posts/ or [language]/_posts folders).
# image lazy loader can be enabled or disabled for all posts using the "image_lazy_loader_posts: true" setting in _data/conf/main.yml.
#image_lazy_loader_on: true
# exclude from on site search
#on_site_search_exclude: true
# exclude from search engines
#search_engine_exclude: true
# to disable this page, simply set published: false or delete this file
# published: false
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      {% include_relative include_me/my_page.css %}
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Secret Fat Loss Formula</title>
  </head>
  <body>
    <blockquote>
        I'm going to share a secret with you.<br>
        <div style="background-image:url('https://img.freepik.com/premium-vector/top-secret-rubber-stamp-red-top-secret-rubber-grunge-stamp-seal-vector-illustration-vector_140916-43838.jpg');
                    color:black">
            Here I'm not talking about food and diets, but the most effective training to speed up yor weight loss.<br>
            When it comes to weight loss many people will focus on cardio and many others will focus 
            on resistance training such as weight lifting.<br>
            There is always the debate that one is better than the other.<br>
            I'll explain why both can be correct or wrong, and if you read my blog to the end
            I'll share the actual secret exercise plan that you can do around 20 minutes that  
            beats all other weight loss exercise plans out there.<br>
            <br>
            <strong>There is simply no more effective form of exercise plan out there for fat loss.</strong><br><br>
            And the added bonus is that you don't need special equipment, go to a gym , spend hours a day etc, to implement
            this exercise plan, as it's not a specific exercise but rather how you go about doing the exercise.<br>
            And yes, I said exercise.<br>
            You only need one exercise to to <strong>boost</strong> your body into <strong>Fast burning HyperDrive.</strong><br>
        </div>        
    </blockquote>
    <blockquote>
        Now before I start this blog, the one we've all been waiting for, <strong>The Secret To The Fat Burning Exercise Plan</strong>
        I'd like to refer you to another interesting blog I posted on on the 25th March 2025 called 
        <a href="./2025-03-25-fat-loss-formula.html">The Secret Fat Loss Formula</a> that you are 
        welcome to read before or after this blog.<br>
    </blockquote>
    <blockquote>
        <h2>The bodies preferred order of energy sources</h2>
        <p>
            Ok, so I mentioned above that this blog is about <strong>exercises</strong> and not food.<br>
            So, what energy sources am I talking about here?<br>            
        </p>
        <p>
            <ol>
                Well, you got me there, I'm talking about food here, namely:
                <li> Carbohydrates</li>
                <li>Fats</li>
                <li>Proteins</li>
            </ol>          
        </p>
        <div class="image-container">
            <img src="https://static.wixstatic.com/media/c9eab2_f933c05bf139493894054e2fafa9d52e~mv2.jpg">
        </div>
        <p>
            Well, why do we need to know this?<br>
            I'll reply to this question, with another question.<br>
            <strong>What energy source is your body using when you're exercising?</strong><br>
            Or I could ask in another format -<br>
            <strong>What or how should I exercise to tap into my <span stye="font-size:1.2em">FAT</span> resources?</strong>
        </p>
        <p>
            So to answer this I need to explain a little bit on how and when our body makes use of its 
            available energy resources, namely Carbohydrates, Fats and Protein.<br>
            So here goes.
        </p>
        <p>
            Carbohydrates, fats and proteins are the main types of macronutrients in food and provide 100% of our 
            bodies energy.<br>
            Both protein and Carbs give us 4 calories per gram, while fats give us 9 calories per gram of energy<br>
            <ul>
                These are all broken down in our intestine.
                <li>Carbohydrates into glucose (sugars)</li>
                <li>Fats into fatty acids and glycerol.</li>
                <li>Protein into amino acids</li>
            </ul>            
        </p>
        <p>
            Now when we design our exercise plan with the goal of burning fat it’s important to have 
            some knowledge on our body's preferred order of it's available energy sources for energy.<br>
            So, we want to know how our body uses the food we give it and how it burns this energy.<br>
        </p>
        <framed-text>
            The body's preferred order for burning energy is carbohydrates, then fats, and finally proteins. 
            <ul>
                <li>
                    Carbohydrates<br>
                    Its the primary source of energy.<br>
                    They broken down into simple sugars that are absorbed into the bloodstream.<br>
                    <strong>During exercise, the body uses a combination of carbohydrates and fats.</strong><br>
                    The longer you exercise, or the higher the intensity, your body starts burning fat as well.<br> 
                </li>
                <li>
                    Fats<br>
                    The body's slowest but most efficient source of energy.<br>
                    Fats are broken down into fatty acids and monoacylglycerol.<br>
                    <strong>During exercise, the body uses a combination of carbohydrates and fats, with the ratio shifting depending on the 
                        intensity and duration of the activity</strong>.<br>
                </li>
                <li>
                    Proteins<br>
                    The body's slowest source of energy, proteins are broken down into amino acids.<br>
                    <strong>
                        During starvation, the body uses protein for energy, but the amount used is small compared to carbohydrates and fats.<br>              
                    </strong>
                    Now, if you're into muscle building, this may explain why bodybuilders are so focussed on their diets especially 
                    <strong>pre-workout</strong> and even post-workout meals.<br>
                    They know that they need to give their bodies enough energy, enough carbs before their workout, so that the body limits the 
                    use of protein, as its a valuable source to build muscle fibres.<br>
                    For the rest of us, it's also not advisable, as we want to lose weight, but maintain or even increase our muscles.<br>
                </li>
            </ul>
        </framed-text>
        <p>
            So, how do we go about designing our <strong>Fat Burning Exercise Plan?</strong><br>        
        </p>
    </blockquote>
    <blockquote>
        <p>
            Before we go further I'd like to share something with you.<br> 
        </p>
         <p>
            As A young boy, I always wanted to be big and muscular.<br>
        So when I was old enough I joined the local gym, in Welkom South Africa.<br>
        I must have been around 15 years of age.<br>
        </p>
        <div class="image-container">
            <img src="https://flashbak.com/wp-content/uploads/2016/10/muscle-and-fitness-1983.jpg" alt="Muscle@Fitness">
           </div>
        <p>
            So, like most beginners out there, I copy the basics from a guys at the gym,
            but mostly I was on my own.<br>
            I'm talking of the days when gyms were <strong>only male</strong> or<strong>only female</strong> gyms,
            and there were no such things as personal trainers etc.<br>
            There were some <strong>Bodybuilding</strong>magazines out there etc.<br>   
            So Basically we looked at how the seniors at the gym exercised, and read one of two magazines
            (as they were expensive), that had a famous bodybuilders routine tried to follow those .<br>
        </p>
        <p>
            So what I'm saying we learned bodybuilding like a parrot learns to speak our language.<br>
            I had no idea what <strong>Hypertrophy</strong> was, I don't think I even had heard that
            word in my early years and I has no idea what the roles of carbs, fats and protein had etc.<br>            
        </p>
        <p>
            So, I strongly believe that anyone that is serious about their body and want results 
            should spend a bit of time researching on how our body uses its energy sources
            and what exercise plans to use for certain results, before even attempting to start exercising.<br>
                       
        </p>
        <p>
            If you can afford a professional exercise coach, that's a big plus.<br>
            But at the end, it all depends on you.<br>
        </p>
        <p>
            OK, so now that I got that off my chest, lets carry one...
        </p>       

    </blockquote>
    <blockquote>
        <h2>It all starts with a breath</h2>
        
            As I mentioned before, carbohydrates are broken down into glucose
            and fat cells into triglycerides, which is then used for energy. <br>
           <strong>
            <details>
                <summary>
                    Now what is of utmost importance is that these two resources is our body's 
                    primary energy sources and if we don't have enough calories for to burn 
                    then the body will use protein as an energy source.<br>
                    And we don't what that, we need our protein to build muscle among other <span class="my-p">important functions.</span><br>
                    Apart from that, protein tends to be an expensive fuel for our bodies, 
                    while carbohydrates and fats are much cheaper.<br>
                </summary>
                <framed-text>
                    <h3>Protein's Important Job</h3>
                    <p>
                        The body's primary energy source is carbohydrates.<br> 
                        If the body doesn't get enough calories from other nutrients or stored fat, 
                        it breaks down protein to make ketone bodies for energy. <br>
                    <h4>During exercise:</h4>
                    When muscle glycogen stores are low, the body breaks down amino acids from muscle protein 
                    into glucose for energy. <br>
                    <h4>When fasting</h4>
                    Protein is also used as an energy source during fasting. <br>
                    </p>
                    <h4>We want to limit the use of protein as an energy source and use it for the following</h4>
                    <ol>
                        <li>Maintain and replace tissues</li>
                        <li>Function and grow</li>
                        <li>Repair after injury</li>
                        <li>Build muscle mass</li>
                        <li>Make new proteins, such as muscle and bone</li>
                        <li>Make other compounds, such as enzymes and hormones</li>

                    </ol>               

                    </p>
                </framed-text>
            </details>           
           </strong> 
        
    <p>
        So how does our body make use of these resources.<br>
        Like the heading states, it all starts with a breath.<br>
    </p>
    <h3>The Lungs</h3>
    <p>
        When we take a breath we fill our lungs with oxygen.<br>
        When you breathe the alveoli in the lungs re filled with oxygen.<br>
        These are tiny sects within our lungs that allow oxygen and carbon dioxide to move between the lungs and the bloodstream.<br>
        When you breathe out, the carbon dioxide is also sent to the alveoli so it can leave the body.<br>
        Once again the blood can be filled with oxygen and sent to the heart.<br>
    </p>
    <div class="image-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Alveoli.svg/1920px-Alveoli.svg.png" alt="Gaseous exchange in the lung">
        <p>Gaseous exchange in the lung</p>
    </div>
    <p>
        <details>
            <summary>
                This <span class="my-p"></span>oxygen<strong>is used in cellular respiration </strong> to break down glucose and produce energy in the form of ATP,
                which fuels muscles and other cells.<br>
                <details>
                    <summary>
                        <strong>Take note, that the harder you exercise the more energy your muscles need and thus 
                            The more oxygen is required to break down that energy source to form <span class="my-p">ATP</span><br>
                            That is why one breathes faster.<br>
                    </strong>
                    </summary>
                    <framed-text>
                        <h3>ATP</h3>
                        Adenosine triphosphate (ATP) is a molecule that stores and releases energy in cells.<br>
                        ATP is made up of adenine, ribose, and three phosphate groups.<br>
                        The bonds between the phosphate groups store energy that is released when the bonds are broken.<br>
                        This energy powers cellular processes like muscle contraction, nerve impulses, and chemical synthesis.<br>
                        It's often called the "energy currency" of the cell.<br>                       
                    </framed-text>
                </details>               
            </summary>
            <framed-text>
                <h3>Oxygen is used in Cellular Respiration</h3>
                You breathe in oxygen through your nose and mouth.<br> 
	            Oxygen is transported to cells by hemoglobin in red blood cells. <br>
	            Oxygen is released into cells, where it's used in cellular respiration.<br>
	            Cells combine glucose and oxygen to produce ATP and carbon dioxide.<br>
                <h4>How oxygen is used in muscles</h4> 
	            Muscles require more oxygen when they work harder.
	            The more energy muscles need, the more oxygen they require.
           </framed-text>
        </details>
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8e59lNutIGztH2Nb7bjQuBplfL1U8Pxn46Q&s">
        </div>
    </p>

    </blockquote> 
    
    <blockquote>
        <h2>Super Storage</h2>
           <p>
               I'm sitting in a classroom on the outskirts of Johannesburg when
               I notice the logo on the lecturer's shirt. <span><img style="height:3em" src="https://www.olivetti.com/sites/default/files/logo_olivetti_2021_-_o.png"></span><br>
               He is explaining how a computers memory works.<br>
               A computer has a hard disk where all the data and applications are stored, but it also has
               what we call &quot;RAM&quot;(Random Access Memory).<br>
               It has a built in algorithm that will load all the frequently used applications into this memory.<br>
               This memory is much faster that the hard disk, thus making your pc much faster.<br>
           </p>
           <p>
               &quot;Hey, wake up.&quot;<br>
               &quot;Why are we doing 101 in computer engineering, Joao?&quot;<br>
               &quot;Well, I can't help but wonder if the computer engineers  got that idea from our bodies.&quot;<br>
           </p>
           <p>
              As I've explained, our bodies make use of food that we eat to provide our muscles with the energy 
              it needs, and this is transported to our muscles by our blood which our hearts pump through our arteries.<br>
              <i>&quot;Do you know what the blood in our veins transport?&quot;</i><br>
              I'll leave that as a homework for you and would love to read your comments...<br>
              As wonderful and fast as our heart is, it still takes an x amount of time to reach our muscles.<br>
              This is where our <strong>Super Storage called <span style="font-size:1.2em">Glycogen Storage</span></strong> comes into action.<br>
              Now your muscles are equipped with this storage, thus supplying energy to your muscles at an incredible speed.<br>
              Now this is a very important concept as just like a computers RAM, this storage on the muscle is also 
              limited.<br>
              I'd also like to add another important fact and that is why the more muscle on your frame the less tendency
              you will have to store excess carbohydrates or fats as fat in your body.<br>
              <strong>The more muscle you build the more storage capacity your body will have to store that energy as glycogen 
               and as a result the less of the excess food will be converted to fat.<br>
               <span style="color:red">So what I'm saying is, lets try and store more energy in our muscles and less energy as fat.</span><br>
               Glycogen is <strong>High Octane Fuel</strong> and looks better.<br>
              </strong>
           </p>
           <div class="image-container">
               <img src="https://higherperformance.sg/train/wp-content/uploads/2023/01/BALLY-BODY-RECOMP.png">
           </div>
    </blockquote>
    <blockquote>
        <h2>Our Heart Rates</h2>
        <p>
            Ok, from the above we can deduce that the harder we work our muscles the more energy it needs
            to supply the muscles and we need to breathe deeper and faster to supply it with the oxygen
            that is used to break down these energy sources to ATP that feeds our muscle cells.<br>
            <strong>So the harder we work our muscles the more energy we burn.</strong>
       </p>
        <p>
            Now we need some mechanism to supply the energy and oxygen to our muscles.<br>
            This is where our <strong>Heart</strong> comes into play.<br>
            The harder we exercise, the more energy we need to break down, and to do that 
            the more oxygen we need to supply our cells, thus we breath faster, but we need to
            get that to the muscles.<br>
            The heart pumps the blood cells full of oxygen and fuel to the muscles.<br>
            So the harder we exercise, the deeper and faster we breathe, the harder and faster 
            our heart pumps to get this valuable <strong>POWER PACK</strong> of energy to our muscles.<br>
        </p>
        <p>
            The speed at what our hearts beat are referred to as the Heart Rate.<br>
            Now our heart, depending on whether we are asleep, relaxed, walking or doing 
            intensive exercises, will pump our energy at deferent speed (heart rates).<br>
        </p>
        <div class="image-container">
            <img src="https://thumbs.dreamstime.com/z/super-heart-23167583.jpg">
            
        </div>
        
        <h3>Why is it important to know our Heart Rate</h3>
        <p>
            Well, it's important to know your heart rate because it can help you monitor your fitness and health, 
            and identify potential problems.<br>
            But there is another fundamental importance with knowing ones heart rate.<br>            
        </p>
        <p>
            With all of this biology, it may seem one is in a class doing Biology 101 and that we've 
            lost track of what this is all about, so let me remind you.<br>
            I actually started with saying that I'd share a <strong>Super Fat Burning Exercise Program</strong> 
            and that with only one exercise, but all we've done is talk about food and our respiratory system.<br>            
        </p>
        <p>
            Well, I promise you, I will share this with you, but as I've explained, its fundamental for you to know 
            why this exercise plan works, and why it makes your body a <strong>Fat Burning Machine.</strong><br>
        </p>
        <p>
            <strong>Again, the harder you exercise your Muscles, the faster and harder you breath, 
                resulting in your heart beating faster.<br>
                It's these <span style="font-size:1.2em">different Heart Rates</span> that is fundamental 
                in developing our <strong>Fat Burning Routine</strong>
            </strong>
        </p>
        <p>
            But to do that we need to know the difference between the terms <strong>Resting Heart Rate, VO2Max, Vmax etc.</strong>
            Other terms used to describe ones heart rate are are Zone 1, Zone2 or Aerobic and Anaerobic etc.<br>
        </p>
        <div class="image-container">
            <img src="https://blog.ohiohealth.com/wp-content/uploads/2016/09/Fitness-Target-Heart-Rate-Infographic-v2.jpg">
        </div>
    </blockquote>

    <blockquote>
        <h2> Our Resting Heart Rate</h2>
        <p>
            My son, looks ta me on his left, sees that I'm unmarked, and passes me the ball.<br>
            I handle the ball with my feet and run as fast as I can up the right flank towards my opponents goals<br>
            In my peripheral vision , I see that Daniel is already at the left of our opponents goal posts.<br>
            Wow, he's fast I think to myself.<br>
            Johnathan, my nephew, is ahead of me, facing me, wanting to stop me from getting past with the ball.<br>
            I'm in for a challenge here, as I was their Futsal coach a few years ago, and I know I've no chance to getting past him.<br>
            <strong>Not at my current level of fitness, no chance.</strong><br>
            My heart is pounding, it feels like I'm running out of breath.<br>
            Just before I reach Johnathan, I look up, see Daniel is in position, waiting.<br>
            I give it a last effort, and kick the ball.<br>
            Wow, its a perfect ball, <a href="https://youtu.be/dEUDo6jiW0M?si=XLBX-WZdC8w0ikG4">Uma Trivela</a>.<br>
            Daniel, dribles past a defender, tricks the second, ball right between his legs and <i>goloooooooooo</i>.<br>
            I indicate I need a substitute, this sprint , jog, stop, sprint, jog. stop is to intense for me.<br>
            My lungs are burning, I'm unfit.<br>

        </p>
        <div class="image-container">
            <img src="https://img.iol.pt/image/id/67dde69ad34e3f0bae9bf770/1024">
        </div>
        <p>
            The event above took place at Daniel's cousin bachelor party.<br>
            Until today, it's probably the most enjoyable bachelor's I've attended.<br>
            It could only be as it was organized by my son.<br>
            It was not the normal party, booze and wake up with a headache.<br>
            No, we started at the paintball field, had some refreshments, followed by a mini tournament of
            Futsal and a braai (Afrikaans for barbecue)<br>
        </p>
        <h3>Determining your fitness level</h3>
        <p>
            The Resting Heart rate is used to determine your cardio vascular fitness level.<br>
            Before attempting any fitness program one should know what is ones level of cardio fitness,
             especially if one has not exercised in a while.<br>
            <span style="font-size:0.8em">It is also recommended to do a physical checkup with your doctor before undertaking such an activity.</span><br>
            It determines the number of times your heart beats per minute while you're at rest.<br>
            It's an indication of how well your heart muscle is functioning.<br>
            <framed-Text>
                The normal resting heart rate for adults should be between 60 to 100 beats per minute.<br>
                On average, a lower resting heart rate suggests more efficient heart function and better cardiovascular health.<br>
                Experienced athletes sometimes have a resting heart rate close to 40 beats per minute.<br>
                <i> As I I'm writing this my Resting Heart Rate " is 53 bpm.<br>
                &quot;Not too shabby for a six year old&quot;I think to myself</i><br>
            </framed-Text>
            So one should use to determine ones fitness and then do activities at a certain level and not jump
            into an exercise activity as I did above.<br>
            <details>
                <summary>
                    I must have hit my <span class="my-p">VO2Max</span> quickly.<br>
                    <strong>This is stupid and very Dangerous.</strong><br>
                </summary>
                <framed-text>
                    <h3>What is VO2Max</h3>
                    It s the maximum amount of oxygen your body can use during exercise.<br>
                    It's a key indicator of your aerobic fitness and cardiovascular endurance.<br>
                    The more oxygen your body can consume, the more energy you can generate.<br>
                    The more efficiently your body uses oxygen, the better you can handle activities 
                    that require a lot of oxygen, like running and swimming.
                </framed-text>
            </details>           
            
            <div class="image-container">
                <img src="https://www.belmarrahealth.com/wp-content/uploads/2018/01/resting-heart-rate-chart-763x1024.png">
            </div>
            <ul>
                This is how one can use the resting heart rate:
                <li>To gauge your current and future health</li>
                <li><strong>To track your aerobic fitness level</strong></li>
                <li>To see if you're fit for training, overtrained, or stressed</li>
                <li>To identify potential health problems</li>
                <li><strong>To track your progress over time
                </strong></li>
                <li><span style="color:red"><strong>To help you hit your target heart rate during exercise</strong></span></li>
            </ul>
            Note the one in red, as we will be using that point to help develop our <strong>Fat Burning Exercise Routine</strong>.<br>
        </p>
    </blockquote>
    <blockquote>
        <h2>Does this mean we can hit our VO2Max to burn more energy, and burn more fat?</h2>
        <p>
            Well my answer would be no.<br>
            Your body's VO2Max is a measurement of the maximum volume of oxygen that it can use, and it's a major factor 
            in determining your endurance level.<br>
            <strong>The problem is none of us will be able to measure our VO2Max while exercising normal.</strong><br>
            Fitness watches don't do this and obviously you don't have a lab at your local gym.<br>
            What we do is use another metric while exercising, called <strong>VMAX</strong><br>          
        </p>
    </blockquote>
    <blockquote>
        <h2>VMAX</h2>
        VMAX describes the level of exertion when you feel you can't bring in as much air as your body wants.<br>
        <strong>This is the point where you cannot hold a conversation comfortably anymore.</strong><br>
    </blockquote>
    <blockquote>
        <h2>What exercise program is the most effective for weight loss</h2>
        <p>
            If you want to lose weight, one of the first questions that you will ask yourself probably is how should I train?<br>
            Should I do traditional cardio like jogging or is it better to start lifting weights?,Or maybe both.<br>
            Or, if you are constrained with regards to time, which one is the most effective with the available time you have  
            to exercise?<br>
        </p>
        <h3>Cardio</h3>
        <p>
            The traditional view is that if you want to lose fat, you should do more cardio, and that if you want to build muscle, 
            you should hit the gym and lift heavy weights.<br>
            <strong>But this kind of thinking misses the point.</strong><br>
            The primary driver of weight loss is a calorie deficit, meaning you consume less energy than you regularly burn.<br>
            You can reach this deficit in a number of ways, not just with cardio.<br>
            Again I refer your to my blog <a href="./2025-03-25-fat-loss-formula.html">The Secret Fat Loss Formula</a> where I go
            more into detail on this.<br>
        </p>
        <p>
            If you go Jogging for around an hour you can expects for burn between 400 to 600 kcal depending on the 
            intensity and your body weight.<br>
            Now, over time as you get fitter doing cardio,  less and less energy is needed to continue doing the same types of workouts.<br>
            You need to be careful, as one may overestimate the calories burnt, so one may overeat, resulting in one putting one Weight
            instead of losing more weight, if thats one's goal.<br>
            <strong>This applies for any form or exercise and not just cardio.</strong><br>
        </p>
        <div class="image-container">
            <img src="https://nit.pt/wp-content/uploads/2018/11/a1c2ca9f5bdb6045d48199653d16674a-754x394.jpg">
        </div>
        <h3>Resistance and Weight Training</h3>        
        <p>
            A normal weight lifting routine will only burn around two to 300 calories per session, maybe a bit more .<br>
            So if we only look at calories burned per one hour workouts, cardio would be the winner.<br>
        </p>
        <div class="image-container">
            <img src="https://www.health.com/thmb/Je1gvSrl_1G7Nb8BTCs-IGML-XQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Health-GettyImages-1320506574-ab7ee9d7aaa34134b346b564fc51fa26.jpg">
        </div>
        <h3>The Afterburn Effect</h3>
        <p>
            The afterburn effect, also known as excess post-exercise oxygen consumption (EPOC), is the increased rate of oxygen and 
            calorie consumption after a workout.<br>
             It's the energy your body uses to return to a resting state.<br>
             In other words, Its the energy your body uses to recover after a session of cardio or weightlifting.<br>
             It's a known fact that resistance training afterburn effect is higher than that of cardio.<br>
             Even though this is true, the overall energy consumed is still higher in cardio than a session of weightlifting.<br>
             <strong>So the bottom line in terms of calories burned is that cardio is better than wait lifting.</strong>             
        </p>
        <div class="image-container">
            <img src="https://www.lvfitinc.com/wp-content/uploads/2018/01/afterburn_effect.jpg">
         </div>
        <h3>Does this mean I should do pick cardio over weight lifting</h3>
        <p>
            No, <strong>The Key is Body Composition.</strong><br>
            Your goal should not merely be to lose weight, but to lose fat, to look and feel great, you actually want to gain some weight 
            in the form of muscles and lose some weight in the form of fat.<br>
            <framed-text>
                Most beginners do too much cardio and not enough weight training.<br>
                They grind away on the treadmill for hours and hours and might even lose some weight.<br>
                But because they do very little to maintain their muscles through resistance training,
                their body will not only lose fat, but also muscle, which is why many of them end up looking kind of weak and skinny.<br>
            </framed-text>
        </p>
        <p>
            So what I recommend is a program that makes use of both weight training to build muscle and 
            cardio to maximize fat loss.<br>
            <strong>But how does one go about this, as cardio does little for muscle building and weight lifting 
                not so much for weight loss?<br>
            </strong>
        </p>
     
    </blockquote>

    <blockquote>
        <h2>The Super Fat Burner Exercise Program</h2>     
        <p>
            One more point before I share this secret with you.<br>
            You won't believe how simple it is to implement.<br>
        </p>
        <p>
            As I've noted, we want to lose weight, but keep and build muscle, as we know that the more muscles 
            we have the more our body burns fat.<br>
            So we need a routine that does not over exert our muscles so that we can still do our muscle building 
            routines (resistance training), and use this <strong>Fat Burner</strong> on our off days.<br>
            So a long cardio session, although we know is great to burn calories and results in weight loss 
            it unfortunately does not promote muscle growth.<br>
            <div class="image-container">
                <img  src="https://static.independent.co.uk/2022/09/27/08/2da9bb2abca5ccbb35b5ffe37e247406Y29udGVudHNlYXJjaGFwaSwxNjYyNDc0MDcy-2.68164848.jpg">
            </div> 
            <p>
                We need a routine that can target our <strong>Fat Burning zones</strong> quickly and the sessions must be short enough 
                so that it does not exhaust our energy recuperation for the resistance training days.<br>
                It is also recomende that one focuses more days on the weights or body weight resistance training and 
                do this <strong>Fat Burner</strong> once or maximum twice a week.<br>
            </p>
        </p>      

        <div class="video-container2">
            <iframe src="https://youtube.com/embed/0LgLtjjC8cM?feature=share"></iframe>"
        </div>
        I love to go for walks in the  country side on my weight training or calisthenics off days.<br>
        On this particular day, the day I met my friend in the video above I decided to add a <strong>Fat Burning Session</strong> to my walk.<br>
        <ul>
            So here is how I did it.<br>
            <li>I upped my pace of walk to a level, that my breathing was at a point where I would find it uncomfortable to have a conversation.
                I'd walk like that for about two minutes.
            </li>
            <li>
                Next, I'd stop and run as fast I a could on the spot, with my knees as high as possible.<br>
                I started breathing heavier and faster.<br>
                I could feel , there is no way I could speak and so this.<br>
                <strong>This is my indicator of reaching a VMAX.</strong><br> 
                I try to keep this pace for 30 seconds or more.<br>
                <i> As you get fitter you'll find that you can maintain this pace longer.</i>               
            </li>
            <li>
                I'd stop running on the spot and start walking again at a quick pace.<br>
                A minute or so I'd be at that spot, were I can speak between some breaths.<br>
                I'd stop, and repeat my sprinting on the stop. reaching VMAX again.<br>
            </li>           
        </ul>
        I'd do this for around 20 minutes, turning this simple exercise into a <strong>Fat Burning Machine</strong>.<br>
        This is how easy it is, and its called <strong>HIIT - High Intensity Interval Training</strong>.<br>
        <p>
            Note that one can take basically any cardio workout and do it this way.<br>
            When I'm at home , I may climb on my stationary exercise bicycle and do a HIIT session.<br>
            At times I even just follow one of the many YouTube session out their as the video below.<br>
            <div class="video-container2">
                <iframe src="https://www.youtube.com/embed/lwuFoUHxHJ0?si=jIrpCECtQ_CQYMCt"></iframe>
            </div>
        </p>
    </blockquote>
    <blockquote>
        <h2> Designing your HIIT Workout</h2>
        <ol>
            So when designing your HIIT workout, you need to do two things.
            <li>
                First, your goal is to reach and sustain your VMAX during your high intensity periods.<br>
	            This means you need to get moving fast and long enough to make your breathing difficult and 
                you need to hold that speed for some time.<br>
	            So obviously, this means hard work, think sprinting, not jogging.<br>
                <strong>Think speed and not resistance here.</strong>
            </li>
            <li>
                Next, you want to repeatedly achieve and sustain this VMAX level of exertion during your HIIT workouts.<br>
                This is important because the total amount of time you spent at VMAX will 	determine the overall effectiveness 
                of your HIIT workout.
            </li>
        </ol>
  
    </blockquote>
    <blockquote>
        <h2>HIIT - High Intensity Interval Training</h2>
        <p>
            Now that we know how to implement this <strong>Fat Burning Exercise Routine</strong> let's look at why it works.<br>
            Let's see how high-intensity interval training (HIIT) can help your body use fat for energy instead of carbohydrates, 
            and it can increase the rate at which you burn fat.<br>
        </p>
        <framed-text>
            <ul>How HITT Uses Fat:
                <li>
                    HIIT uses the body's energy reserves, which include fat.<br>
                </li>
                <li>
                    HIIT elevates your metabolism, which can burn calories for hours after you finish exercising.<br>
                </li>
                <li>
                    During the recovery period, your body taps into fat stores to restore itself to its normal resting state.<br>
                </li>
                <li>
                    HIIT can help you build muscle, so its great companion to muscle training<br>
                </li>
                <li>
                    HIIT can lower your blood pressure and heart rate.<br>
                </li>
                <li>

	                HIIT can improve your stroke volume and oxidative capacity of muscle.<br>
                </li>
                
                <li>
                    HIIT  improves your aerobic performance.<br>      
    
                </li>         
            </ul>
            <ul>
                HIIT and weight loss:
                <li>
                    Studies have shown that HIIT can reduce body fat percentage and waist and hip circumference.<br>
                </li>
            </ul>
            <ul>
                HIIT and metabolism:
                <li>
                    HIIT can shift your body's metabolism toward using fat for energy instead of carbohydrates.    
                </li>
                <li>
                    It can also make your metabolism more flexible, so it can switch between carbs and fats as a fuel source.
                </li>
                <li>
                    High-intensity interval training (HIIT) depletes muscle glycogen stores, which are the body's emergency fuel reserve. 
                </li>
                <li>
                    This depletion can help with weight loss and improve fitness and metabolic function. 
                </li>
            </ul>
            <ul>
                How HIIT depletes glycogen:
                <li>
                    HIIT can deplete glycogen stores in less than 10 minutes.
                </li>
                <li>
                    HIIT can completely deplete glycogen in just two maximal effort sprints. 
                </li>
                <li>
                    HIIT uses muscle glycogen at such a rate that the body increases the number and activity of mitochondria in muscles. 
                </li>	
            </ul>
            <ul>
                How HIIT improves fitness:
                <li>                              
	            HIIT can improve cardiovascular fitness, VO2max, and endurance capacity. 
                </li>
                <li>
                    HIIT can also trigger a release of human growth hormone and testosterone, both of which play a key role in metabolizing fat.
                    This has been shown to be true for men only, so women <strong>Don't fear HIIT</strong>
                    <framed-text>
                        High-intensity interval training (HIIT) increases testosterone in men because of the body's hormonal response to the exercise-induced stress.<br>
                        HIIT has shown to have the opposite effect on testosterone levels in women. 
                    </framed-text>
                </li>
            </ul>
 
        </framed-text>
    </blockquote>  

    <blockquote>
        <p>
            Before I end this blog I'd like to add to the above on HIIT.<br>
             These guys (and Gals) in this video below
                show that one can do it without any equipment, expensive gym fees  
                and wow even while enjoying nature.<br>
                      
        </p>
        <div class="video-container2">
            <iframe src="https://youtube.com/embed/2_ZhxkCtMxo?si=5AM-CwLVnP73HBDn"></iframe>
        </div>
        <p>
            I hope you enjoyed this, and that we'll meet out there, who knows partner up in a HIIT session...<br>            
        </p>
        <div class="image-container">
            <img src="https://www.lvfitinc.com/wp-content/uploads/2018/01/badassgirl.jpg">
        </div>
 
    </blockquote>


      <!-- Comments -->
      {% include_relative include_me/comment_eng.html %}
   
      <!-- References-->
      <div>
         References:<br />
         <a href ="https://www.netmeds.com/health-library/post/here-s-the-secret-to-maintaining-weight-loss">Here's The Secret To Maintaining Weight Loss (Main Image)</a><br>
        <a href="https://www.msdmanuals.com/home/disorders-of-nutrition/overview-of-nutrition/carbohydrates-proteins-and-fats#Carbohydrates_v60557845">Carbohydrates, Proteins, and Fats</a><br>
        <a href="https://higherperformance.sg/2022/01/27/why-gaining-muscle-helps-you-lose-fat/">Why Gaining Muscle Helps You Lose Fat</a><br>
        <a href="https://www.belmarrahealth.com/resting-heart-rate-chart-factors-influence-heart-rate-elderly/">Resting heart rate chart: Factors that influence heart rate in elderly</a>
        <a href="https://blog.ohiohealth.com/target-heart-rate-exercise/">Find Your Target Heart Rate for Exercise</a>
        <a href="https://www.healthline.com/nutrition/benefits-of-hiit">7 Benefits of High Intensity Interval Training (HIIT)</a><br>
        <a href="https://www.lvfitinc.com/lv-afterburn-effect/">The LV Afterburn Effect</a><br>
    </body>
 </html>