---
# multilingual page pair id, this must pair with translations of this page. (This name must be unique)
lng_pair: are-egss-good-for-you
title: Sera que o Ovo é Bom Para Si?

# post specific
# if not specified, .name will be used from _data/owner/[language].yml
#author: ""
# multiple category is not supported
category: Saúde e fitness
# multiple tag entries are possible
tags: [psicologia, saúde mental, nutrição]
# thumbnail image for post
img: "https://www.australianeggs.org.au/assets/Uploads/AusEggsBasics_willowcreative_1006-1_4x3crop__ScaleWidthWzEyMDBd_ExtRewriteWyJqcGciLCJhdmlmIl0_QualityWzYwXQ.avif"
# disable comments on this page
# comments_disable: true

# publish date
date: 2024-11-24 05:00:00
# seo
# if not specified, date will be used.
#meta_modify_date: 2021-08-10 11:32:53 +0900
# check the meta_common_description in _data/owner/[language].yml
#meta_description: ""

# optional
# please use the "image_viewer_on" below to enable image viewer for individual pages or posts (_posts/ or [language]/_posts folders).
# image viewer can be enabled or disabled for all posts using the "image_viewer_posts: true" setting in _data/conf/main.yml.
#image_viewer_on: true
# please use the "image_lazy_loader_on" below to enable image lazy loader for individual pages or posts (_posts/ or [language]/_posts folders).
# image lazy loader can be enabled or disabled for all posts using the "image_lazy_loader_posts: true" setting in _data/conf/main.yml.
#image_lazy_loader_on: true
# exclude from on site search
#on_site_search_exclude: true
# exclude from search engines
#search_engine_exclude: true
# to disable this page, simply set published: false or delete this file
# published: false
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      {% include_relative include_me/my_page.css %}
      {% include_relative include_me/video-container2.css %}
      {% include_relative include_me/slider/slider.css %}
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sera que o Ovo é Bom Para Si?</title>
  </head>
  <body>
    <blockquote>
      <h2>Prefácio</h2>
      Como já deve ter percebido, gosto de acrescentar algumas das minhas experiências pessoais quando escrevo os meus blogues. <br>
      Nos anos que passaram, alguns de nós podemos relacionar <strong>Ovos</strong> com o temido inibidor <strong>Medo.</strong><br>
      <h>
      Agora estou a trabalhar na minha 'slideshow' que verá mais abaixo ao ler este blog. <br>
      Para além de partilhar fotos de personagens que tiveram grande influência no meu ‘mundo infantil’,
      um mundo em que todas as crianças deveriam viver, um mundo cheio de aventura. <br>
      &quot;Por vezes, encontro-me naquele mundo, mesmo aos 60 anos, ainda a sonhar acordado com aventuras..&quot;, sorrio para mim mesmo...😄<br>
      Enquanto separava a ninhada dos gatos, um pequeno 😈 senta-se no meu ombro, - &quot;devo ou não devo 
      adicionar as fotos da minha infância nos diapositivos?&quot;<br>
      Depois lembro-me da frase, de um livro que li há algum tempo. <br>
      <div class="image-container" style="margin-top:0.5em">
        <img src="https://static.fnac-static.com/multimedia/Images/PT/NR/ca/7b/11/1145802/1540-1.jpg" alt="Feal the Fear and Do It Anywat">
        <p><a href="https://www.fnac.pt/Feel-The-Fear-And-Do-It-Anyway-Susan-Jeffers/a1162721?origin=google_pla_livro&gad_source=1&gclid=CjwKCAiA6aW6BhBqEiwA6KzDc1rnaTnzNnr1PT1IOomfEdbCiKglS1Ew5l-83mxW4CnxUVvlgSbpaRoCGPYQAvD_BwE">Feel The Fear And Do It Anyway - Susan Jeffers</a></p>
      </div>
      <strong>Sinta o medo e faça assim mesmo...</strong>
      <hr>
     A minha mente remonta a algum momento do passado. <br>
      Faz isso com frequência, já sabes...😁<br>
      Os meus dois filhos estão a visitar-nos nas férias. <br>
      Viajaram desde a África do Sul e estamos todos sentados na nossa modesta cozinha a ter uma grande conversa quando o assunto 
      altera para <strong>hidratos de carbono versus gorduras</strong>. <br>
      Carmen - &quot;Sr. Rolo, escolha um, hidratos de carbono ou gorduras."<br>
      Eu - &quot;Não consigo escolher um, são os dois...&quot<br>
      Carmen - &quot; Como pode dizer isso? São certamente hidratos de carbono, são...&quot;<br>
      <h>
      Agora, pensando naquela conversa de hoje e no debate (na minha cabeça) sobre as fotos, não é diferente do medo que temos pelo temido
      👾 debaixo da nossa cama em criança, colesterol, ovos, ou neste caso as minhas fotos. <br>
      <h>
      Por fim, terei um <strong>bónus sobre Ovos</strong> para si no final deste longo blog, por isso não deixe de o ler até ao fim. <br>
      Se tiver um tempinho livre depois disto, adoraria ler os seus comentários. <br>
      desfrutar...<br>
      ¯\_(ツ)_/¯<br>
    </blockquote>
    <blockquote>
      <details>
        <summary>
          Nos anos setenta, o <strong>filme icónico de bilheteira</strong
          ><span class="my-p"> Rocky</span> escrito e protagonizado por Sylvester
          Stallone era 
          provavelmente o melhor filme de sempre neste género.🤔<br />
          Eu era um rapaz na altura, na adolescência, e tornei-me um fã instantâneo.<br />
        </summary>
        <framed-text>
          <h3>Rocky</h3>
          <div class="image-container">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/1/18/Rocky_poster.jpg"
              atl="Rocky"
            />
            <p>Rocky - cartaz de lançamento teatral</p>
          </div>
          <p>
           Rocky é um filme de drama desportivo independente americano de 1976, realizado por
            John G. Avildsen e escrito e protagonizado por Sylvester Stallone. <br />
            Rocky entrou em desenvolvimento em março de 1975, depois de Stallone ter escrito o
            itinerário em três dias. <br />
            Entrou num processo de produção complicado depois de Stallone ter recusado
            permitir que o filme fosse feito sem ele no papel principal; Unido
            Os artistas finalmente concordaram em escalar Stallone depois de ele ter rejeitado um seis
            acordo financeiro pelos direitos do filme. <br />
            A rodagem começou em janeiro de 1976, com filmagens principalmente
            realizado em Filadélfia; vários locais apresentados no filme, como
            como os Rocky Steps, são hoje considerados marcos culturais. <br />
            Com um orçamento de produção estimado em menos de 1 milhão de dólares, Rocky
            popularizou a pobreza para a riqueza e os temas desportivos do sonho americano
            dramas que antecederam o filme.<br />
            <a href="https://en.wikipedia.org/wiki/Rocky">Rocky</a>
          </p>
        </framed-text>
      </details>
      <ul>
        Ora, quando se comem ovos ao pequeno-almoço, há sempre a retórica:
        <li>Os ovos não são bons para si</li>
        <li>São bons, mas não comem ovos todos os dias.</li>
        <li>Cuidado com a palavra temida, <strong>Colesterol</strong></li>
        <li>São bons para si, mas com moderação</li>
        <li>Coma apenas as claras</li>
        <li>etc,...etc..etc</li>
      </ul>
      Bem, devo estar ligado de forma diferente. <br />
      Quando como ovos, faz-me lembrar aquele filme incrível onde um 'old school'
      o alarme do relógio toca às 04h00 da manhã, e Rocky levanta-se, vai
      para a sua cozinha, parte alguns ovos (penso que 5 no total, dando-lhe
      cerca de 32 gramas de proteína) num frasco e engole antes de ir para
      a sua corrida matinal. <br />
      &quot;Uau, que cena incrível.&quot;<br />
      Como as crianças gostam de dizer hoje, esta é a bomba, 👊🏻💣💥<br />
      <eu
        >Já agora, Philip, se está a ler o meu blog, sabe que sim
        algo semelhante, se se recorda.</i
      ><br />
      <div class="video-container2">
        <iframe
          src="https://www.youtube.com/embed/snqs566G_Zg?si=bRC2eEjt2TxOxDHT"
        ></iframe>
      </div>
      <p>Rocky (4/10) Filme CLIP - O Pequeno-Almoço dos Campeões (1976) HD</p>
      <hr />
      Esposa &quot;"Nem acredito no que estou a ver."<br />
      Eu - "ah?"<br />
      <div class="image-container" style="width: 40%">
        <img
          src="https://i.ebayimg.com/thumbs/images/g/wlUAAOSwx6ZmI4dl/s-l1200.jpg"
          atl="wardrobe"
        />
      </div>
      Era de manhã cedo e eu estava em frente ao guarda-roupa a olhar
      ao espelho enquanto mudo de pijama. <br />
      Esposa - &quot; ... aos sessenta anos ainda se mantém de pé e admira o seu corpo. <br />
      Pareces um adolescente,... um adolescente de sessenta anos.” e ri-se como
      ela sai da sala. <br />
      I - &quot;Um adolescente com sessenta anos de experiência.&quot; 🤔 Eu acho que
      eu próprio. 😊😚<br />
      <hr />
     Sendo um jovem rapaz, admirava rapazes como
      <a href="https://en.wikipedia.org/wiki/Steve_Reeves">Steve Reeves,</a>
      um culturista e ator, famoso pelo seu papel em Hércules, bem como
      outras figuras masculinas, como,
      <a href="https://pt.wikipedia.org/wiki/Bruce_Lee">Bruce Lee</a>, fundador do Jeet Kune Do,
      uma filosofia híbrida de artes marciais derivada de diferentes disciplinas de combate que é frequentemente creditada 
      abrindo caminho para as artes marciais mistas (MMA) e
      <a href="https://pt.wikipedia.org/wiki/Arnold_Schwarzenegger">Arnaldo, </a>
      um culturista, ator, empresário e político austríaco-americano que serviu como 38º governador. 
      da Califórnia de 2004 a 2011, entre muitos outros, fez de mim um fã instantâneo de Sylvester Stallone. <br />
      Tendo crescido na década de setenta, não tínhamos acesso a brinquedos como a XBox e a PlayStation. <br />
      Aquilo a que tivemos acesso foram livros de fotos de aventura, como o Tarzan,
      Arend, Tessa e Kit Colt, Son of Samson, Die Wit Tier, DC e Marvel
      Banda desenhada, bicicletas, berlindes, piões, bolas de futebol e sol e chuva...<br />
      <div class="image-container">
        <img src="https://i.ebayimg.com/images/g/18cAAOSwci9ig78~/s-l1600.webp" alt="98 marbles">
      </div>
     Na escola até tínhamos épocas, - Época de Mármore, Época de Tops, Época de Futebol...<br>
      Uma das minhas primeiras lições sobre como trabalhar como membro de equipa foi nessas épocas, 
      nomeadamente, época de mármore. <br>
      Um amigo meu, o 'Rui' e eu decidimos formar uma equipa. <br>
      No final dessa época tínhamos uma mesa cheia de berlindes. <br>
      &quot;Veja, é tudo uma questão de pegar nos pontos fortes e usá-los em seu benefício..., assim como um ovo...&quot;🤔
      <hr>
      Recordo um momento épico da minha infância. <br />
      Eu estava a fazer exercício no ginásio local em Welkom, na África do Sul, onde morávamos,
      quando entrou, o <i>ator do livro de fotografias</i> do
      <strong>Die Wit Tier.</strong> <br>Agora imagine, um jovem, a conhecer alguém
      assim...., foi incrível. <br />
      Lembro-me de eu e os meus amigos passarmos fins de semana a devorar aqueles livros e os nossos
      pais a dizer-nos para parar de os ler enquanto estávamos a ler a segunda série
      livros. <br />
      Hoje, como pai de 60 anos, agradeço a este mundo, pois passamos horas a devorar
      esses livros
      <strong>LEITURA</strong> e
      <strong>DESENVOLVENDO A NOSSA IMAGINAÇÃO.</strong><br>
      <hr>
       I - &quot;Que período maravilhoso para um jovem crescer. <br />
      ... os jovens de hoje perderam um pouco disso,<br />
      ...ter orgulho em ser homem.. <br />
      O poder que acompanha a sua testosterona,<br />
      ... o seu direito de nascença,<br />
      ... a capacidade que se tem de esculpir o próprio corpo masculino. <br />
      ... o ... &quot; 🤔 Penso para mim.<br />
      <hr>
      <details>
        <summary>
          Abaixo está uma apresentação de diapositivos de muitos destes personagens que os meus <span class="my-p">Baby Boomers e muitos amigos da Geração X</span>,
          especialmente os homens que cresceram na África do Sul nas décadas de 60 e 70 identificar-se-ão. <br>
          ...desfrutar 👍 
        </summary>
        <framed-text>
          <h3>Baby Boomers</h3>
          A geração é frequentemente definida como pessoas nascidas de 1946 a 1964 durante o baby boom de meados do século XX. <br>
          <a href="https://en.wikipedia.org/wiki/Baby_boomers">Baby boomers</a>
          <hr>
          <h3>Geração X</h3>
          Os investigadores e os meios de comunicação populares utilizam frequentemente meados da década de 1960 como o ano inicial do nascimento e o final da década de 1970 como o ano inicial. 
          encerrando os anos de nascimento, sendo a geração geralmente definida como pessoas nascidas de 1965 a 1980.<br>
          <a href="https://en.wikipedia.org/wiki/Generation_X">Geração X</a>
        </framed-text>
      </details>
      
      <!-- add slider here -->
      {% include_relative include_me/slider/slider.html %}
      <hr />
      Lembro-me da minha prima 'Emma' contar a história de quando eu era pequena
      'peewee'. <br />
      Emma - &quot;Manelito, tu estás de pé na cadeira, e falas, olha como
      grande sou, enquanto faço pose de bíceps.&quot;<br />
      <div class="image-container">
        <img
          src="https://i.etsystatic.com/34755726/r/il/68a3bd/3801719526/il_570xN.3801719526_g67q.jpg"
          alt="double biceps pose"
        />
        <p>Arnold Schwarzenegger - pose de duplo bíceps</p>
      </div>

      <hr />
     Bem, o que é que tudo isto tem a ver com ovos, pode estar a pensar, enquanto
      mimando-me a mim e ao meu blog. <br />
      Interessado em musculação, quanto mais se souber sobre nutrição, mais
      melhores serão os resultados. <br />
      Ora, os <strong>ovos</strong> sempre estiveram no topo das fontes de alimento
      quando se trata de alimentar os músculos com proteínas. <br />
      <hr />
      Enquanto escrevo este blogue, os meus pensamentos vão para há uma semana, quando eu
      recebi uma videochamada de um velho amigo meu. <br />
      Eram cerca das 22h ou mais tarde. <br />
      Olho para o ecrã e vejo que é o Philip, o meu antigo parceiro de ginásio.<br />
      <details>
        <summary>
          Ele sempre disse que éramos como
          <span class="my-p">Arnold e Franco Columbu.</span><br />
        </summary>
        <framed-text>
          <h3>Arnold e Franco Columbu</h3>
          <div class="image-container">
            <img
              src="https://image-cdn.essentiallysports.com/wp-content/uploads/WhatsApp-Image-2023-10-03-at-1.48.44-PM.jpeg?width=900"
              alt="Arnold and Franco"
            />
          </div>
          Franco Columbu, que era o melhor amigo de Arnold Schwarzenegger, deixou
          uma marca incrível no mundo do culturismo. <br />
          Frequentador frequente do Gold's Gym, popularizou o desporto no
          década de 1970.<br />
          <a
            href="https://www.essentiallysports.com/bodybuilding-news-arnold-schwarzeneggers-training-partner-franco-columbu-once-shared-the-logic-behind-intense-training-makes-a-guy-win-mr-olympia/"
            >O parceiro de treino de Arnold Schwarzenegger, Franco Columbu, uma vez partilhou
            a lógica por detrás do treino intenso: 'Makes a Guy Win Mr. Olympia'</Mr></a
          >
        </framed-text>
      </details>
      Me - &quot;Hello Philip, hoe gan dit met jou?&quot;<br />
      <i> Olá Filipe, como está</i><br />
      <details>
        <summary>
         Philip, sendo <span class="my-p">africanos</span>, tendemos a alternar entre ingleses e africanos, ou
      mesmo misturar os dois idiomas.<br />
        </summary>
        <framed-text>
          <h3>Africâner</h3>
          O africâner é uma língua germânica ocidental, falada na África do Sul, na Namíbia e (em menor escala) no Botswana, 
          Zâmbia e Zimbabué. <br>
          Evoluiu a partir do vernáculo holandês da Holanda do Sul, falado pelos colonos predominantemente holandeses e escravizados.
          população da Colónia Holandesa do Cabo, onde começou gradualmente a desenvolver características distintivas no 
          Séculos XVII e XVIII.<br>
          <a href="https://en.wikipedia.org/wiki/Afrikaans">Africâner<</a>
        </framed-text>
      </details>   
      Treinámos juntos, durante muitos anos, na academia Kiewiet em Welkom, Sul
      África.<br />
      <details>
        <summary>
         Ora, ao contrário do que muitas pessoas possam pensar, <span class="my-p">um ginásio </span>é
          não apenas um local para se exercitar, mas também um local onde se desenvolve
          o intelecto, bem como as relações<br />
          Fique atento a um futuro blog meu, onde irei aprofundar mais
          isso. <br />
          Por enquanto vou apenas partilhar isto. <br />
          Por vezes, depois de terminar a sessão de ginástica, ficávamos cá fora a tomar um
          debate aceso sobre algum assunto, apenas para descobrir que tinham passado uma ou duas horas
          passou e ainda estávamos parados junto dos nossos carros, no fundo de algum
          discussão intelectual.<br />
        </summary>
        <framed-text>
          <h3>Ginásio</h3>
          <div class="image-container">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQeI3etkvNNCbThnLF20EpKgCW-ANFoGxi4Q&s"
              alt="Kiewiet's Gym"
            />
            <p>Clube de saúde e fitness de Kiewiet</p>
          </div>
          Uma academia, abreviatura de ginásio (pl.: ginásios ou ginásios), é um
          local coberto para exercício e desporto. A palavra é derivada do
          termo grego antigo 'gymnasion'. <br />
          São comummente encontrados em centros desportivos e de fitness, e como
          espaços de atividades e de aprendizagem nas instituições de ensino.<br />
        </framed-text>
      </details>
      <hr />     
      Me - &quot;Weet jy wat Philip?&quot;<br />
      Philip - &quot;Wat&quot;
      <hr />
      Vou explicar-lhe que um dos meus sonhos era ter um ginásio. <br />
      Philip - "&quot;Nee, ek het dit nie geweet nie&quot;<br />
      <hr />
     Expliquei ainda que se tivesse de abrir um ginásio, os iniciantes ao começar
      em minha casa, primeiro passaria por alguma educação sobre nutrição, mesmo antes
      investigando o treino físico real. <br />
      Sinceramente, considero que a nutrição é de extrema importância e negligenciada
      no ginásio de hoje e se tivesse tido algum treino nisso nos meus primeiros anos,
      Teria conseguido muito mais. <br />
      Ok, ok, vamos ao tópico real deste blog, ou seja,
      <strong>OVOS.</strong><br />
      ¯\_(ツ)_/¯<br />
    </blockquote>
    <blockquote>
      <h2>A história dos ovos</h2>
      <p>
       A palavra ovo remonta a um indo-europeu pré-histórico, que
        era a palavra para pássaro. <br />
        O termo do inglês antigo era <strong>oeg</strong>, que sobreviveu no período médio
        Inglês como ey (plural eyren).<br />
      </p>
      <div class="image-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Neolithic_Stone_Spades_%26_Axes.jpg/1280px-Neolithic_Stone_Spades_%26_Axes.jpg"
            alt="Neolithic artifacts from China">
            <p>Artefactos neolíticos da China</p>
      </div>
      <p>
        Os humanos consomem ovos desde o início dos tempos humanos. <br />
        Na verdade, existem evidências arqueológicas de ovos
        consumo que remonta a 10 000 anos antes de Cristo (Neolítico ou Pedra
        Idade). <br />
        Sabe, aquela época em que fazíamos as nossas ferramentas de pedra, comíamos
        ovos. <br />
        i- &quot;A maioria dos médicos de hoje teria um ataque...&quot😂🤣<br />
      </p>
      <p>
       Os ovos são conhecidos e apreciados pelos humanos há muitos séculos. <br />
        As aves selvagens foram domesticadas na Índia por volta de 3200 a.C.<br />
        Registos da China e do Egito mostram que as aves foram domesticadas e poedeiras
        ovos para consumo humano por volta de 1400 a.C., e os romanos encontraram
        galinhas poedeiras em Inglaterra, na Gália e entre os alemães. <br />
        A primeira ave domesticada chegou à América do Norte com a segunda viagem
        de Colombo em 1493.<br />
      </p>
      <p>
        Acredita-se que as galinhas domesticadas e o consumo dos seus ovos começaram
        na China, 6.000 anos antes de Cristo.<br />
      </p>
      <p>
       Evidências culinárias confirmam que os pães e bolos com ovos foram feitos por
        Antigos povos egípcios e romanos. <br> No período romano, os pasteleiros
        fazia muito uso de ovos tanto para sobremesas como para bolos. <br />
        Apício (25 a.C.) inventou as natas assadas: leite, mel e ovos batidos e
        cozinhado em prato de barro em lume brando.<br />
      </p>
    </blockquote>
    <blockquote>
      <h2>O mau rap de Egg</h2>
      Cerca de 60% das calorias dos ovos são provenientes de gordura – grande parte da qual é gordura saturada. <br>
      Os ovos também estão carregados de colesterol – cerca de 200 miligramas para um ovo de tamanho médio. <br>
      Isto é mais do dobro do valor de um Big Mac. <br>
      Agora, acredita-se que a gordura e o colesterol contribuem para as doenças cardíacas. <br>
      Por isso, é natural pensar que os ovos fazem mal. <br>
      eu - <strong>&quot;Mas é mesmo assim?&quot;🤔</strong>
    </blockquote>
    <blockquote>
      <h2>Ovos e nutrição</h2>
      <p>
        &quot;O ovo é uma grande potência nutricional”, disse. diz Angel Planells,
        nutricionista registada em Seattle e porta-voz da Academia de Nutrição 
        e Dietética. <br>
        “Os nutrientes dos ovos incluem muitas proteínas e vitamina D, diz ele.&quot;
        </p>
        <p>
          &quot;As gemas são também uma fonte especialmente rica do “nutriente cerebral” colina”, disse. 
          diz Dawn Jackson Blatner, nutricionista registada em Chicago e autora de Superfood Swap.<br>
        </p>
        
        <p>
       Uma revisão de 2019 sugere que a maioria dos nutrientes de um ovo está na gema. <br>
        A distribuição das proteínas, no entanto, é uniforme em todo o ovo.<br>

<ul>
  A gema do ovo fornece-
  <li>Um menor risco de desconforto gastrointestinal:</li>
  <li>Um sistema imunitário fortalecido</li>
  <li>Diminuir a pressão arterial</li>
  <li>Risco reduzido de problemas de visão</li>
</ul>
<ul>
  As gemas contêm pelo menos sete minerais essenciais, incluindo:
  <li>cálcio</li>
  <li>ferro</li>
  <li>magnésio</li>
  <li>fósforo</li>
  <li>potássio</li>
  <li>sódio</li>
  <li>zinco</li>
</ul>
eu-&quot;E aqui muitos de nós evitamos os ovos como a plage, e tomamos comprimidos para obter esses nutrientes.&quot;🤔😱<br>

        </p>
        <details>
          <summary>
            Sabia que se quiser <span class="my-p">construir músculos,</span> deve ingerir cerca de 1,2 a 2 gramas de
            proteína por quilograma do seu peso corporal?<br>
            Recomenda-se que ninguém desça abaixo de 0,8 gramas por quilograma de peso corporal. <br>
            Ora, antes da chamada <strong>má reputação</strong> da gordura, o leite gordo e os ovos eram os principais 
            vá para alimentos para proteínas. <br>
            Existem em média entre 5,2 e 7,5 gramas de proteína num ovo, dependendo do seu tamanho. <br>
            Os ovos são uma excelente fonte de proteína natural e são também relativamente baratos quando comparados com outros alimentos ricos em proteína. 
           alimentos como a carne.<br>
          </summary>
          <framed-text>
            <h3>De quanta proteína precisa? </h3>
            Algo entre 10% e 35% das suas calorias devem 
            provém da proteína.
            <br> Assim, se as suas necessidades são de 2000 calorias, são 200 a 700 calorias provenientes de proteínas,
             ou 50-175 gramas. <br>
             A dose dietética recomendada para prevenir a deficiência de um sedentário médio 
             adulto tem 0,8 gramas por quilograma de peso corporal.<br>
             <a href="https://www.mayoclinichealthsystem.org/hometown-health/speaking-of-health/are-you-getting-too-much-protein">Are you getting too much protein?</a>
          </framed-text>
        </details>        
        <h3>Gema x clara de ovo</h3>
        Eu-&quot;Repararam no videoclipe acima que o Rocky bebeu o ovo inteiro?&quot;<br>
        <p>          
       A clara do ovo fornece cerca de 3,6 g de proteína na gema de um único ovo grande, 
       enquanto a gema fornece cerca de 2,7 gramas. <br>
      Embora a clara forneça mais proteína, a gema contém quase toda a proteína. 
      vitaminas e minerais lipossolúveis e água</strong> nos ovos. <br>
      Investigação sugere que consumir ovos inteiros traz benefícios mais significativos 
      do que comer a clara de ovo sozinha. <br>
      <strong>Um estudo de 2017 descobriu que os homens jovens que comeram ovos inteiros imediatamente após 
        realizar exercícios de resistência apresentaram taxas mais elevadas de metabolismo muscular do que 
        os que consumiram apenas clara de ovo.</strong><br>          
        </p>
        Eu-&quot;Rocky já devia saber disto em 1976.&quot;😂<br>       
    </blockquote>

    <blockquote>
      <h2>Porque é que eu digo que os ovos são saudáveis ​​para si</h2>
      <framed-text>
        Eu- &quot;Agora, não estou a dizer que sou um especialista no assunto. <br>
        Por favor, leia o meu blogue com uma pitada de sal e faça a sua própria pesquisa. <br>
        Como sempre anexo as referências no final dos meus blogues, aos quais pode consultar.&quot;<br>
      </framed-text>
      <p>
        Embora os ovos sejam um alimento básico para o pequeno-almoço de muitas pessoas, tendem a ficar mal 
        rap pelo seu conteúdo em colesterol. <br> Mas pode ficar surpreendido ao saber que 
        os ovos contêm oito nutrientes essenciais, proteínas, gorduras saudáveis ​​e antioxidantes. <br>
        Além disso, são acessíveis, fáceis de cozinhar e versáteis. <br>
        <strong>E acredite ou não, o colesterol nos ovos não está realmente ligado ao aumento
          níveis de colesterol no sangue.</strong><br>
        Uma pesquisa recente determinou que a ingestão de colesterol não está associada a um aumento da 
        colesterol no sangue. <br> 
        &quot;Embora pesquisas anteriores tenham confundido o público sobre se era realmente seguro comer ovos numa 
        regularmente por medo de doenças cardiovasculares, pesquisas recentes refutaram esta 
        noção, &quot; afirmou a nutricionista Elizabeth Shaw. <br>
        Na verdade, a American Heart Association recomenda os ovos como fonte de proteína num 
        dieta saudável para o coração. <br>
        <strong>Um estudo com mais de 400 mil adultos na Europa não encontrou qualquer ligação 
          entre o consumo de ovos e o risco de doença cardiovascular. <br>
          Na verdade, o estudo descobriu que uma maior ingestão de ovos estava associada 
          com menor risco de ter um ataque cardíaco. <br>
        </strong> <br>        
      </p>
      <p>
        Os ovos são também uma das únicas fontes alimentares naturais de vitamina D, um nutriente que promove 
          absorção de cálcio para a saúde óssea.</strong><br>
        &quot;Tenho pena dos idosos, por serem muito frágeis para sair de casa, e os ovos são proibidos.&quot;🤔
        A vitamina D desempenha um papel em muitas outras funções do organismo, como o combate à inflamação, 
        crescimento celular, função imunitária e metabolismo da glicose.<br>
      </p>
      <p>
        Os ovos são também uma das fontes mais concentradas de colina, que desempenha um papel fundamental 
          na função hepática, cerebral e muscular, bem como no metabolismo e na composição da membrana celular.</strong><br>
        Mais notavelmente, a colina está envolvida no desenvolvimento do cérebro fetal e da medula espinhal, tornando-a um elemento crucial
          nutriente para as grávidas.</strong><br>
      </p>
      <p>
        Os ovos contêm luteína e zeaxantina, dois antioxidantes conhecidos por melhorar ou prevenir 
        doença macular,</strong> a principal causa de cegueira e deficiência visual.<br>
      </p>
      <p>
        &quot;Ao contrário do que pode ver nas redes sociais, quer mesmo comer o ovo inteiro 
        (sim, gema incluída) para colher todos os benefícios nutricionais, &quot;
         disse Shaw. <br>
         <strong>A gema contém a maior parte dos nutrientes, </strong>incluindo as vitaminas lipossolúveis A, D, E e K, 
         bem como toda a colina, luteína e zeaxantina. <br>
      </p> 
      <h3>Nota</h3>      
      <p> 
      <strong>É importante notar que muitos dos estudos não testaram os efeitos das gemas de ovo em humanos. <br>
        Em vez disso, realizaram os testes em laboratório ou em animais.</strong><br>
      <dov class="image-container">
        <img src="https://th-thumbnailer.cdn-si-edu.com/j1o5WIvl843z50ia3IIfVtdy_Tw=/fit-in/1072x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/c5/70/c5700276-c8c4-4e12-a610-c40b05cb0b9c/2527b7d7803fc51bcf225e6af6a67a13.jpg" 
        alt="Lab Rat">
        <p><a href="https://www.smithsonianmag.com/science-nature/history-lab-rat-scientific-triumphs-ethical-quandaries-180971533/">O ratinho Vacanti com um pedaço de cartilagem em forma de orelha humana a crescer nas costas.</a></p>
      </dov>
      Portanto, as descobertas podem não se aplicar aos humanos. <br>
      Desde 2015 que as Dietary Guidelines for Americans do governo federal não estabelecem <strong>nenhum limite específico de colesterol.</strong><br>
      As diretrizes dizem que os ovos podem fazer parte de uma dieta saudável. <br>
      Mais recentemente, nas novas regras propostas, a Food and Drug Administration disse que os ovos podem ser rotulados como <strong>alimentos saudáveis.👍</strong> <br>
      A associação do coração diz agora que um ovo por dia é bom para a maioria das pessoas e que os idosos com colesterol no sangue normal e uma dieta saudável para o coração 
      pode comer até dois em segurança. <br>
      As pessoas com colesterol elevado deveriam ser mais cautelosas ao consumir colesterol, diz o grupo.
      </p>  
      <div class="video-container2" >
        <iframe src="https://www.youtube.com/embed/onQrMszTnzc?si=AlXRoVyjpbm71O3Y"></iframe>
      </div> 
      <p style ="text-align: center;">A chocante verdade sobre os ovos| Dr. Mandell</p>
      <h3>Os ovos são saudáveis?</h3>
      <p>
        <details>
          <summary>
            <div class="image-container">
                <img src="https://img.freepik.com/free-vector/adorable-yellow-alien-monster-cartoon-character-with-horn_1308-159957.jpg" alt=""   >
                <p>Personagem de desenho animado do monstro do colesterol</p>
            </div>
            <span class="my-p"><strong>Cholesterol,</strong></span> como muitas outras coisas, teve má fama. <br>
            Infelizmente, como muitas coisas na vida, baseia-se em boatos e não em factos
            e como resultado, através da associação, os ovos tiveram o mesmo destino. <br>
            Na verdade, o nosso organismo produz cerca de 75% do colesterol. <br>
            Ora, se comermos pouco colesterol, o nosso organismo será obrigado a produzir mais colesterol. <br>
            Esqueça o <strong>MEDO</strong> do colesterol. <br>
            Em vez disso, veja-o como muito e pouco como qualquer coisa na vida. é mau para si.<br>
          </summary>
          <framed-text>
            <h3>O colesterol é importante</h3>
            Para construir a estrutura das membranas celulares. produzem hormonas como o estrogénio,
             testosterona e hormonas adrenais. ajudar o seu metabolismo a funcionar 
             eficientemente, por exemplo, o colesterol é essencial para o seu organismo 
             produzir vitamina D.<br>
             <a href="https://www.betterhealth.vic.gov.au/health/conditionsandtreatments/cholesterol">Cholesterol</a>
          </framed-text>
        </details>
        
      </p>
      <p>
      <strong>Como o Doutor Mandell (afirmou no vídeo), não há provas científicas que mostrem que os ovos fazem mal.</strong><br>
    </p>
    Eu-&quot;Repararam no vídeo acima que o Rocky bebeu o ovo todo?, volto a perguntar. <br>
    Isto foi em 1976. <br>
    Parece que os tipos daquela época simplesmente sabiam o que era bom para eles naquela época... e não precisavam de ouvir ratos de laboratório.</strong>&quot;
      <hr>
      <div class="image-container">
        <img src="https://media.istockphoto.com/id/1369857658/vector/superhero-egg-wearing-cape-and-mask-vector-cartoon-illustration.jpg?s=612x612&w=0&k=20&c=Xj2V089FbKZMKvQch7_4e6C0Wllg7-GQJuWDhuscHw8=" alt="Free Vector Graphics">
      </div>
      <p>
        <strong>Sim,<br> Dois ovos por dia,<br> ...especialmente nos meses de Inverno... (vitamina D)<br>
          ... não ignore a gema do ovo para obter todos os benefícios...</strong>        
      </p>
      <p>
        Por fim, veja o vídeo... acima!!!<br>
      </p>
    </blockquote>
    <blockquote>
      <h2>Como qualquer coisa na vida. Não exagere</h2>
      Um ovo grande contém 1,5 gramas de gordura saturada, o que representa pouco mais de 13% do valor diário (numa dieta de 2000 calorias). <br>
      Portanto, comer mais do que um ovo por dia pode realmente fazer sentido, especialmente se comer outros alimentos de origem animal. <br>
      Embora os ovos tenham muitos benefícios para a saúde, é melhor limitar a ingestão a um ou dois ovos por dia.<br>
      <div class="video-container2">
        <iframe src="https://www.youtube.com/embed/dVvh9O2GbXQ?si=X_4BKF8TUXTWhf9e"></iframe>
      </div>
      <p style="text-align: center">Are eggs good for you?</p>
    </blockquote>
    <blockquote>
      <h2>O bónus prometido</h2>
      Estava sentado na cama, a tomar o meu pequeno-almoço (tremoço, amendoins e um expresso), dando-me uns incríveis 25 gramas de proteína
      , enquanto vê as notícias na SIC TV. <br>
      Um anúncio chama-me a atenção...<br>
      O anúncio mostra coisas a rolar de alguns objetos e uma senhora a apanhá-las instintivamente. <br>
      Mais tarde, mostra-a a agarrar a garganta e o anúncio termina com ela a apanhar uma caixa de comprimidos de MebocaÍna. <br>
      Achei isto bastante intrigante, pois o primeiro objeto é um <strong>EGG</strong> e como estou atualmente
      pesquisando ovos para este blogue, pesquisei no Google <strong> 'Ovos e dor de garganta'.</strong> <br>
      ...Veja este pequeno vídeo abaixo.<br>
      <div class="video-container2">
        <iframe src="https://www.mebocaina.pt/images/videos/mebocaina_hp.mp4"></iframe>
      </div>
      Já assistiu ao vídeo?<br>
      O que nos estão realmente a dizer aqui?<br>
      Bem!!<br>
     &quot; Está com dor de garganta, vá buscar uma caixa de 'MebocaÍna'.&quot;<br>
     Mas subtilmente, estão a dizer: <strong>Está com dor de garganta, COMA OVOS </strong><br>
      <framed-text>
        <h3>Ovos e dor de garganta</h3>
        Zinco, selénio, ferro, vitamina B12 e vitamina D são alguns dos muitos nutrientes dos ovos que podem combater e 
        aliviar dores de garganta. <br>
        Considere fazer ovos mexidos, quentes, macios e fáceis de mastigar e engolir.<br>
      </framed-text>
      <hr>
      Tens que amar esses gajos.<br>
      Atiram-nos à cara, <strong>Comem Ovos</strong><span style="font-size:1.4em"></span> e o que vimos a frente 
      é uma caixa de comprimidos.<br>
      ¯\_(ツ)_/¯<br>
    </blockquote>

   
    <!-- Comments -->
    {% include_relative include_me/comment_prt.html %}

    <!-- References-->
    <div>
      References:<br />
      <a
        href="https://www.australianeggs.org.au/recipes-and-cooking/easy-boiled-eggs"
        >How To Make Perfect Boiled Eggs Every Time</a
      ><br />
      <a href="https://www.ebay.co.uk/b/bn_7022660509"
        >Vintage Wardrobe Mirror in Wardrobes</a
      ><br />
      <a href="https://en.wikipedia.org/wiki/Neolithic"
      >Neolithic</a
    ><br />
    <a href="https://www.foodtimeline.org/foodeggs.html"
    >When and why did humans begin consuming eggs?</a
  ><br />
  <a href="https://www.pcrm.org/good-nutrition/nutrition-information/health-concerns-with-eggs"
  >Health Concerns With Eggs</a
><br />
<a href="https://www.aarp.org/health/healthy-living/info-2023/foods-that-get-an-unfair-bad-rap.html"
>Don’t Shun These 7 Foods: Their Bad Reputations Are out of Date
</a><br />
<a href=https://www.egginfo.co.uk/egg-nutrition-and-health/egg-nutrition-information/protein"
>Protein in eggs</a><br />
<a href="https://www.today.com/health/diet-fitness/how-many-calories-in-an-egg-rcna53691">Are eggs healthy? A dietitian weighs in</a><br>
<a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC6024517/">Dietary Cholesterol, Lipid Levels, and Cardiovascular Risk among Adults with Diabetes or Impaired Fasting Glucose in the Framingham Offspring Study</a><br>
<a href="https://www.ahajournals.org/doi/10.1161/CIRCULATIONAHA.118.038813">Consumption of Meat, Fish, Dairy Products, and Eggs and Risk of Ischemic Heart Disease</a><br>
<a href="https://jissn.biomedcentral.com/articles/10.1186/s12970-018-0215-1">How much protein can the body use in a single meal for muscle-building?</a><br>
<a href="https://healthcareassociates.com/10-foods-to-eat-with-a-sore-throat/">10 Foods To Eat With a Sore Throat</a><br>
<a href="https://www.mebocaina.pt/">MebocaÍna</a><br>
    </div>
    <!-- js for slider -->
    <script>
      {% include_relative include_me/slider/slider.js %}
    </script>
  </body>
</html>
