---
# multilingual page pair id, this must pair with translations of this page. (This name must be unique)
lng_pair: weight-loss-fast
title: O segredo para perda de peso (rápida) - HIIT

# post specific
# if not specified, .name will be used from _data/owner/[language].yml
#author: ""
# multiple category is not supported
category: Saúde e fitness
# multiple tag entries are possible
tags: [saúde, nutrição, construção muscular, musculação, perda de gordura]
# thumbnail image for post
img: "https://images.pexels.com/photos/53404/scale-diet-fat-health-53404.jpeg"
# disable comments on this page
# comments_disable: true

# publish date
date: 2025-04-09 10:00
# seo
# if not specified, date will be used.
#meta_modify_date: 2021-08-10 11:32:53 +0900
# check the meta_common_description in _data/owner/[language].yml
#meta_description: ""

# optional
# please use the "image_viewer_on" below to enable image viewer for individual pages or posts (_posts/ or [language]/_posts folders).
# image viewer can be enabled or disabled for all posts using the "image_viewer_posts: true" setting in _data/conf/main.yml.
#image_viewer_on: true
# please use the "image_lazy_loader_on" below to enable image lazy loader for individual pages or posts (_posts/ or [language]/_posts folders).
# image lazy loader can be enabled or disabled for all posts using the "image_lazy_loader_posts: true" setting in _data/conf/main.yml.
#image_lazy_loader_on: true
# exclude from on site search
#on_site_search_exclude: true
# exclude from search engines
#search_engine_exclude: true
# to disable this page, simply set published: false or delete this file
# published: false
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      {% include_relative include_me/my_page.css %}
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>O segredo para perda de peso (rápida) - HIIT</title>
  </head>
  <body>
    <blockquote>
        Vou compartilhar um segredo com você.<br>
        <div style="background-image:url('https://img.freepik.com/premium-vector/top-secret-rubber-stamp-red-top-secret-rubber-grunge-stamp-seal-vector-illustration-vector_140916-43838.jpg');
                    color:black">
           Aqui, não estou falando de comida e dietas, mas do treinamento mais eficaz para acelerar sua perda de peso.<br>
           Quando se trata de perda de peso, muitas pessoas se concentram em exercícios cardiovasculares e muitas outras se concentram
           em treinamento de resistência, como levantamento de peso.<br>
           Sempre há o debate sobre se um é melhor que o outro.<br>
           Explicarei por que ambos podem estar certos ou errados e, se você ler meu blog até o final,
           compartilharei o plano secreto de exercícios que você pode fazer em cerca de 20 minutos e que
           supera todos os outros planos de exercícios para perda de peso disponíveis.<br>
            <br>
            <strong>Simplesmente não existe um plano de exercícios mais eficaz para perda de gordura.</strong><br><br>
            E o bônus adicional é que você não precisa de equipamentos especiais, nem de ir a uma academia, nem de passar horas por dia, etc., para implementar
            este plano de exercícios, pois não se trata de um exercício específico, mas sim de como você o faz.<br>
            E sim, eu disse exercício.<br>
            Você só precisa de um exercício para <strong>impulsionar</strong> seu corpo para o <strong>HyperDrive de queima rápida.</strong><br>
        </div>        
    </blockquote>
    <blockquote>
        <p>
            Agora, antes de começar este blog, aquele que todos estávamos esperando, <strong>O Segredo do Plano de Exercícios para Queimar Gordura</strong>
            Gostaria de indicar outro blog interessante que publiquei em 25 de março de 2025, chamado
            <a href="./2025-03-25-fat-loss-formula.html">A Fórmula Secreta para Perder Gordura</a>, que você pode
            ler antes ou depois deste blog.<br>
        </p>
    </blockquote>
    <blockquote>
        <h2>A ordem preferida das fontes de energia do corpo</h2>
            <p>
            Ok, então mencionei acima que este blog é sobre <strong>exercícios</strong> e não sobre comida. <br>
            Então, de quais fontes de energia estou falando aqui? <br> 
            </p>            
            <ol>
            Bem, você me pegou, estou falando de comida aqui, a saber:
            <li>Carboidratos</li>
            <li>Gorduras</li>
            <li>Proteínas</li>
            </ol>         
        <div class="image-container">
            <img src="https://static.wixstatic.com/media/c9eab2_f933c05bf139493894054e2fafa9d52e~mv2.jpg">
        </div>
        <p>
            Bem, por que precisamos saber disso?<br>
            Responderei a esta pergunta com outra pergunta.<br>
            <strong>Qual fonte de energia seu corpo usa quando você se exercita?</strong><br>
            Ou eu poderia perguntar em outro formato -<br>
            <strong>O que ou como devo me exercitar para aproveitar meus recursos de <span stye="font-size:1.2em">GORDURA</span>?</strong>
        </p>
        <p>
            Então, para responder a isso, preciso explicar um pouco sobre como e quando nosso corpo utiliza seus
            recursos energéticos disponíveis, ou seja, carboidratos, gorduras e proteínas.<br>
            Então, aqui vai.
        </p>
        <p>
            Carboidratos, gorduras e proteínas são os principais tipos de macronutrientes presentes nos alimentos e 
            fornecem 100% da energia do nosso corpo.<br>
            Tanto proteínas quanto carboidratos nos fornecem 4 calorias por grama, enquanto as gorduras nos fornecem 
            9 calorias por grama de energia.<br>
        </p>
            <ul>
            Todos eles são decompostos no intestino.
            <li>Carboidratos em glicose (açúcares)</li>
            <li>Gorduras em ácidos graxos e glicerol.</li>
            <li>Proteínas em aminoácidos</li>
            </ul> 
        
            <p>
                Agora, quando elaboramos nosso plano de exercícios com o objetivo de queimar gordura, é importante ter
                algum conhecimento sobre a ordem preferencial do nosso corpo em relação às fontes de energia disponíveis.<br>
                Portanto, queremos saber como nosso corpo usa os alimentos que fornecemos e como ele queima essa energia.<br>
            </p>
        <framed-text>
            <p>
                A ordem preferida do corpo para queimar energia é carboidratos, depois gorduras e, finalmente, proteínas. 
            </p>           
            <ul>
                <li>
                    Carboidratos<br>
                    É a principal fonte de energia.<br>
                    Eles são decompostos em açúcares simples que são absorvidos pela corrente sanguínea.<br>
                    <strong>Durante o exercício, o corpo usa uma combinação de carboidratos e gorduras.</strong><br>
                    Quanto mais tempo você se exercita, ou quanto maior a intensidade, seu corpo também começa a queimar gordura.<br> 
                </li>
                <li>
                    Gorduras<br>
                    A fonte de energia mais lenta, porém mais eficiente, do corpo.<br>
                    As gorduras são decompostas em ácidos graxos e monoacilglicerol.<br>
                    <strong>Durante o exercício, o corpo utiliza uma combinação de carboidratos e gorduras, com a proporção variando dependendo da
                    intensidade e duração da atividade</strong>.<br>
                </li>
                <li>
                    Proteínas<br>
                    A fonte de energia mais lenta do corpo, as proteínas, são decompostas em aminoácidos.<br>
                    <strong>
                    Durante o jejum, o corpo usa proteínas como energia, mas a quantidade utilizada é pequena em comparação com carboidratos e gorduras.<br> 
                    </strong>
                    Agora, se você gosta de construção muscular, isso pode explicar por que os fisiculturistas são tão focados em suas dietas, especialmente
                    nas refeições <strong>pré-treino</strong> e até mesmo nas refeições pós-treino.<br>
                    Eles sabem que precisam fornecer aos seus corpos energia e carboidratos suficientes antes do treino, para que o corpo limite o
                    uso de proteínas, já que são uma fonte valiosa para a construção de fibras musculares.<br>
                    Para o resto de nós, também não é aconselhável, pois queremos perder peso, mas manter ou até mesmo aumentar nossos músculos.<br>
                </li>
            </ul>
        </framed-text>
        <p>
            Então, como elaboramos nosso <strong>Plano de Exercícios para Queima de Gordura?</strong><br>        
        </p>
    </blockquote>
    <blockquote>
        <p>
            Antes de prosseguirmos, gostaria de compartilhar algo com vocês.<br> 
        </p>
        <p>
            Quando era menino, eu sempre quis ser grande e musculoso.<br>
            Então, quando tive idade suficiente, entrei para a academia local, em Welkom, África do Sul.<br>
            Eu devia ter uns 15 anos.<br>
        </p>
        <div class="image-container">
            <img src="https://flashbak.com/wp-content/uploads/2016/10/muscle-and-fitness-1983.jpg" alt="Muscle@Fitness">
           </div>
        <p>
            Então, como a maioria dos iniciantes, eu copiava o básico de um cara na academia,
            mas, na maioria das vezes, eu estava por conta própria.<br>
            Estou falando dos dias em que as academias eram só para homens ou só para mulheres,
            e não existiam personal trainers, etc.<br>
            Havia algumas revistas de <strong>Fisiculturismo</strong> por aí, etc.<br>
            Então, basicamente, nós olhávamos como os veteranos na academia se exercitavam e líamos uma de duas revistas
            (já que eram caras), que tinham uma rotina de fisiculturistas famosos, e tentávamos segui-las.<br>
        </p>
        <p>
            Então, o que estou dizendo é que aprendemos fisiculturismo como um papagaio aprende a falar a nossa língua.<br>
            Eu não tinha ideia do que era <strong>Hipertrofia</strong>, acho que nem tinha ouvido essa
            palavra nos meus primeiros anos e não tenho ideia do papel dos carboidratos, gorduras e proteínas, etc.<br>            
        </p>
        <p>
            Portanto, acredito firmemente que qualquer pessoa que leve seu corpo a sério e queira resultados
            deveria dedicar um tempo pesquisando como nosso corpo usa suas fontes de energia
            e quais planos de exercícios usar para obter determinados resultados, antes mesmo de tentar começar a se exercitar.<br>
                       
        </p>
        <p>
            Se você puder pagar um personal trainer profissional, isso é uma grande vantagem.<br>
            Mas, no final, tudo depende de você.<br>
        </p>
        <p>
            OK, agora que tirei isso do peito, vamos continuar...
        </p>       

    </blockquote>
    <blockquote>
        <h2>Tudo começa com um fôlego.</h2>
            <p>
                Como mencionei antes, os carboidratos são decompostos em glicose
                e as células de gordura em triglicerídeos, que são então usados ​​como energia. <br>
            </p>
           
            <details>
                <summary>
                    <p>
                        Agora, o mais importante é que esses dois recursos são as principais fontes de energia do nosso corpo e, 
                        se não tivermos calorias suficientes para queimar, o corpo usará proteínas como fonte de energia.<br>
                        E não queremos isso, precisamos de proteínas para construir músculos, 
                        entre outras <span class="my-p">funções importantes.</span><br>
                        Além disso, as proteínas tendem a ser um combustível caro para o nosso corpo,
                        enquanto carboidratos e gorduras são muito mais baratos.<br>
                    </p>
                </summary>
                <framed-text>
                    <h3>A Importante Função da Proteína</h3>
                        <p>
                        A principal fonte de energia do corpo são os carboidratos. <br>
                        Se o corpo não obtém calorias suficientes de outros nutrientes ou da gordura armazenada,
                        ele decompõe a proteína para produzir corpos cetônicos para obter energia.<br>
                        </p>
                    <h4>Durante o exercício:</h4>
                    <p>
                        Quando os estoques de glicogênio muscular estão baixos, o corpo decompõe aminoácidos da proteína muscular
                        em glicose para obter energia. <br>
                    </p>                   
                    <h4>Em jejum</h4>
                    <p>A proteína também é usada como fonte de energia durante o jejum. <br></p>                
                    
                    <h4>Queremos limitar o uso de proteína como fonte de energia e usá-la para o seguinte:</h4>
                    <ol>
                    <li>Manter e repor tecidos</li>
                    <li>Funcionar e crescer</li>
                    <li>Reparar após lesões</li>
                    <li>Construir massa muscular</li>
                    <li>Produzir novas proteínas, como músculos e ossos</li>
                    <li>Produzir outros compostos, como enzimas e hormônios</li>

                    </ol>             

                </framed-text>
            </details>           
    <p>
        Então, como nosso corpo utiliza esses recursos?
        Como diz o título, tudo começa com a respiração.<br>
    </p>
    <h3>Os Pulmões</h3>
        <p>
        Quando respiramos, enchemos nossos pulmões com oxigênio.<br>
        Quando você respira, os alvéolos pulmonares são preenchidos com oxigênio.<br>
        Essas são pequenas cavidades dentro dos nossos pulmões que permitem que o oxigênio e o dióxido de carbono 
        se movam entre os pulmões e a corrente sanguínea.<br>
        Quando você expira, o dióxido de carbono também é enviado para os alvéolos para que possa sair do corpo.<br>
        Mais uma vez, o sangue pode ser preenchido com oxigênio e enviado para o coração.<br>
        </p>
    <div class="image-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Alveoli.svg/1920px-Alveoli.svg.png" alt="Gaseous exchange in the lung">
        <p>Troca gasosa no pulmão</p>
    </div>
   
        <details>
            <summary>
                <p>
                    Este oxigênio é usado na<span class="my-p">respiração celular</span> para quebrar a glicose 
                    e produzir energia na forma de ATP,que alimenta os músculos e outras células.<br>
                </p>
            </summary>
            <framed-text>
                <h3>O oxigênio é usado na respiração celular</h3>
                 <p>
                    Você respira oxigênio pelo nariz e pela boca.<br>
                    O oxigênio é transportado para as células pela hemoglobina nos glóbulos vermelhos.<br>
                    O oxigênio é liberado nas células, onde é utilizado na respiração celular.<br>
                    As células combinam glicose e oxigênio para produzir ATP e dióxido de carbono.<br>
                <h4>Como o oxigênio é usado nos músculos</h4>
                    Os músculos precisam de mais oxigênio quando trabalham mais intensamente.<br>
                    Quanto mais energia os músculos precisam, mais oxigênio eles requerem.

                 </p>               

            </framed-text>
        </details>    
                <details>
                    <summary>
                        <p>
                            <strong>Observe que quanto mais intenso for o exercício, mais energia seus músculos precisarão e, portanto,
                                mais oxigênio será necessário para quebrar essa fonte de energia e formar <span class="my-p">ATP</span><br>
                                É por isso que respiramos mais rápido.<br>
                        </strong>
                        </p>
                    </summary>
                    <framed-text>
                        <h3>ATP</h3>
                        <p>
                            Trifosfato de adenosina (ATP) é uma molécula que armazena e libera energia nas células.
                            O ATP é composto por adenina, ribose e três grupos fosfato.
                            As ligações entre os grupos fosfato armazenam energia que é liberada quando as ligações são quebradas.
                            Essa energia impulsiona processos celulares como contração muscular, impulsos nervosos e síntese química.
                            É frequentemente chamada de "moeda energética" da célula..<br>     
                        </p>
                  
                    </framed-text>
                </details>               
         <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8e59lNutIGztH2Nb7bjQuBplfL1U8Pxn46Q&s">
        </div>


    </blockquote> 
    
    <blockquote>
        <h2>Superarmazenamento</h2>
           <p>
            Estou sentado em uma sala de aula nos arredores de Joanesburgo quando
            noto o logotipo na camisa do professor. <span><img style="height:3em" src="https://www.olivetti.com/sites/default/files/logo_olivetti_2021_-_o.png"></span><br>
               He is explaining how a computers memory works.<br>
               Um computador possui um disco rígido onde todos os dados e aplicativos são armazenados, mas também possui
                o que chamamos de &quot;RAM&quot; (Memória de Acesso Aleatório).<br>
                Ele possui um algoritmo integrado que carrega todos os aplicativos usados ​​com frequência nessa memória.<br>
                Essa memória é muito mais rápida que o disco rígido, tornando seu PC muito mais rápido.<br>
           </p>
           <p>
               &quot;Ei, acorde.&quot;<br>
               &quot;Por que estamos fazendo o curso básico de engenharia da computação, João?<br>
               &quot;Bem, não consigo deixar de me perguntar se os engenheiros da computação tiraram essa ideia dos nossos corpos.&quot;<br>
           </p>
           <p>
            Como expliquei, nossos corpos utilizam os alimentos que comemos para fornecer aos músculos a energia
            necessária, e esta é transportada para eles pelo sangue, que o coração bombeia através das artérias.<br>
            <i>"Você sabe o que o sangue transporta em nossas veias?"</i><br>
            Deixarei isso como lição de casa para você e adoraria ler seus comentários...<br>
            Por mais maravilhoso e rápido que seja o nosso coração, ele ainda leva um tempo x para chegar aos nossos músculos.<br>
            É aqui que nosso <strong>Super Armazenamento, chamado <span style="font-size:1.2em">Armazenamento de Glicogênio</span></strong>, entra em ação.<br>
            Agora, seus músculos estão equipados com este armazenamento, fornecendo energia a eles a uma velocidade incrível.<br>
            Este é um conceito muito importante, pois, assim como a memória RAM de um computador, este armazenamento no músculo também é
            limitado.<br>
            Gostaria também de acrescentar outro fato importante: quanto mais músculos você tiver, menor será a tendência
            de armazenar o excesso de carboidratos ou gorduras como gordura no corpo.<br>            
            <strong>Quanto mais músculos você construir, maior será a capacidade de armazenamento do seu corpo para armazenar essa energia como glicogênio
            e, como resultado, menos excesso de comida será convertido em gordura.<br>
               <span style="color:red">Então, o que estou dizendo é: vamos tentar armazenar mais energia nos músculos e menos energia na forma de gordura.</span><br>
               O glicogênio é um <strong>combustível de alta octanagem</strong> e tem uma aparência melhor.<br>
              </strong>
           </p>
           <div class="image-container">
               <img src="https://higherperformance.sg/train/wp-content/uploads/2023/01/BALLY-BODY-RECOMP.png">
           </div>
    </blockquote>
    <blockquote>
        <h2>Nossa Frequência Cardíaca</h2>
            <p>
            Ok, do exposto acima, podemos deduzir que quanto mais trabalhamos nossos músculos, mais energia eles precisam
            para suprir os músculos e precisamos respirar mais profundamente e mais rápido para fornecer o oxigênio
            que é usado para quebrar essas fontes de energia em ATP, que alimenta nossas células musculares. <br>
            <strong>Portanto, quanto mais trabalhamos nossos músculos, mais energia queimamos.</strong>
            </p>
            <p>
            Agora precisamos de algum mecanismo para fornecer energia e oxigênio aos nossos músculos.
            É aqui que nosso <strong>coração</strong> entra em ação.<br>
            Quanto mais nos exercitamos, mais energia precisamos decompor e, para isso,
            mais oxigênio precisamos fornecer às nossas células. Assim, respiramos mais rápido, mas precisamos
            levar isso aos músculos.<br>
            O coração bombeia as células sanguíneas cheias de oxigênio e combustível para os músculos.<br>
            Portanto, quanto mais nos exercitamos, mais profunda e rápida respiramos, e mais forte e rápida
            nosso coração bombeia para levar esse valioso <strong>PACOTE DE ENERGIA</strong> para os nossos músculos.<br>
            </p>
            <p>
            A velocidade com que nossos corações batem é chamada de Frequência Cardíaca.
            Agora, nosso coração, dependendo se estamos dormindo, relaxados, caminhando ou fazendo
            exercícios intensos, bombeará nossa energia em velocidades diferentes (frequências cardíacas).<br>
            </p>
        <div class="image-container">
            <img src="https://thumbs.dreamstime.com/z/super-heart-23167583.jpg">
            
        </div>
        
        <h3>Por que é importante conhecer nossa frequência cardíaca</h3>
            <p>
            Bem, é importante saber sua frequência cardíaca porque ela pode ajudar você a monitorar seu condicionamento físico e saúde,
            e identificar possíveis problemas.<br>
            Mas há outra importância fundamental em saber a frequência cardíaca.<br> 
            </p>
            <p>
            Com toda essa biologia, pode parecer que estamos em uma aula de Biologia 101 e que
            perdemos a noção do que se trata, então deixe-me lembrá-lo.<br>
            Na verdade, comecei dizendo que compartilharia um <strong>Programa de Exercícios para Super Queima de Gordura</strong>
            e isso com apenas um exercício, mas tudo o que fizemos foi falar sobre alimentação e nosso sistema respiratório.<br>            
        </p>
        <p>
            Bem, eu prometo que compartilharei isso com você, mas, como expliquei, é fundamental que você saiba
            por que esse plano de exercícios funciona e por que ele transforma seu corpo em uma <strong>Máquina de Queimar Gordura''.</strong><br>
        </p>
        <p>
            <strong>Novamente, quanto mais você exercita seus músculos, mais rápido e intensamente você respira,
                resultando em batimentos cardíacos mais rápidos.<br>
                São essas <span style="font-size:1.2em">diferentes frequências cardíacas</span> que são fundamentais
                no desenvolvimento de nossa <strong>Rotina de Queima de Gordura</strong>
            </strong>
        </p>
        <p>
            Mas para isso, precisamos saber a diferença entre os termos <strong>Frequência Cardíaca em Repouso, VO2Máx, Vmáx etc.</strong>
            Outros termos usados ​​para descrever a frequência cardíaca são Zona 1, Zona 2 ou Aeróbica e Anaeróbica, etc.<br>
        </p>
        <div class="image-container">
            <img src="https://blog.ohiohealth.com/wp-content/uploads/2016/09/Fitness-Target-Heart-Rate-Infographic-v2.jpg">
        </div>
    </blockquote>

    <blockquote>
        <h2> Nossa frequência cardíaca em repouso</h2>
        <p>
            Meu filho olha para mim à sua esquerda, vê que estou livre de marcação e me passa a bola.<br>
            Eu seguro a bola com os pés e corro o mais rápido que posso pelo flanco direito em direção ao gol adversário.<br>
            Na minha visão periférica, vejo que Daniel já está à esquerda das traves do gol adversário.<br>
            Nossa, ele é rápido!, penso comigo mesmo.<br>
            Johnathan, meu sobrinho, está à minha frente, de frente para mim, querendo me impedir de passar com a bola.<br>
            Tenho um desafio pela frente, pois fui treinador de futsal deles alguns anos atrás e sei que não tenho chance de passar por ele.<br>
            <strong>Não no meu nível de condicionamento físico atual, sem chance.</strong><br>
            Meu coração está disparado, parece que estou ficando sem fôlego.<br>
            Pouco antes de chegar a Johnathan, olho para cima e vejo que Daniel está em posição, esperando.<br>
            Eu dou a bola um último esforço e chutar a bola.<br>
            Uau, que bola perfeita, <a href="https://youtu.be/dEUDo6jiW0M?si=XLBX-WZdC8w0ikG4">Uma Trivela</a>.<br>
            Daniel dribla um defensor, engana o segundo, a bola bem entre as pernas dele e <i>golooooooooo</i>.<br>
            Indico que preciso de um substituto, essa corrida, trote, parada, corrida, trote, parada é muito intensa para mim.<br>
            Meus pulmões estão queimando, estou fora de forma.<br>

        </p>
        <div class="image-container">
            <img src="https://img.iol.pt/image/id/67dde69ad34e3f0bae9bf770/1024">
        </div>
        <p>
            O evento acima aconteceu na despedida de solteiro do primo do Daniel.<br>
            Até hoje, é provavelmente a despedida de solteiro mais divertida que já participei.<br>
            Só pode ser, já que foi organizada pelo meu filho.<br>
            Não foi uma festa normal: bebida e acordar com dor de cabeça.<br>
            Não, começamos no campo de paintball, tomamos um lanche e, em seguida, assistimos a um mini torneio de
            futsal e um braai (churrasco em Afrikaans.)<br>
        </p>
        <h3>Determinando seu nível de saúde física</h3>
            <p>
            A frequência cardíaca em repouso é usada para determinar seu nível de aptidão cardiovascular. <br>
            Antes de tentar qualquer programa de condicionamento físico, é preciso saber qual é o seu nível de aptidão cardiovascular,
            especialmente se você não pratica exercícios há algum tempo.<br>
            <span style="font-size:0.8em">Também é recomendável fazer um check-up físico com seu médico antes de realizar tal atividade.</span><br>
                Ele determina o número de vezes que seu coração bate por minuto enquanto você está em repouso.
                É uma indicação de como seu músculo cardíaco está funcionando.<br>
            </p>
            <framed-Text>
                <p>
                    A frequência cardíaca normal em repouso para adultos deve estar entre 60 e 100 batimentos por minuto.<br>
                    Em média, uma frequência cardíaca em repouso mais baixa sugere uma função cardíaca mais eficiente e melhor saúde cardiovascular.<br>
                    Atletas experientes às vezes apresentam uma frequência cardíaca em repouso próxima a 40 batimentos por minuto.<br>
                    <i>No momento em que escrevo isto, minha frequência cardíaca em repouso é de 53 bpm.<br>
                    &quot;Nada mal para uma criança de sessenta anos&quot;, penso comigo mesmo.</i><br>

                </p>
            </framed-Text>
            <p>
                Portanto, deve-se determinar o condicionamento físico e, então, realizar atividades em um determinado nível, e não se precipitar
                em em uma atividade física como fiz acima.<br>
            </p>
            <details>
                <summary>
                    <p>
                        Devo ter atingido meu <span class="my-p">VO2Máx</span> rapidamente.<br>
                        <strong>Isso é estúpido e muito perigoso.</strong><br>
                    </p>                   
                </summary>
                <framed-text>
                    <h3>O que é VO2Máx?</h3>
                    <p>
                        É a quantidade máxima de oxigênio que seu corpo pode usar durante o exercício.<br>
                        É um indicador-chave do seu condicionamento aeróbico e resistência cardiovascular.<br>
                        Quanto mais oxigênio seu corpo pode consumir, mais energia você pode gerar.<br>
                        Quanto mais eficientemente seu corpo usa o oxigênio, melhor você consegue lidar com atividades
                        que exigem muito oxigênio, como correr e nadar.
                    </p>
                </framed-text>
            </details>           
            
            <div class="image-container">
                <img src="https://www.belmarrahealth.com/wp-content/uploads/2018/01/resting-heart-rate-chart-763x1024.png">
            </div>
            <ul>
                Veja como usar a frequência cardíaca em repouso:
            <li>Para avaliar sua saúde atual e futura</li>
            <li><strong>Para monitorar seu nível de condicionamento aeróbico</strong></li>
            <li>Para verificar se você está apto para o treino, se está sobrecarregado ou estressado</li>
            <li>Para identificar potenciais problemas de saúde</li>
            <li><strong>Para monitorar seu progresso ao longo do tempo
                </strong></li>
                <li><span style="color:red"><strong>Para ajudar você a atingir sua frequência cardíaca alvo durante o exercício</strong></span></li>
            </ul>
            <p>
                Observe o que está em vermelho, pois usaremos esse ponto para ajudar a desenvolver nossa 
                <strong>Rotina de exercícios para queima de gordura</strong>.<br>
            </p>        
    </blockquote>
    <blockquote>
        <h2>Isso significa que podemos atingir nosso VO2Máximo para queimar mais energia e queimar mais gordura?</h2>
        <p>
            Bem, minha resposta seria não.<br>
            O VO2Máx do seu corpo é uma medida do volume máximo de oxigênio que ele pode usar e é um fator importante
            na determinação do seu nível de resistência.<br>
            <strong>O problema é que nenhum de nós será capaz de medir nosso VO2Máx durante exercícios normais.</strong><br>
            Relógios fitness não fazem isso e, obviamente, você não tem um laboratório na sua academia local.<br>
            O que fazemos é usar outra métrica durante os exercícios, chamada <strong>VMAX</strong><br>          
        </p>
    </blockquote>
    <blockquote>
        <h2>VMAX</h2>
        <p>
            VMAX descreve o nível de esforço quando você sente que não consegue inspirar tanto ar quanto seu corpo deseja.<br>
            <strong>Este é o ponto em que você não consegue mais manter uma conversa confortavelmente.</strong><br>
        </p>

    </blockquote>
    <blockquote>
        <h2>Qual programa de exercícios é o mais eficaz para perda de peso</h2>
        <p>
            Se você quer perder peso, uma das primeiras perguntas que provavelmente se fará é: como devo treinar?<br>
            Devo fazer exercícios aeróbicos tradicionais, como corrida, ou é melhor começar a levantar pesos? Ou talvez ambos.<br>
            Ou, se você tem pouco tempo, qual é o mais eficaz considerando o tempo disponível
            para se exercitar?<br>
        </p>
        <h3>Cardiovascular</h3>
        <p>
            A visão tradicional é que, se você quer perder gordura, deve fazer mais exercícios cardiovasculares, e se quer ganhar músculos,
           deve ir à academia e levantar pesos pesados.<br>
            <strong>Mas esse tipo de pensamento não faz sentido.</strong><br>
            O principal fator para a perda de peso é o déficit calórico, o que significa que você consome menos energia do que queima normalmente.<br>
            Você pode atingir esse déficit de várias maneiras, não apenas com exercícios aeróbicos.<br>
            Mais uma vez, recomendo que você consulte meu blog.<a href="./2025-03-25-fat-loss-formula.html">A Fórmula Secreta para Perder Gordura</a>, onde eu entro
            em mais em detalhes sobre isso.<br>
        </p>
        <p>
            Se você correr por cerca de uma hora, pode esperar queimar entre 400 e 600 kcal, dependendo da intensidade e do seu peso corporal.<br>
            Agora, com o tempo, à medida que você fica mais em forma fazendo exercícios cardiovasculares, cada vez menos energia é necessária para continuar fazendo os mesmos tipos de exercícios.
            Você precisa ter cuidado, pois pode superestimar as calorias queimadas e, consequentemente, comer demais, resultando em engordar
            em vez de perder mais peso, se esse for o seu objetivo.<br>
            <strong>Isso se aplica a qualquer tipo de exercício, não apenas aos cardiovasculares.</strong><br>
        </p>
        <div class="image-container">
            <img src="https://nit.pt/wp-content/uploads/2018/11/a1c2ca9f5bdb6045d48199653d16674a-754x394.jpg">
        </div>
        <h3>Treinamento de resistência e pesos</h3>        
        <p>
            Uma rotina normal de levantamento de peso queima apenas de duas a 300 calorias por sessão, talvez um pouco mais.<br>
            Portanto, se considerarmos apenas as calorias queimadas a cada treino de uma hora, o cardio seria o vencedor.<br>
        </p>
        <div class="image-container">
            <img src="https://www.health.com/thmb/Je1gvSrl_1G7Nb8BTCs-IGML-XQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Health-GettyImages-1320506574-ab7ee9d7aaa34134b346b564fc51fa26.jpg">
        </div>
        <h3>O efeito pós-queimadura</h3>
        <p>
            O efeito pós-queima, também conhecido como consumo excessivo de oxigênio pós-exercício (EPOC), é o aumento da taxa de oxigênio e do consumo de calorias após um treino.<br>
            É a energia que seu corpo usa para retornar ao estado de repouso.<br>
            Em outras palavras, é a energia que seu corpo usa para se recuperar após uma sessão de cardio ou levantamento de peso.<br>
            É um fato conhecido que o efeito pós-queima do treinamento de resistência é maior do que o do cardio.<br>
            Mesmo que isso seja verdade, o consumo total de energia ainda é maior no cardio do que em uma sessão de levantamento de peso.<br>
            <strong>Portanto, o ponto principal em termos de calorias queimadas é que o cardio é melhor do que o levantamento de peso.</strong>             
        </p>
        <div class="image-container">
            <img src="https://www.lvfitinc.com/wp-content/uploads/2018/01/afterburn_effect.jpg">
         </div>
        <h3>Isso significa que devo escolher exercícios cardiovasculares em vez de levantamento de peso?</h3>
        <p>
            Não, <strong>A chave é a composição corporal.</strong><br>
            Seu objetivo não deve ser apenas perder peso, mas perder gordura, ter uma ótima aparência e se sentir bem. Na verdade, você quer ganhar peso
            na forma de músculos e perder peso na forma de gordura.<br>
        </p>
            <framed-text>
                <p>
                    A maioria dos iniciantes faz muito cardio e pouco treinamento com pesos.<br>
                    Eles se esforçam na esteira por horas e horas e podem até perder algum peso.<br>
                    Mas, como fazem muito pouco para manter os músculos por meio do treinamento de resistência,
                    seu corpo não só perde gordura, mas também músculos, e é por isso que muitos deles acabam parecendo fracos e magros.<br>
                </p>
            </framed-text>
        
        <p>
            Então, o que eu recomendo é um programa que utilize tanto o treinamento com pesos para construir músculos quanto o cardio para maximizar a perda de gordura.<br>
            <strong>Mas como fazer isso, já que o cardio faz pouco pela construção muscular e o levantamento de peso não faz tanto pela perda de peso?<br>
            </strong>
        </p>
     
    </blockquote>

    <blockquote>
        <h2>O programa de exercícios Super Fat Burner</h2>     
        <p>
            Mais um ponto antes de compartilhar esse segredo com você.<br>
            Você não vai acreditar como é simples de implementar.<br>
        </p>
        <p>
            Como observei, queremos perder peso, mas manter e construir músculos, pois sabemos que quanto mais músculos
            temos, mais nosso corpo queima gordura.<br>
            Portanto, precisamos de uma rotina que não sobrecarregue nossos músculos para que ainda possamos fazer nossas rotinas de construção muscular
            (treinamento de resistência) e usar este <strong>Queimador de Gordura</strong> nos nossos dias de descanso.<br>
            Portanto, uma longa sessão de cardio, embora saibamos que é ótima para queimar calorias e resulta em perda de peso,
            infelizmente não promove o crescimento muscular.<br>
        </p>
            <div class="image-container">
                <img  src="https://static.independent.co.uk/2022/09/27/08/2da9bb2abca5ccbb35b5ffe37e247406Y29udGVudHNlYXJjaGFwaSwxNjYyNDc0MDcy-2.68164848.jpg">
            </div> 
            <p>
                Precisamos de uma rotina que possa atingir nossas <strong>zonas de queima de gordura</strong> rapidamente e as sessões devem ser curtas o suficiente
                para que não esgotem nossa recuperação energética para os dias de treinamento de resistência.<br>
                Também é recomendável concentrar mais dias nos pesos ou no treinamento de resistência com o peso corporal e
                fazer este <strong>Queimador de Gordura</strong> uma ou, no máximo, duas vezes por semana.<br>
            </p>             

        <div class="video-container2">
            <iframe src="https://youtube.com/embed/0LgLtjjC8cM?feature=share"></iframe>"
        </div>
        <p>
            Adoro fazer caminhadas no campo nos meus dias de folga do treino de musculação ou da calistenia.<br>
        Neste dia em particular, o dia em que conheci meu amigo no vídeo acima, decidi adicionar uma 
        <strong>Sessão de Queima de Gordura</strong> à minha caminhada.<br>
        </p>        
        <ul>
            So Foi assim que eu fiz.<br>
            <li>Aumentei meu ritmo de caminhada a um nível em que minha respiração estava num ponto em que eu me sentiria desconfortável para conversar.
            Eu andava assim por cerca de dois minutos.
            </li>
            <li>
                Em seguida, eu parava e corria o mais rápido que podia, no mesmo lugar, com os joelhos o mais alto possível.<br>
                Comecei a respirar mais pesado e mais rápido.<br>
                Eu conseguia sentir, mas não conseguia falar, então...<br>
                <strong>Este é o meu indicador de que atingi o VMAX.</strong><br>
                Tento manter esse ritmo por 30 segundos ou mais.<br>
                <i>À medida que você ficar mais em forma, descobrirá que consegue manter esse ritmo por mais tempo.</i>               
            </li>
            <li>
                Eu parava de correr imediatamente e começava a caminhar novamente em um ritmo rápido.<br>
                Por mais ou menos um minuto eu ficava naquele ponto, onde conseguia falar entre algumas respirações.<br>
                Eu parava e repetia minha corrida na parada, atingindo a VMAX novamente.<br>
            </li>           
        </ul>
        <p>
            Eu faria isso por cerca de 20 minutos, transformando este exercício simples em uma <strong>Máquina de Queimar Gordura</strong>.<br>
            É bem fácil e se chama <strong>HIIT - Treinamento Intervalado de Alta Intensidade</strong>.<br>
        </p>

        <p>
            Observe que você pode pegar basicamente qualquer treino cardiovascular e fazê-lo dessa maneira.<br>
            Quando estou em casa, posso subir na minha bicicleta ergométrica e fazer uma sessão de HIIT.<br>
            Às vezes, até sigo uma das muitas sessões do YouTube, como no vídeo abaixo.<br>
            <div class="video-container2">
                <iframe src="https://www.youtube.com/embed/lwuFoUHxHJ0?si=jIrpCECtQ_CQYMCt"></iframe>
            </div>
        </p>
    </blockquote>
    <blockquote>
        <h2> Planear seu treino HIIT</h2>
        <ol>
            Portanto, ao planear seu treino HIIT, você precisa fazer duas coisas.
            <li>
                Primeiro, seu objetivo é atingir e manter seu VMAX durante seus períodos de alta intensidade. <br>
                Isso significa que você precisa se mover rápido e por tempo suficiente para dificultar a respiração e
                precisa manter essa velocidade por algum tempo. <br>
                Então, obviamente, isso significa trabalho duro, pense em corrida rápida, não em trote. <br>
                <strong>Pense em velocidade e não em resistência aqui.</strong>
            </li>
            <li>
                Em seguida, você precisa atingir e manter esse nível de esforço VMAX repetidamente durante seus treinos HIIT.
                Isso é importante porque o tempo total gasto em VMAX determinará a eficácia geral
                do seu treino HIIT.
            </li>
        </ol>
  
    </blockquote>
    <blockquote>
        <h2>HIIT - Treinamento Intervalado de Alta Intensidade</h2>
        <p>
            Agora que sabemos como implementar esta <strong>Rotina de Exercícios para Queima de Gordura</strong>, vamos ver por que ela funciona.<br>
            Vamos ver como o treinamento intervalado de alta intensidade (HIIT) pode ajudar seu corpo a usar gordura como energia em vez de carboidratos,
            e pode aumentar a taxa de queima de gordura.<br>
        </p>
        <framed-text>
            <ul>Como o HITT usa gordura:
                <li>
                    O HIIT utiliza as reservas de energia do corpo, que incluem gordura.<br>
                </li>
                <li>
                O HIIT acelera o metabolismo, permitindo a queima de calorias por horas após o término do exercício.<br>
                </li>
                <li>
                Durante o período de recuperação, o corpo utiliza as reservas de gordura para se restaurar ao seu estado normal de repouso.<br>
                </li>
                <li>
                O HIIT pode ajudar a construir músculos, sendo, portanto, um ótimo companheiro para o treino muscular.<br>
                </li>
                <li>
                O HIIT pode reduzir a pressão arterial e a frequência cardíaca.<br>
                </li>
                <li>

                    O HIIT pode melhorar o volume sistólico e a capacidade oxidativa do músculo.<br>
                </li>
                
                <li>
                    HIIT melhora seu desempenho aeróbico.<br>      
    
                </li>         
            </ul>
            <ul>
                HIIT e perda de peso:
                <li>
                    Estudos mostraram que o HIIT pode reduzir a porcentagem de gordura corporal e a circunferência da cintura e do quadril.<br>
                </li>
            </ul>
            <ul>
                HIIT e metabolismo:
                <li>
                    O HIIT pode mudar o metabolismo do seu corpo para usar gordura como energia em vez de carboidratos.
                </li>
                <li>
                Ele também pode tornar seu metabolismo mais flexível, permitindo que ele alterne entre carboidratos e gorduras como fonte de combustível.
                </li>
                <li>
                O treinamento intervalado de alta intensidade (HIIT) esgota os estoques de glicogênio muscular, que são a reserva de combustível de emergência do corpo.
                </li>
                <li>
                Essa redução pode ajudar na perda de peso e melhorar o condicionamento físico e a função metabólica.
                </li>
                </ul>
                <ul>
                Como o HIIT esgota o glicogênio:
                <li>
                O HIIT pode esgotar os estoques de glicogênio em menos de 10 minutos.
                </li>
                <li>
                O HIIT pode esgotar completamente o glicogênio em apenas dois sprints de esforço máximo.
                </li>
                <li>
                O HIIT usa o glicogênio muscular a uma taxa tal que o corpo aumenta o número e a atividade das mitocôndrias nos músculos.
                </li>	
            </ul>
            <ul>
                Como o HIIT melhora o condicionamento físico:
                <li>
                O HIIT pode melhorar o condicionamento cardiovascular, o VO2máx e a capacidade de resistência.
                </li>
                <li>
                O HIIT também pode desencadear a liberação do hormônio do crescimento humano e da testosterona, ambos desempenhando um papel fundamental no metabolismo da gordura.
                Isso se mostrou verdadeiro apenas para homens, então, mulheres, <strong>Não tenham medo do HIIT</strong>
                    <framed-text>
                        O treinamento intervalado de alta intensidade (HIIT) aumenta a testosterona em homens devido à resposta hormonal do corpo ao estresse induzido pelo exercício.
                        O HIIT demonstrou ter o efeito oposto nos níveis de testosterona em mulheres.
                    </framed-text>
                </li>
            </ul>
 
        </framed-text>
    </blockquote>  

    <blockquote>
        <p>
            Antes de terminar este blog, gostaria de acrescentar algo ao que já foi dito sobre o HIIT.<br>
            Esses caras (e moças) neste vídeo abaixo
            mostram que é possível fazer isso sem nenhum equipamento, sem mensalidades caras de academia
            e, nossa, até mesmo curtindo a natureza.<br>
                      
        </p>
        <div class="video-container2">
            <iframe src="https://youtube.com/embed/2_ZhxkCtMxo?si=5AM-CwLVnP73HBDn"></iframe>
        </div>
        <p>
            Espero que tenham gostado e que a gente se encontre por aí, quem sabe façamos uma sessão de HIIT juntos...<br>            
        </p>
        <div class="image-container">
            <img src="https://www.lvfitinc.com/wp-content/uploads/2018/01/badassgirl.jpg">
        </div>
 
    </blockquote>


      <!-- Comments -->
      {% include_relative include_me/comment_prt.html %}
   
      <!-- References-->
      <div>
         References:<br />
         <a href ="https://www.netmeds.com/health-library/post/here-s-the-secret-to-maintaining-weight-loss">Here's The Secret To Maintaining Weight Loss (Main Image)</a><br>
        <a href="https://www.msdmanuals.com/home/disorders-of-nutrition/overview-of-nutrition/carbohydrates-proteins-and-fats#Carbohydrates_v60557845">Carbohydrates, Proteins, and Fats</a><br>
        <a href="https://higherperformance.sg/2022/01/27/why-gaining-muscle-helps-you-lose-fat/">Why Gaining Muscle Helps You Lose Fat</a><br>
        <a href="https://www.belmarrahealth.com/resting-heart-rate-chart-factors-influence-heart-rate-elderly/">Resting heart rate chart: Factors that influence heart rate in elderly</a>
        <a href="https://blog.ohiohealth.com/target-heart-rate-exercise/">Find Your Target Heart Rate for Exercise</a>
        <a href="https://www.healthline.com/nutrition/benefits-of-hiit">7 Benefits of High Intensity Interval Training (HIIT)</a><br>
        <a href="https://www.lvfitinc.com/lv-afterburn-effect/">The LV Afterburn Effect</a><br>
    </body>
 </html>